{{ define "main" }}

{{ $thoughtsCSS := resources.Get "css/thoughts.css" | minify | fingerprint }}
<link rel="stylesheet" href="{{ $thoughtsCSS.RelPermalink }}" integrity="{{ $thoughtsCSS.Data.Integrity }}" media="screen">

<div class="thoughts-content">
    <div class="thoughts-filters">
        <div class="filter-categories">
            <button class="filter-btn active" data-filter="all">
                <i class='bx bx-collection'></i> All
            </button>
            {{ range $.Site.Data.thoughts.categories }}
            <button class="filter-btn" data-filter="{{ .name }}">
                {{ with .icon }}
                <i class='bx {{ . }}'></i>
                {{ end }}
                {{ .name }}
            </button>
            {{ end }}
        </div>
    </div>

    {{ range $.Site.Data.thoughts.categories }}
    <section class="thought-category" data-category="{{ .name }}">
        <h2 class="category-title">{{ .name }}</h2>
        
        <div class="thoughts-grid">
            {{ range .thoughts }}
            <article class="thought-card {{ if .title }}essay{{ end }}">
                <div class="thought-meta">
                    <time datetime="{{ .date }}">{{ dateFormat "Jan 02" .date }}</time>
                </div>

                {{ if .title }}
                <h3 class="thought-title">{{ .title }}</h3>
                {{ end }}

                <div class="thought-content">
                    {{ .content | markdownify }}
                </div>

                {{ with .responses }}
                <div class="thought-responses">
                    {{ range . }}
                    <div class="response">
                        <span class="response-author">{{ .author }}</span>
                        <p>{{ .content }}</p>
                    </div>
                    {{ end }}
                </div>
                {{ end }}

                {{ with .progress }}
                <div class="progress-bar">
                    <div class="progress" style="width: {{ . }}"></div>
                    <span class="progress-text">{{ . }}</span>
                </div>
                {{ end }}
            </article>
            {{ end }}
        </div>
    </section>
    {{ end }}
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    const filters = document.querySelectorAll('.filter-btn');
    const categories = document.querySelectorAll('.thought-category');

    filters.forEach(filter => {
        filter.addEventListener('click', function() {
            const filterValue = this.dataset.filter;
            
            filters.forEach(f => f.classList.remove('active'));
            this.classList.add('active');

            if (filterValue === 'all') {
                categories.forEach(cat => cat.style.display = 'block');
            } else {
                categories.forEach(cat => {
                    const categoryName = cat.dataset.category;
                    cat.style.display = categoryName === filterValue ? 'block' : 'none';
                });
            }
        });
    });
});
</script>

{{ end }}