{{ define "main" }}
{{ $projects := where .Site.RegularPages "Type" "project" }}

{{ $projectsCSS := resources.Get "css/projects.css" | minify | fingerprint }}
<link rel="stylesheet" href="{{ $projectsCSS.RelPermalink }}" integrity="{{ $projectsCSS.Data.Integrity }}" media="screen">

<main class="projects-container">
    {{ range $index, $project := $projects }}
    <article class="project-main">
        <div class="project-header">
            <div class="project-image">
                {{ partial "picture.html" (dict 
                    "src" .Params.image
                    "alt" .Title
                    "loading" "lazy"
                    "decoding" "async"
                    "width" "280"
                    "height" "180"
                    "priority" (eq $index 0)
                    "aspectRatio" "16/9"
                ) }}
            </div>
            <div class="project-meta">
                <h2 class="project-title">
                    <a href="{{ .Permalink }}" aria-label="View project: {{ .Title }}">{{ .Title }}</a>
                </h2>
                <ul>
                    <li>
                        <strong>Date:</strong>
                        <time datetime="{{ .Date.Format "2006-01-02" }}">
                            {{ .Date.Format "January 02, 2006" }}
                        </time>
                    </li>
                    <li><strong>Skills:</strong> {{ .Params.skills }}</li>
                </ul>
            </div>
        </div>
        <p class="project-description">{{ .Description }}</p>
    </article>
    {{ end }}
</main>
{{ end }}