<h{{ .Level }} id="{{ .Anchor | safeURL }}" class="anchor-header">
    {{ .Text | safeHTML }}
    <a href="#{{ .Anchor }}" class="anchor-link">
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="currentColor">
            <path d="M16.018 3.815 15.232 8h-4.966l.716-3.815-1.964-.37L8.232 8H4v2h3.857l-.751 4H3v2h3.731l-.714 3.805 1.965.369L8.766 16h4.966l-.714 3.805 1.965.369.783-4.174H20v-2h-3.859l.751-4H21V8h-3.733l.716-3.815-1.965-.37zM14.106 14H9.141l.751-4h4.966l-.752 4z"/>
        </svg>
    </a>
</h{{ .Level }}>

<style>
    .anchor-link {
        visibility: hidden;
        text-decoration: none;
        color: #ababab !important;
    }

    .anchor-header {
        margin: .5em 0;
    }

    .anchor-header:hover .anchor-link {
        visibility: visible;
    }

    .anchor-link:hover svg {
        transform: scale(1.1);
    }

    .anchor-link svg {
        transition: transform .3s;
        vertical-align: middle;
        margin-left: 5px;
    }
</style>
