{{ define "main" }}

{{ $aboutCSS := resources.Get "css/about.css" | minify | fingerprint }}
<link rel="stylesheet" href="{{ $aboutCSS.RelPermalink }}" integrity="{{ $aboutCSS.Data.Integrity }}" media="screen">

<div class="about-page">
    {{ with .Site.Params.authors }}
    {{ range .allAuthors }}
    <div class="about-me" id="{{ .name | urlize }}">
        <div class="about-me-image">
            {{ partial "picture.html" (dict 
                "src" .image
                "alt" (printf "Profile image of %s" .name)
                "loading" "lazy"
                "decoding" "async"
                "width" "100%"
                "height" "auto"
            ) }}
        </div>
        <div class="about-me-content">
            <h2>{{ .name }}</h2>
            <h3>{{ .title }}</h3>
            <p class="about-me-description">{{ .description }}</p>

            {{ if .socialLinks }}
            <h3>SOCIAL LINKS</h3>
            <div class="about-me-links-list">
                {{ range .socialLinks }}
                <a href="{{ .URL }}">
                    <i class="{{ .Icon }}"></i>&nbsp;{{ .Name }}
                </a>
                {{ end }}
            </div>
            {{ end }}
        </div>
    </div>
    {{ end }}
    {{ end }}
</div>
{{ end }}