{{ define "main" -}}
<div class="links-container">
    {{ with .Site.Data.links.description }}
    <div class="links-header">
        <p class="links-description">{{ . }}</p>
    </div>
    {{ end }}
    
    <div class="links-grid">
        {{ range $area, $links := .Site.Data.links }}
        <section class="links-section">
            <div class="section-header">
                <h2 id="{{ replace $area " " "-" }}" class="links-area-title">{{ $area }}</h2>
                <span class="link-count">{{ len (where $links "url" "!=" nil) }} links</span>
            </div>
            <div class="links-cards-grid">
                {{ range $link := where $links "url" "!=" nil }}
                <div class="links-card">
                    <div class="card-content">
                        <a href="{{ $link.url }}" target="_blank" rel="noopener noreferrer" class="link-title">
                            {{ $link.name | safeHTML }}
                            <span class="link-arrow">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                    <path d="M7 17l9.2-9.2M17 17V7H7"/>
                                </svg>
                            </span>
                        </a>
                        <p class="link-description">{{ $link.description }}</p>
                    </div>
                </div>
                {{ end }}
            </div>
        </section>
        {{ end }}
    </div>
</div>

{{ $linksCSS := resources.Get "css/links.css" | minify | fingerprint }}
<link rel="stylesheet" href="{{ $linksCSS.RelPermalink }}" integrity="{{ $linksCSS.Data.Integrity }}" media="screen">

<script async>
    const toc = document.querySelector('.toc');
    if (toc) {
        const posts = document.querySelectorAll('.main-content');
        posts.forEach((post) => {
            const tocList = toc.querySelector('#TableOfContents');
            if (tocList) {
                const headings = post.querySelectorAll('h2');
                headings.forEach((heading) => {
                    const link = document.createElement('a');
                    link.textContent = heading.textContent;
                    link.setAttribute('href', `#${heading.getAttribute('id')}`);
                    
                    const listItem = document.createElement('li');
                    listItem.appendChild(link);
                    tocList.appendChild(listItem);
                });
            }
        });
    }
</script>
{{ end }}