.carousel {
    position: relative;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.carousel ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none; /* Firefox */
    background: #f8f8f8;
}

.carousel ul::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
}

.carousel ul li {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    position: relative;
    scroll-snap-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
}

.carousel .slide-image {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.carousel .slide-image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    transition: transform 0.5s ease;
}

.carousel ul li:hover .slide-image img {
    transform: scale(1.02);
}

/* Position the dots inside the carousel */
.carousel ol {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    padding: 6px 16px;
    margin: 0;
    list-style: none;
    z-index: 5;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 30px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.carousel:hover ol {
    transform: translateX(-50%) translateY(-5px);
}

.carousel ol li {
    margin: 0 5px;
    transition: transform 0.2s ease;
}

.carousel ol li:hover {
    transform: scale(1.2);
}

.carousel ol li a {
    display: block;
    width: 10px;
    height: 10px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 1px solid transparent;
}

.carousel ol li a:hover {
    background: rgba(255, 255, 255, 0.8);
}

.carousel ol li.selected a {
    background: #ffffff;
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
    transform: scale(1.2);
    border: 1px solid rgba(255, 255, 255, 0.8);
}

.carousel .prev,
.carousel .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 0;
    cursor: pointer;
    font-size: 24px;
    line-height: 1;
    user-select: none;
    z-index: 5;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    opacity: 0.7;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}

.carousel:hover .prev,
.carousel:hover .next {
    opacity: 1;
}

.carousel .prev:hover,
.carousel .next:hover {
    background: rgba(0, 0, 0, 0.7);
    transform: translateY(-50%) scale(1.1);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.carousel .prev:active,
.carousel .next:active {
    transform: translateY(-50%) scale(0.95);
}

.carousel .prev {
    left: 15px;
}

.carousel .next {
    right: 15px;
}

/* Improved responsive styles */
@media only screen and (max-width: 768px) {
    .carousel {
        margin: 0.5rem 0 2rem 0;
        border-radius: 6px;
    }

    .carousel ul {
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
    }

    .carousel ul li {
        min-width: 100%;
        height: auto;
    }

    /* Enhanced mobile navigation buttons */
    .carousel .prev,
    .carousel .next {
        font-size: 20px;
        background-color: rgba(0, 0, 0, 0.75);
        border-radius: 12px;
        width: 36px;
        height: 48px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
        opacity: 1;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid rgba(255, 255, 255, 0.15);
    }

    .carousel .prev {
        left: 0;
        border-radius: 0 12px 12px 0;
        padding-right: 2px;
    }

    .carousel .next {
        right: 0;
        border-radius: 12px 0 0 12px;
        padding-left: 2px;
    }

    /* Enhanced mobile dots */
    .carousel ol {
        bottom: 0;
        padding: 8px 16px;
        background: rgba(0, 0, 0, 0.75);
        border-radius: 16px 16px 0 0;
        width: auto;
        min-width: 160px;
        box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px);
    }

    .carousel ol li {
        margin: 0 6px;
    }

    .carousel ol li a {
        width: 8px;
        height: 8px;
        background: rgba(255, 255, 255, 0.4);
        border: 1px solid rgba(255, 255, 255, 0.6);
    }

    .carousel ol li.selected a {
        width: 10px;
        height: 10px;
        background: #ffffff;
        border: 1px solid rgba(255, 255, 255, 0.8);
        box-shadow: 0 0 8px rgba(255, 255, 255, 0.4);
    }

    .slide-image img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

@media only screen and (max-width: 480px) {
    .carousel {
        margin: 0.25rem 0 1.5rem 0;
        border-radius: 5px;
    }

    /* Refined navigation for smaller screens */
    .carousel .prev,
    .carousel .next {
        font-size: 18px;
        width: 32px;
        height: 44px;
        background-color: rgba(0, 0, 0, 0.75);
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    }

    /* Adjusted dots for smaller screens */
    .carousel ol {
        padding: 6px 14px 8px;
        min-width: 140px;
    }

    .carousel ol li {
        margin: 0 5px;
    }

    .carousel ol li a {
        width: 6px;
        height: 6px;
    }

    .carousel ol li.selected a {
        width: 8px;
        height: 8px;
    }
}

/* Extra small devices */
@media only screen and (max-width: 320px) {
    /* Compact navigation for very small screens */
    .carousel .prev,
    .carousel .next {
        font-size: 16px;
        width: 28px;
        height: 40px;
    }

    /* Minimal dots for very small screens */
    .carousel ol {
        padding: 6px 12px 8px;
        min-width: 120px;
    }

    .carousel ol li {
        margin: 0 4px;
    }

    .carousel ol li a {
        width: 5px;
        height: 5px;
    }

    .carousel ol li.selected a {
        width: 7px;
        height: 7px;
    }
}

/* Touch-friendly improvements */
@media (pointer: coarse) {
    .carousel .prev,
    .carousel .next {
        opacity: 1;
        background-color: rgba(0, 0, 0, 0.75);
        width: 36px;
        height: 48px;
    }

    .carousel ol {
        padding: 8px 18px 10px;
        background: rgba(0, 0, 0, 0.75);
    }

    .carousel ol li {
        margin: 0 6px;
    }

    .carousel ol li a {
        width: 10px;
        height: 10px;
        position: relative;
    }

    .carousel ol li.selected a {
        width: 12px;
        height: 12px;
    }

    .carousel ol li a::after {
        content: '';
        position: absolute;
        top: -10px;
        left: -10px;
        right: -10px;
        bottom: -10px;
    }
}

/* Active states for touch devices */
@media (pointer: coarse) {
    .carousel .prev:active,
    .carousel .next:active {
        background-color: rgba(0, 0, 0, 0.9);
        transform: translateY(-50%) scale(0.95);
    }

    .carousel ol li a:active {
        background: rgba(255, 255, 255, 0.9);
        transform: scale(1.2);
    }
}

/* Dark mode support */
@media (prefers-color-scheme: dark) {
    .carousel {
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    }
    
    .carousel ul {
        background: #222;
    }
    
    .carousel ol {
        background: rgba(0, 0, 0, 0.6);
    }
    
    .carousel .prev,
    .carousel .next {
        background: rgba(0, 0, 0, 0.7);
    }
    
    .carousel .prev:hover,
    .carousel .next:hover {
        background: rgba(0, 0, 0, 0.85);
    }
}