.tab-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    border-bottom: 1px solid #00aaff;
    border-radius: 5px;
}

.tab-nav-item {
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    opacity: 0.8;
    margin: 0 !important;
    font-size: 1rem;
    border-radius: 100%;
    border-bottom: 2px solid transparent;
    transition: opacity 0.3s, border-bottom-color 0.3s;
}

.tab-nav-item::before {
    display: none;
}

.tab-nav-item.active {
    border-bottom: 2px solid #00aaff;
    opacity: 1;
}

.tab-content .tab-content-panel {
    display: none;
    padding: 1rem 0.5rem 0 0.5rem;
    transition: display 0.3s ease-in-out;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: #fff;
}

.tab-content .tab-content-panel p {
    margin-bottom: 0;
}

.tab-content .tab-content-panel.active {
    display: block;
}