{{ $comments := index site.Data.comments (.File.ContentBaseName) }}
{{ $authors := slice }}
{{ range .Site.Params.authors.allAuthors }}
    {{ $authors = $authors | append .name }}
{{ end }}

<div class="comments-section" data-lazy-comments>
    <div class="comments-placeholder">
        <div class="comments-loading">
            <i class='bx bx-loader-alt bx-spin'></i>
            <span>Loading comments...</span>
        </div>
    </div>
    
    <div class="comments-content hidden">
        <h3 class="comments-title">Comments</h3>
        
        {{ if $comments }}
        <div class="comments-list">
            {{ range sort $comments "date" "desc" }}
            {{ $isAuthor := false }}
            {{ $commentAuthor := .author }}
            {{ range $authors }}
                {{ if eq . $commentAuthor }}
                    {{ $isAuthor = true }}
                {{ end }}
            {{ end }}
            <div class="comment-item{{ if $isAuthor }} author-comment{{ end }}">
                <div class="comment-header">
                    <span class="comment-author">
                        {{ .author }}
                        {{ if $isAuthor }}
                            <span class="author-badge" title="Blog Author">
                                <i class='bx bxs-badge-check'></i>
                            </span>
                        {{ end }}
                    </span>
                    <span class="comment-date">{{ time.Format "2 January, 2006" .date }}</span>
                </div>
                <div class="comment-content comment-no-anchor">{{ .content | markdownify }}</div>
            </div>
            {{ end }}
        </div>
        {{ else }}
        <p class="no-comments">No comments yet. Be the first to comment!</p>
        {{ end }}

        <div class="comment-form">
            <div class="notification-container"></div>
            <h4>Leave a Comment</h4>
            <p class="comment-note">Comments are moderated for security reasons. Your comment will be added after review.</p>
            
            <form id="comment-form">
                <input type="hidden" name="post" value="{{ .File.ContentBaseName }}">
                <input type="hidden" name="url" value="{{ .Permalink }}">
                
                <div class="form-group form-row">
                    <div class="form-col">
                        <label for="name">Name <span class="optional">(optional)</span></label>
                        <input type="text" id="name" name="name" maxlength="100" placeholder="Anonymous">
                    </div>
                    <div class="form-col">
                        <label for="email">Email <span class="optional">(optional)</span></label>
                        <input type="email" id="email" name="email" maxlength="100" placeholder="Not publicly displayed">
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="comment">Comment *<span class="char-counter">0/1000</span></label>
                    <div class="markdown-toolbar">
                        <button type="button" data-md="**" title="Bold"><i class='bx bx-bold'></i></button>
                        <button type="button" data-md="_" title="Italic (underscore)"><i class='bx bx-italic'></i></button>
                        <button type="button" data-md="`" title="Code"><i class='bx bx-code'></i></button>
                        <button type="button" data-md="[](url)" title="Link"><i class='bx bx-link'></i></button>
                        <button type="button" data-md="![](url)" title="Image"><i class='bx bx-image'></i></button>
                        <button type="button" data-md="> " data-block="quote" title="Quote"><i class='bx bxs-quote-alt-right'></i></button>
                        <button type="button" data-md="* " data-block="list" title="List"><i class='bx bx-list-ul'></i></button>
                        <button type="button" data-md="1. " data-block="list" title="Numbered List"><i class='bx bx-list-ol'></i></button>
                        <button type="button" data-md="### " data-block="prefix" title="Heading"><i class='bx bx-heading'></i></button>
                        <button type="button" data-md="```\n\n```" data-block="wrap" data-offset="4" title="Code Block"><i class='bx bx-code-block'></i></button>
                        <button type="button" data-md="\n---\n" data-block="insert" title="Horizontal Rule"><i class='bx bx-minus'></i></button>
                        <div class="markdown-help">
                            <button type="button" class="help-button" title="Markdown Help"><i class='bx bx-help-circle'></i></button>
                            <div class="markdown-help-content hidden">
                                <div class="help-header">
                                    <h6>Markdown Guide</h6>
                                    <button type="button" class="close-help"><i class='bx bx-x'></i></button>
                                </div>
                                <div class="help-sections">
                                    <div class="help-section">
                                        <h6><i class='bx bx-text'></i>Text Formatting</h6>
                                        <div class="help-grid">
                                            <div class="help-item">
                                                <code>**bold**</code>
                                                <span class="help-preview"><strong>bold</strong></span>
                                            </div>
                                            <div class="help-item">
                                                <code>*italic*</code>
                                                <span class="help-preview"><em>italic</em></span>
                                            </div>
                                            <div class="help-item">
                                                <code>`code`</code>
                                                <span class="help-preview"><code>code</code></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="help-section">
                                        <h6><i class='bx bx-list-ul'></i>Lists</h6>
                                        <div class="help-grid">
                                            <div class="help-item">
                                                <code>* item</code>
                                                <span class="help-preview">• item</span>
                                            </div>
                                            <div class="help-item">
                                                <code>1. item</code>
                                                <span class="help-preview">1. item</span>
                                            </div>
                                            <div class="help-item">
                                                <code>    * nested</code>
                                                <span class="help-preview">&nbsp;&nbsp;• nested</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="help-section">
                                        <h6><i class='bx bx-link'></i>Links & Images</h6>
                                        <div class="help-grid">
                                            <div class="help-item">
                                                <code>[text](url)</code>
                                                <span class="help-preview"><a href="#">text</a></span>
                                            </div>
                                            <div class="help-item">
                                                <code>![alt](url)</code>
                                                <span class="help-preview">image</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="help-section">
                                        <h6><i class='bx bx-layout'></i>Blocks</h6>
                                        <div class="help-grid">
                                            <div class="help-item">
                                                <code>> quote</code>
                                                <span class="help-preview">blockquote</span>
                                            </div>
                                            <div class="help-item">
                                                <code>### Heading</code>
                                                <span class="help-preview">h3</span>
                                            </div>
                                            <div class="help-item">
                                                <code>```code```</code>
                                                <span class="help-preview">block</span>
                                            </div>
                                            <div class="help-item">
                                                <code>---</code>
                                                <span class="help-preview">line</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="editor-container">
                        <div class="editor-column">
                            <textarea id="comment" name="comment" rows="8" maxlength="1000" required placeholder="Write your comment here... Use the toolbar above for formatting."></textarea>
                        </div>
                        <div class="preview-column">
                            <div class="preview-header">Preview</div>
                            <div class="preview-content">
                                <div class="preview-placeholder">
                                    Your formatted comment will appear here...
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="form-actions">
                    <button type="submit" class="submit-comment">Submit Comment</button>
                </div>
            </form>
        </div>
    </div>
</div>

<style>
.comments-section {
    padding-top: 2rem;
    border-top: 1px solid rgba(92, 200, 44, 0.2);
    animation: fadeIn 0.3s ease-out;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}

.comments-title {
    font-size: 1.75rem;
    margin-bottom: 2rem;
    color: #f9f9f9;
    font-weight: 600;
    position: relative;
    display: inline-block;
}

.comments-title::after {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 40%;
    height: 3px;
    background: linear-gradient(90deg, #5cc82c, transparent);
    border-radius: 2px;
}

.comments-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;
}

.comment-item {
    background: rgba(51, 51, 51, 0.3);
    border: 1px solid #333;
    border-radius: 12px;
    padding: 1.5rem;
    transition: all 0.2s ease;
    position: relative;
    overflow: hidden;
}

.comment::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background: #5cc82c;
    opacity: 0.5;
}

.comment:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    border-color: rgba(92, 200, 44, 0.3);
}

.comment-header {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
    padding-bottom: 0.75rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.comment-author {
    font-weight: 600;
    color: #5cc82c;
    font-size: 1.1rem;
}

.comment-date {
    color: #666;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
}

.comment-date::before {
    content: '•';
    margin-right: 0.5rem;
    color: #444;
}

.comment-content,
.preview-content {
    color: #e1e1e1;
    line-height: 1.7;
    font-size: 1rem;
}

.comment-content h1,
.preview-content h1 {
    font-size: 2.25rem;
    margin: 1.75rem 0 1.75rem;
    font-weight: 700;
    line-height: 1.2;
}

.comment-content h2,
.preview-content h2 {
    font-size: 1.85rem;
    margin: 1.25rem 0 1.5rem;
    font-weight: 600;
    line-height: 1.3;
}

.comment-content h3,
.preview-content h3 {
    font-size: 1.5rem;
    margin: 1.25rem 0 1.25rem;
    font-weight: 600;
    line-height: 1.4;
}

.comment-content p,
.preview-content p {
    margin: 1.25rem 0;
    line-height: 1.8;
}

.comment-content a,
.preview-content a {
    color: #5cc82c;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: border-color 0.2s ease;
}

.comment-content a:hover,
.preview-content a:hover {
    border-bottom-color: #5cc82c;
}

.comment-content code,
.preview-content code {
    background: rgba(51, 51, 51, 0.5);
    padding: 0.2em 0.4em;
    border-radius: 4px;
    font-size: 0.9em;
    font-family: 'JetBrains Mono', monospace;
}

.comment-content pre,
.preview-content pre {
    background: rgba(51, 51, 51, 0.5);
    padding: 1.25rem;
    border-radius: 8px;
    overflow-x: auto;
    margin: 1.5rem 0;
    border: 1px solid #333;
}

.comment-content pre code,
.preview-content pre code {
    background: none;
    padding: 0;
    font-size: 0.95rem;
    line-height: 1.7;
    display: block;
}

.comment-content blockquote,
.preview-content blockquote {
    margin: 1.5rem 0;
    padding: 1rem 1.5rem;
    border-left: 4px solid #5cc82c;
    background: rgba(51, 51, 51, 0.3);
    font-style: italic;
    color: #e1e1e1;
}

.comment-content blockquote p,
.preview-content blockquote p {
    margin: 0.5rem 0;
}

.comment-content blockquote blockquote,
.preview-content blockquote blockquote {
    margin: 1rem 0;
    border-left-color: rgba(92, 200, 44, 0.6);
}

.comment-content ul,
.preview-content ul {
    list-style-type: disc;
    padding-left: 1.5rem;
    margin: 1.25rem 0;
}

.comment-content ol,
.preview-content ol {
    list-style-type: decimal;
    padding-left: 1.5rem;
    margin: 1.25rem 0;
}

.comment-content ul ul,
.preview-content ul ul {
    list-style-type: circle;
    margin: 0.5rem 0;
}

.comment-content ol ol,
.preview-content ol ol {
    list-style-type: lower-alpha;
    margin: 0.5rem 0;
}

.comment-content ul ul ul,
.preview-content ul ul ul {
    list-style-type: square;
}

.comment-content ol ol ol,
.preview-content ol ol ol {
    list-style-type: lower-roman;
}

.comment-content li,
.preview-content li {
    margin: 0.5rem 0;
    line-height: 1.7;
}

.comment-content img,
.preview-content img {
    max-width: 75%;
    height: auto;
    border-radius: 8px;
    margin: 1.5rem 0;
    display: block;
}

.comment-content hr,
.preview-content hr {
    border: none;
    height: 1px;
    background: linear-gradient(90deg, transparent, rgba(92, 200, 44, 0.3), transparent);
    margin: 2rem 0;
}

.comment-content table,
.preview-content table {
    width: 100%;
    border-collapse: collapse;
    margin: 1.5rem 0;
    background: rgba(51, 51, 51, 0.3);
    border: 1px solid #333;
}

.comment-content th,
.preview-content th {
    background: rgba(51, 51, 51, 0.5);
    border: 1px solid #333;
    padding: 0.75rem 1rem;
    text-align: left !important;
    font-weight: 600;
}

.comment-content td,
.preview-content td {
    border: 1px solid #333;
    padding: 0.75rem 1rem;
    text-align: left !important;
}

.comment-content tr:nth-child(even),
.preview-content tr:nth-child(even) {
    background: rgba(51, 51, 51, 0.2);
}

.no-comments {
  color: #666;
  font-style: italic;
  text-align: left;
  padding: 2rem 1rem;
  background: rgba(51,51,51,.2);
  border-radius: 12px;
}

.comment-form {
    margin-top: 2rem;
    background: rgba(51, 51, 51, 0.2);
    padding: 2rem;
    border-radius: 12px;
    border: 1px solid #333;
}

.comment-form h4 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
    color: #f9f9f9;
    font-weight: 600;
}

.comment-note {
    color: #888;
    font-size: 0.95rem;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.form-group {
    margin-bottom: 1.5rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.75rem;
    color: #f9f9f9;
    font-weight: 500;
    font-size: 1.1rem;
}

.char-counter {
    float: right;
    color: #666;
    font-size: 0.9rem;
    font-weight: normal;
    background: rgba(51, 51, 51, 0.3);
    padding: 0.2rem 0.5rem;
    border-radius: 4px;
    margin-top: 2px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 0.6rem 1rem;
    border: 1px solid #333;
    border-radius: 8px;
    background: #1d1d1d;
    color: #f9f9f9;
    font-size: 1rem;
    transition: all 0.2s ease;
    font-family: 'Poppins', sans-serif;
}

.form-group input:hover,
.form-group textarea:hover {
    border-color: rgba(92, 200, 44, 0.3);
}

.form-group input:focus,
.form-group textarea:focus {
    outline: none;
    border-color: #5cc82c;
    box-shadow: 0 0 0 3px rgba(92, 200, 44, 0.1);
}

.markdown-toolbar {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 0.75rem;
    padding: 0.75rem;
    background: rgba(51, 51, 51, 0.3);
    border: 1px solid #333;
    border-radius: 8px;
    flex-wrap: wrap;
}

.markdown-toolbar button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    padding: 0;
    border: none;
    background: #1d1d1d;
    color: #f9f9f9;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.2s ease;
    position: relative;
}

.markdown-toolbar button:hover {
    background: #333;
    color: #5cc82c;
    transform: translateY(-1px);
}

.markdown-toolbar button:active {
    transform: translateY(0);
}

.markdown-toolbar i {
    font-size: 1.3rem;
}

.hidden {
    display: none !important;
    pointer-events: none;
    visibility: hidden;
}

.markdown-help {
    margin-left: auto;
    position: relative;
}

.markdown-help-content {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: min(700px, 90vw);
    max-height: min(600px, 80vh);
    padding: 0;
    background: #1d1d1d;
    border: 1px solid #333;
    border-radius: 12px;
    z-index: 1000;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.4);
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transition: all 0.2s ease;
}

.markdown-help-content:not(.hidden) {
    opacity: 1;
    visibility: visible;
}

.help-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.25rem;
    border-bottom: 1px solid #333;
    background: rgba(51, 51, 51, 0.3);
}

.help-header h6 {
    margin: 0;
    color: #f9f9f9;
    font-size: 1.1rem;
    font-weight: 600;
}

.close-help {
    background: none;
    border: none;
    color: #666;
    cursor: pointer;
    padding: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    transition: all 0.2s ease;
}

.close-help:hover {
    color: #f9f9f9;
    background: rgba(255, 255, 255, 0.1);
}

.close-help i {
    font-size: 1.4rem;
}

.help-sections {
    padding: 1.5rem;
    overflow-y: auto;
    max-height: calc(min(600px, 80vh) - 56px);
}

.help-section {
    margin-bottom: 1.5rem;
}

.help-section:last-child {
    margin-bottom: 0;
}

.help-section h6 {
    color: #5cc82c;
    font-size: 1rem;
    margin: 0 0 1rem 0;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.help-section h6 i {
    font-size: 1.2rem;
}

.help-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    gap: 1rem;
}

.help-item {
    display: flex;
    flex-direction: column;
    gap: 0.35rem;
}

.help-item code {
    background: rgba(51, 51, 51, 0.5);
    padding: 0.4rem 0.6rem;
    border-radius: 4px;
    font-size: 0.9rem;
    font-family: 'JetBrains Mono', monospace;
    color: #5cc82c;
    border: 1px solid #333;
}

.help-preview {
    font-size: 0.9rem;
    color: #888;
    padding-left: 0.25rem;
}

.editor-container {
    display: flex;
    gap: 0.5rem;
    margin-top: 0.75rem;
}

.editor-column,
.preview-column {
    flex: 1;
    min-width: 0;
}

.editor-column textarea {
    height: 100%;
    min-height: 250px;
    resize: vertical;
    line-height: 1.6;
}

.preview-column {
    border: 1px solid #333;
    border-radius: 8px;
    background: rgba(51, 51, 51, 0.3);
}

.preview-header {
    padding: 0.75rem 1rem;
    border-bottom: 1px solid #333;
    color: #888;
    font-size: 0.9rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.preview-content {
    padding: 0.6rem 1rem;
    color: #e1e1e1;
    line-height: 1.7;
    overflow-wrap: break-word;
    min-height: 250px;
    overflow-y: auto;
    font-family: 'Poppins', sans-serif;
}

.preview-content > :first-child {
    margin-top: 0 !important;
}

.preview-content > :last-child {
    margin-bottom: 0 !important;
}

.preview-content h1,
.preview-content h2,
.preview-content h3,
.preview-content h4,
.preview-content h5,
.preview-content h6 {
    color: #f9f9f9;
    font-weight: 600;
    line-height: 1.25;
    margin: 0 0 1rem;
}

.preview-content h1 {
    font-size: 2.25rem;
}

.preview-content h2 {
    font-size: 1.85rem;
}

.preview-content h3 {
    font-size: 1.5rem;
}

.preview-content p {
    margin: 1rem 0;
    line-height: 1.8;
}

.preview-content a {
    color: #5cc82c;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: border-color 0.2s ease;
}

.preview-content a:hover {
    border-bottom-color: #5cc82c;
}

.preview-content code {
    background: rgba(51, 51, 51, 0.5);
    padding: 0.2em 0.4em;
    border-radius: 4px;
    font-size: 0.9em;
    font-family: 'JetBrains Mono', monospace;
}

.preview-content pre {
    background: rgba(51, 51, 51, 0.5);
    padding: 1.25rem;
    border-radius: 8px;
    overflow-x: auto;
    margin: 1.5rem 0;
    border: 1px solid #333;
}

.preview-content pre code {
    background: none;
    padding: 0;
    font-size: 0.95rem;
    line-height: 1.7;
    display: block;
}

.preview-content blockquote {
    margin: 1.5rem 0;
    padding: 1rem 1.5rem;
    border-left: 4px solid #5cc82c;
    background: rgba(51, 51, 51, 0.3);
    font-style: italic;
    color: #e1e1e1;
}

.preview-content blockquote p {
    margin: 0.5rem 0;
}

.preview-content blockquote blockquote {
    margin: 1rem 0;
    border-left-color: rgba(92, 200, 44, 0.6);
}

.preview-content ul,
.preview-content ol {
    padding-left: 1.5rem;
    margin: 1.25rem 0;
}

.preview-content ul {
    list-style-type: disc;
}

.preview-content ol {
    list-style-type: decimal;
}

.preview-content ul ul {
    list-style-type: circle;
    margin: 0.5rem 0;
}

.preview-content ol ol {
    list-style-type: lower-alpha;
    margin: 0.5rem 0;
}

.preview-content ul ul ul {
    list-style-type: square;
}

.preview-content ol ol ol {
    list-style-type: lower-roman;
}

.preview-content li {
    margin: 0.5rem 0;
    line-height: 1.7;
}

.preview-content hr {
    border: none;
    height: 1px;
    background: linear-gradient(90deg, transparent, rgba(92, 200, 44, 0.3), transparent);
    margin: 2rem 0;
}

.preview-content table {
    width: 100%;
    border-collapse: collapse;
    margin: 1.5rem 0;
    background: rgba(51, 51, 51, 0.3);
    border: 1px solid #333;
}

.preview-content th {
    background: rgba(51, 51, 51, 0.5);
    border: 1px solid #333;
    padding: 0.75rem 1rem;
    text-align: left;
    font-weight: 600;
}

.preview-content td {
    border: 1px solid #333;
    padding: 0.75rem 1rem;
}

.preview-content tr:nth-child(even) {
    background: rgba(51, 51, 51, 0.2);
}

.form-actions {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    margin-top: 2rem;
    padding-top: 1.5rem;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.submit-comment {
    background: #5cc82c;
    color: #1d1d1d;
    border: none;
    padding: 1rem 2rem;
    border-radius: 8px;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
}

.submit-comment::after {
    content: '→';
    font-size: 1.2rem;
    transition: transform 0.2s ease;
}

.submit-comment:hover {
    background: #4ca724;
    transform: translateY(-2px);
}

.submit-comment:hover::after {
    transform: translateX(3px);
}

.submit-comment:active {
    transform: translateY(0);
}

@media (max-width: 768px) {
    .comments-section {
        margin-top: 2rem;
        padding-top: 1.5rem;
    }

    .comment-item {
        padding: 1.25rem;
    }

    .comment-header {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
    }

    .comment-date::before {
        display: none;
    }

    .comment-form {
        padding: 1.5rem;
        margin-top: 2rem;
    }

    .form-actions {
        flex-direction: column;
    }

    .submit-comment {
        width: 100%;
        justify-content: center;
    }

    .editor-container {
        flex-direction: column;
        gap: 1rem;
    }

    .editor-column textarea {
        min-height: 200px;
    }

    .preview-column {
        min-height: 200px;
    }

    .markdown-toolbar {
        gap: 0.35rem;
        padding: 0.5rem;
    }

    .markdown-toolbar button {
        width: 32px;
        height: 32px;
    }

    .markdown-help-content {
        width: min(500px, 90vw);
    }
    
    .help-grid {
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
        gap: 0.75rem;
    }
}

.comment-no-anchor h1,
.comment-no-anchor h2,
.comment-no-anchor h3,
.comment-no-anchor h4,
.comment-no-anchor h5,
.comment-no-anchor h6 {
    display: block !important;
}

.comment-no-anchor .anchor-link {
    display: none !important;
}

.preview-placeholder {
    color: #666;
    font-style: italic;
}

.form-row {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
}

.form-col {
    flex: 1;
    min-width: 0;
}

.optional {
    color: #666;
    font-size: 0.85rem;
    font-weight: normal;
}

@media (max-width: 768px) {
    .form-row {
        flex-direction: column;
        gap: 1rem;
    }
    
    .form-col {
        width: 100%;
    }
}

.notification-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1100;
    display: flex;
    flex-direction: column;
    gap: 10px;
    pointer-events: none;
}

.notification {
    background: #1d1d1d;
    border: 1px solid;
    border-radius: 8px;
    padding: 1rem 3rem 1rem 1.25rem;
    margin-bottom: 0.5rem;
    font-size: 0.95rem;
    position: relative;
    animation: slideIn 0.3s ease-out;
    pointer-events: auto;
    max-width: min(400px, calc(100vw - 40px));
    display: flex;
    align-items: flex-start;
    gap: 0.75rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.notification.success {
    background: rgba(92, 200, 44, 0.1);
    border-color: #5cc82c;
    color: #5cc82c;
}

.notification.error {
    background: rgba(255, 76, 76, 0.1);
    border-color: #ff4c4c;
    color: #ff4c4c;
}

.notification.info {
    background: rgba(76, 130, 255, 0.1);
    border-color: #4c82ff;
    color: #4c82ff;
}

.notification i {
    font-size: 1.4rem;
}

.notification-content {
    flex: 1;
    min-width: 0;
}

.notification-close {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: currentColor;
    opacity: 0.5;
    cursor: pointer;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    transition: all 0.2s ease;
}

.notification-close:hover {
    opacity: 1;
    background: rgba(255, 255, 255, 0.1);
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideOut {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(100%);
    }
}

.notification.removing {
    animation: slideOut 0.3s ease-out forwards;
}

@media (max-width: 768px) {
    .notification-container {
        top: auto;
        bottom: 20px;
        right: 20px;
        left: 20px;
    }
    
    .notification {
        width: 100%;
        max-width: none;
    }
}

.author-comment {
    background: rgba(92, 200, 44, 0.05);
    border-color: rgba(92, 200, 44, 0.3);
}

.author-comment::before {
    background: #5cc82c;
    opacity: 0.8;
}

.author-badge {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.5rem;
    color: #5cc82c;
    font-size: 1.2rem;
    vertical-align: middle;
    position: relative;
    top: -1px;
}

.author-badge i {
    filter: drop-shadow(0 0 8px rgba(92, 200, 44, 0.3));
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
}

.author-comment .comment-author {
    color: #5cc82c;
    font-weight: 700;
}

.author-comment:hover {
    border-color: rgba(92, 200, 44, 0.5);
    box-shadow: 0 4px 20px rgba(92, 200, 44, 0.1);
}

.comments-placeholder {
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(51, 51, 51, 0.2);
    border-radius: 12px;
    border: 1px dashed #333;
    margin-bottom: 2rem;
    transition: opacity 0.3s ease;
}

.comments-loading {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: #666;
    font-size: 1.1rem;
}

.comments-loading i {
    font-size: 1.5rem;
    color: #5cc82c;
}

.comments-content {
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.5s ease;
}

.comments-content.visible {
    opacity: 1;
    transform: translateY(0);
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

.comments-placeholder.hiding {
    animation: fadeOut 0.3s ease forwards;
}
</style>

<script>
document.addEventListener('DOMContentLoaded', function() {
    // Lazy load comments
    const commentsSection = document.querySelector('[data-lazy-comments]');
    if (commentsSection) {
        const observer = new IntersectionObserver((entries) => {
            entries.forEach(entry => {
                if (entry.isIntersecting) {
                    loadComments(commentsSection);
                    observer.unobserve(entry.target);
                }
            });
        }, {
            rootMargin: '100px 0px' // Start loading when within 100px of viewport
        });

        observer.observe(commentsSection);
    }

    function loadComments(section) {
        const placeholder = section.querySelector('.comments-placeholder');
        const content = section.querySelector('.comments-content');

        // Simulate loading delay (remove in production)
        setTimeout(() => {
            placeholder.classList.add('hiding');
            setTimeout(() => {
                placeholder.remove();
                content.classList.remove('hidden');
                requestAnimationFrame(() => {
                    content.classList.add('visible');
                });
            }, 300);
        }, 500);
    }

    const form = document.getElementById('comment-form');
    const commentInput = document.getElementById('comment');
    const charCounter = document.querySelector('.char-counter');
    const previewButton = document.querySelector('.preview-button');
    const previewSection = document.querySelector('.comment-preview');
    const previewContent = document.querySelector('.preview-content');
    const mdToolbar = document.querySelector('.markdown-toolbar');
    const helpButton = document.querySelector('.help-button');
    const helpContent = document.querySelector('.markdown-help-content');

    // Helper function to ensure proper line breaks
    function ensureNewLine(text, position) {
        if (position <= 0) return text;
        if (position >= text.length) return text;
        
        const needsNewLine = text[position - 1] !== '\n';
        return needsNewLine ? text.slice(0, position) + '\n' + text.slice(position) : text;
    }

    // Helper function to get current line
    function getCurrentLine(text, position) {
        const lineStart = text.lastIndexOf('\n', position - 1) + 1;
        const lineEnd = text.indexOf('\n', position);
        return {
            start: lineStart,
            end: lineEnd === -1 ? text.length : lineEnd,
            text: text.substring(lineStart, lineEnd === -1 ? text.length : lineEnd)
        };
    }

    // Live preview
    commentInput.addEventListener('input', function() {
        const count = this.value.length;
        charCounter.textContent = `${count}/1000`;
        updatePreview();
    });

    // Toggle markdown help with improved handling
    helpButton.addEventListener('click', function(e) {
        e.preventDefault();
        e.stopPropagation();
        
        const isHidden = helpContent.classList.contains('hidden');
        
        // Hide any other open menus first
        document.querySelectorAll('.markdown-help-content').forEach(menu => {
            menu.classList.add('hidden');
        });
        
        // Toggle this menu
        if (isHidden) {
            helpContent.classList.remove('hidden');
            
            // Check if the help content would overflow the bottom of the viewport
            const helpRect = helpContent.getBoundingClientRect();
            const viewportHeight = window.innerHeight;
            
            if (helpRect.bottom > viewportHeight) {
                helpContent.classList.add('bottom-overflow');
            } else {
                helpContent.classList.remove('bottom-overflow');
            }
        }
    });

    // Close help menu when clicking outside
    document.addEventListener('click', function(e) {
        const helpMenus = document.querySelectorAll('.markdown-help-content');
        helpMenus.forEach(menu => {
            if (!menu.contains(e.target) && !e.target.closest('.help-button')) {
                menu.classList.add('hidden');
            }
        });
    });

    // Close help menu when pressing Escape
    document.addEventListener('keydown', function(e) {
        if (e.key === 'Escape') {
            document.querySelectorAll('.markdown-help-content').forEach(menu => {
                menu.classList.add('hidden');
            });
        }
    });

    // Enhanced markdown preview function
    function updatePreview() {
        const markdown = commentInput.value;
        if (!markdown.trim()) {
            previewContent.innerHTML = '<div class="preview-placeholder">Your formatted comment will appear here...</div>';
            return;
        }

        let html = markdown
            // Code blocks
            .replace(/```([^`]*?)```/gs, function(match, code) {
                return '<pre><code>' + code.trim() + '</code></pre>';
            })
            // Headers (all levels)
            .replace(/^###### (.*$)/gm, '<h6>$1</h6>')
            .replace(/^##### (.*$)/gm, '<h5>$1</h5>')
            .replace(/^#### (.*$)/gm, '<h4>$1</h4>')
            .replace(/^### (.*$)/gm, '<h3>$1</h3>')
            .replace(/^## (.*$)/gm, '<h2>$1</h2>')
            .replace(/^# (.*$)/gm, '<h1>$1</h1>')
            // Blockquotes (nested)
            .replace(/^>>\s*(.*$)/gm, '<blockquote><blockquote>$1</blockquote></blockquote>')
            .replace(/^>\s*(.*$)/gm, '<blockquote>$1</blockquote>')
            // Lists with proper nesting and ordering
            .replace(/^([\s]*)?([0-9]+\.) (.*)/gm, function(match, indent, number, content) {
                const level = indent ? Math.floor(indent.length / 4) : 0;
                return `<li data-number="${number}" data-level="${level}">${content}</li>`;
            })
            .replace(/^([\s]*)?[\*\-] (.*)/gm, function(match, indent, content) {
                const level = indent ? Math.floor(indent.length / 4) : 0;
                return `<li data-level="${level}">${content}</li>`;
            })
            // Images with titles
            .replace(/!\[([^\]]+)\]\(([^\)]+?)(?:\s+"([^"]+)")?\)/g, function(match, alt, url, title) {
                return `<img src="${url}" alt="${alt}"${title ? ` title="${title}"` : ''}>`;
            })
            // Links with titles
            .replace(/\[([^\]]+)\]\(([^\)]+?)(?:\s+"([^"]+)")?\)/g, function(match, text, url, title) {
                return `<a href="${url}"${title ? ` title="${title}"` : ''} target="_blank" rel="noopener noreferrer">${text}</a>`;
            })
            // Bold/Italic with both * and _ support
            .replace(/(\*\*|__)(.*?)\1/g, '<strong>$2</strong>')
            .replace(/(\*|_)(.*?)\1/g, '<em>$2</em>')
            // Inline code
            .replace(/`([^`]+)`/g, '<code>$1</code>')
            // Horizontal rules
            .replace(/^\s*---\s*$/gm, '<hr>')
            // Paragraphs and line breaks
            .replace(/\n\n/g, '</p><p>');

        // Process lists with proper nesting
        const processLists = function(html) {
            const listRegex = /(<li[^>]*>.*?<\/li>(?:\s*<li[^>]*>.*?<\/li>)*)/gs;
            return html.replace(listRegex, function(match) {
                const items = match.match(/<li[^>]*>.*?<\/li>/g) || [];
                const listItems = items.map(item => {
                    const level = parseInt(item.match(/data-level="(\d+)"/) ? item.match(/data-level="(\d+)"/)[1] : '0');
                    const isOrdered = item.includes('data-number');
                    return { html: item, level, isOrdered };
                });

                let result = '';
                let currentLevel = 0;
                let listStack = [];

                listItems.forEach((item, index) => {
                    while (currentLevel > item.level) {
                        result += listStack.pop() === 'ol' ? '</ol>' : '</ul>';
                        currentLevel--;
                    }
                    while (currentLevel < item.level) {
                        const listType = item.isOrdered ? 'ol' : 'ul';
                        result += `<${listType}>`;
                        listStack.push(listType);
                        currentLevel++;
                    }
                    if (index === 0 || listItems[index - 1].level !== item.level || listItems[index - 1].isOrdered !== item.isOrdered) {
                        const listType = item.isOrdered ? 'ol' : 'ul';
                        if (index > 0 && listItems[index - 1].level === item.level) {
                            result += listStack.pop() === 'ol' ? '</ol>' : '</ul>';
                        }
                        result += `<${listType}>`;
                        listStack.push(listType);
                    }
                    result += item.html.replace(/\s*data-level="\d+"/, '').replace(/\s*data-number="[^"]*"/, '');
                });

                while (listStack.length > 0) {
                    result += listStack.pop() === 'ol' ? '</ol>' : '</ul>';
                }

                return result;
            });
        };

        // Process tables with proper structure
        const processTables = function(html) {
            const tableRegex = /(<tr>.*?<\/tr>(?:\s*<tr>.*?<\/tr>)*)/gs;
            return html.replace(tableRegex, function(match) {
                const rows = match.match(/<tr>.*?<\/tr>/g) || [];
                if (rows.length === 0) return match;

                let table = '<table>';
                
                // Add header
                const headerRow = rows[0];
                if (headerRow) {
                    table += '<thead>' + headerRow.replace(/<td/g, '<th').replace(/\/td>/g, '/th>') + '</thead>';
                }

                // Add body
                if (rows.length > 1) {
                    table += '<tbody>';
                    for (let i = 1; i < rows.length; i++) {
                        table += rows[i];
                    }
                    table += '</tbody>';
                }

                table += '</table>';
                return table;
            });
        };

        // Apply the processors
        html = processLists(html);
        html = processTables(html);

        // Set the preview content
        previewContent.innerHTML = html ? `<div>${html}</div>` : '<div><br></div>';
    }

    // Notification System
    function showNotification(message, type = 'info', duration = 5000) {
        const container = document.querySelector('.notification-container');
        const notification = document.createElement('div');
        notification.className = `notification ${type}`;
        
        let icon = 'bx-info-circle';
        if (type === 'success') icon = 'bx-check-circle';
        if (type === 'error') icon = 'bx-x-circle';
        
        notification.innerHTML = `
            <i class='bx ${icon}'></i>
            <div class="notification-content">${message}</div>
            <button class="notification-close" title="Close">
                <i class='bx bx-x'></i>
            </button>
        `;
        
        container.appendChild(notification);
        
        const close = () => {
            notification.classList.add('removing');
            setTimeout(() => {
                notification.remove();
            }, 500);
        };
        
        notification.querySelector('.notification-close').addEventListener('click', close);
        
        if (duration) {
            setTimeout(close, duration);
        }
        
        return notification;
    }

    // Update form submission to use notifications
    form.addEventListener('submit', function(e) {
        e.preventDefault();
        
        const formData = new FormData(form);
        const comment = formData.get('comment').trim();
        let name = formData.get('name').trim();
        const email = formData.get('email').trim();
        
        if (!comment) {
            showNotification('Please write a comment', 'error');
            return;
        }
        
        // Set default name if empty
        if (!name) {
            name = 'Anonymous';
        }
        
        // Create the issue description with improved YAML format
        const description = `## New Comment Submission

### Post Details
- **URL:** ${formData.get('url')}
- **Post ID:** \`${formData.get('post')}\`
- **Title:** ${document.title}

### Commenter Information
- **Name:** ${name}${email ? `\n- **Email:** ${email}` : ''}

### Comment Content
\`\`\`markdown
${comment}
\`\`\`

---

### YAML Data for Comments File
Add the following to \`themes/archieve/data/comments.yml\`:

\`\`\`yaml
${formData.get('post')}:
  - author: "${name}"
    date: "${new Date().toISOString()}"
    content: |
${comment.split('\n').map(line => '      ' + line).join('\n')}
\`\`\`

/label ~comment ~pending`;

        // Show loading notification
        const loadingNotification = showNotification('Submitting your comment...', 'info', 0);

        // Create GitLab issue
        const gitlabProjectId = "{{ .Site.Params.gitlabProjectId }}";
        const gitlabToken = "{{ .Site.Params.gitlabAccessToken }}";
        const gitlabUrl = "{{ .Site.Params.gitlabUrl }}";

        fetch(`${gitlabUrl}/api/v4/projects/${gitlabProjectId}/issues`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'PRIVATE-TOKEN': gitlabToken
            },
            body: JSON.stringify({
                title: `Comment on: ${document.title}`,
                description: description,
                labels: 'comment,pending'
            })
        })
        .then(response => {
            // Remove loading notification
            loadingNotification.remove();
            
            if (response.ok) {
                showNotification('Thank you for your comment! It will be reviewed and published soon.', 'success');
                form.reset();
                charCounter.textContent = '0/1000';
                updatePreview();
            } else {
                throw new Error('Something went wrong');
            }
        })
        .catch(error => {
            // Remove loading notification
            loadingNotification.remove();
            
            showNotification('Sorry, there was an error submitting your comment. Please try again later.', 'error');
            console.error('Error:', error);
        });
    });

    // Markdown toolbar functionality
    mdToolbar.addEventListener('click', function(e) {
        const button = e.target.closest('button');
        if (!button || button.classList.contains('help-button')) return;

        e.preventDefault();
        
        const mdSyntax = button.dataset.md;
        const blockType = button.dataset.block;
        const offset = parseInt(button.dataset.offset) || 0;
        const textarea = commentInput;
        const start = textarea.selectionStart;
        const end = textarea.selectionEnd;
        const text = textarea.value;
        const selectedText = text.substring(start, end);

        let replacement = '';
        let newStart = start;
        let newEnd = end;

        if (mdSyntax.includes('url')) {
            // Handle link insertion
            replacement = selectedText ? 
                `[${selectedText}](url)` : 
                '[link text](url)';
            newStart = start + 1;
            newEnd = selectedText ? start + replacement.length - 4 : start + 10;
        } else if (blockType === 'wrap') {
            // Handle code blocks
            const codeBlock = '```\n' + (selectedText || '') + '\n```';
            replacement = selectedText ? codeBlock : '```\n\n```';
            newStart = start + 4;
            newEnd = selectedText ? start + 4 + selectedText.length : start + 4;
        } else if (blockType === 'insert') {
            // Handle horizontal rules
            let beforeText = text.substring(0, start);
            let afterText = text.substring(end);
            
            // Ensure proper spacing around horizontal rule
            if (beforeText && !beforeText.endsWith('\n\n')) {
                beforeText = beforeText.trimEnd() + '\n\n';
            }
            if (afterText && !afterText.startsWith('\n\n')) {
                afterText = '\n\n' + afterText.trimStart();
            }
            
            replacement = '---';
            textarea.value = beforeText + replacement + afterText;
            newStart = beforeText.length + replacement.length + 2;
            newEnd = newStart;
            
            // Update counter and preview
            charCounter.textContent = `${textarea.value.length}/1000`;
            updatePreview();
            return;
        } else if (blockType === 'list' || blockType === 'quote') {
            // Handle lists and quotes
            const currentLine = getCurrentLine(text, start);
            
            if (selectedText) {
                // Apply to multiple lines
                const lines = selectedText.split('\n');
                replacement = lines.map(line => mdSyntax + line).join('\n');
                newStart = start;
                newEnd = start + replacement.length;
            } else {
                // Apply to current line or create new item
                const line = currentLine.text;
                if (line.trim() === '') {
                    replacement = mdSyntax;
                    newStart = start + mdSyntax.length;
                    newEnd = newStart;
                } else {
                    replacement = mdSyntax + line;
                    newStart = currentLine.start + mdSyntax.length;
                    newEnd = currentLine.start + replacement.length;
                }
                
                // Ensure proper line breaks
                let newText = text.substring(0, currentLine.start) + replacement;
                if (currentLine.end < text.length) {
                    newText += text.substring(currentLine.end);
                }
                textarea.value = newText;
                textarea.focus();
                textarea.setSelectionRange(newStart, newEnd);
                
                // Update counter and preview
                charCounter.textContent = `${textarea.value.length}/1000`;
                updatePreview();
                return;
            }
        } else if (blockType === 'prefix') {
            // Handle headers
            const currentLine = getCurrentLine(text, start);
            const line = currentLine.text;
            
            if (line.startsWith(mdSyntax)) {
                replacement = line.substring(mdSyntax.length);
                newStart = currentLine.start;
                newEnd = currentLine.start + replacement.length;
            } else {
                replacement = mdSyntax + line;
                newStart = currentLine.start + mdSyntax.length;
                newEnd = currentLine.start + replacement.length;
            }
            
            textarea.value = text.substring(0, currentLine.start) + replacement + 
                            text.substring(currentLine.end);
        } else {
            // Handle inline markdown (bold, italic, code)
            replacement = selectedText ? 
                mdSyntax + selectedText + mdSyntax : 
                mdSyntax + 'text' + mdSyntax;
            newStart = selectedText ? start : start + mdSyntax.length;
            newEnd = selectedText ? start + replacement.length : start + mdSyntax.length + 4;
        }

        // Apply the replacement
        if (blockType !== 'prefix') {
            textarea.value = text.substring(0, start) + replacement + text.substring(end);
        }
        
        textarea.focus();
        textarea.setSelectionRange(newStart, newEnd);

        // Update counter and preview
        charCounter.textContent = `${textarea.value.length}/1000`;
        updatePreview();
    });

    // Add close button functionality
    document.querySelector('.close-help').addEventListener('click', function() {
        document.querySelectorAll('.markdown-help-content').forEach(menu => {
            menu.classList.add('hidden');
        });
    });
});
</script> 