<div class="content">
    <div class="content-card-deck" id="search-results">
        {{ $firstPage := true }}
        {{ range .pages }}
            <div class="content-card" {{ if not $firstPage }}loading="lazy"{{ end }}>
                {{ with .Params.image }}
                <div class="content-card-image">
                    {{ partial "picture.html" (dict 
                        "src" . 
                        "alt" $.Title 
                        "loading" (cond $firstPage "eager" "lazy")
                        "decoding" "async"
                        "fetchpriority" (cond $firstPage "high" "auto")
                    ) }}
                </div>
                {{ end }}
                <div class="content-card-body">
                    <a href="{{ .RelPermalink }}" class="btn btn-primary">
                        <h2 class="content-card-title" {{ if $firstPage }}fetchpriority="high"{{ end }}>{{ .Title }}</h2>
                    </a>
                    <p class="content-card-text" {{ if $firstPage }}fetchpriority="high"{{ end }}>
                        {{ with .Description }}
                            {{ . | truncate 160 }}
                        {{ else }}
                            {{ .Summary | plainify | truncate .Site.Params.summaryLength }}
                        {{ end }}
                    </p>
                    <ul class="content-post-meta" loading="lazy">
                        <li>
                            <i class="bx bx-user-circle" aria-hidden="true"></i>
                            <a class="content-card-author" href="/about#{{ .Params.author | urlize }}">{{ .Params.author }}</a>
                        </li>
                        <li>
                            <i class="bx bx-calendar-alt" aria-hidden="true"></i>
                            <time class="content-card-date" datetime="{{ .Date.Format "2006-01-02" }}">
                                {{ .Date | time.Format ":date_long" }}
                            </time>
                        </li>
                        <li>
                            <i class="bx bx-time-five" aria-hidden="true"></i>
                            <span class="content-card-readtime">{{ .ReadingTime }} min read</span>
                        </li>
                    </ul>
                </div>
            </div>
            {{ $firstPage = false }}
        {{ end }}
    </div>
</div>

<style>
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

.content {
    position: relative;
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
    padding: 5rem 3rem 0 3rem;
}

.content-card-deck {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 600px), 1fr));
    gap: 1.5rem;
    width: 65%;
    margin: 0;
}

.content-card {
    border-radius: 8px;
    padding: 0;
    backdrop-filter: blur(10px);
    transition: transform 0.2s ease-out;
    border: 1px solid rgba(255, 255, 255, 0.1);
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    contain: content;
    content-visibility: auto;
    contain-intrinsic-size: 0 400px;
}

.content-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
}

.content-card-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    min-width: 0; /* Prevents text overflow issues */
}

.content-card-body a {
    text-decoration: none;
    color: inherit;
}

.content-card-title {
    font-size: clamp(1.1rem, 2vw, 1.3rem);
    font-weight: 500;
    color: #5CC82C;
    margin-bottom: 0.75rem;
    line-height: 1.4;
}

.content-card-text {
    color: #919191;
    font-weight: 400;
    line-height: 1.6;
    margin: 0;
    font-size: clamp(0.9rem, 1.5vw, 1rem);
    flex: 1;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    contain: content;
    content-visibility: auto;
    contain-intrinsic-size: 0 100px;
    will-change: transform;
    transform: translateZ(0);
}

/* Ensure no HTML formatting in content-card-text */
.content-card-text h1,
.content-card-text h2,
.content-card-text h3,
.content-card-text h4,
.content-card-text h5,
.content-card-text h6 {
    font-size: inherit;
    font-weight: inherit;
    margin: 0;
    padding: 0;
    color: inherit;
}

.content-post-meta {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
    list-style: none;
    color: #999;
    font-size: clamp(0.75rem, 1.2vw, 0.875rem);
    margin-top: auto;
}

.content-post-meta li {
    display: inline-flex;
    align-items: center;
    gap: 0.3rem;
    white-space: nowrap;
}

.content-post-meta i {
    font-size: 1rem;
    color: #666;
}

.content-card-author,
.content-card-date,
.content-card-readtime {
    color: #999;
    font-weight: 300;
}

.content-card-author:hover {
    color: #5cc82c;
    text-decoration: underline;
}

.content-card-image {
    width: 100%;
    height: 200px;
    position: relative;
    overflow: hidden;
    background-color: transparent;
}

.content-card-image::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(0deg, rgba(26, 29, 36, 0.2), transparent);
    pointer-events: none;
}

.content-card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.9) contrast(1.1) saturate(0.9);
    transition: all 0.3s ease;
    background-color: rgba(0, 0, 0, 0.5);
}

.content-card:hover .content-card-image img {
    filter: brightness(1) contrast(1.05) saturate(1);
}

/* Desktop styles */
@media (min-width: 1024px) {
    .content-card {
        flex-direction: row;
    }
    
    .content-card-image {
        order: 2;
        height: auto;
        flex: 0 0 350px;
    }
    
    .content-card-image::after {
        background: linear-gradient(90deg, rgba(26, 29, 36, 0.1), transparent);
    }
    
    .content-card-body {
        order: 1;
    }
}

/* Mobile styles - ensure image is above title */
@media (max-width: 1023px) {
    .content-card {
        flex-direction: column;
    }
    
    .content-card-image {
        order: 0;
        width: 100%;
        height: 200px;
    }
    
    .content-card-image::after {
        background: linear-gradient(0deg, rgba(26, 29, 36, 0.2), transparent);
    }
    
    .content-card-body {
        order: 1;
    }
}

/* Responsive layouts */
@media (min-width: 1440px) {
    .content {
        margin-left: 15rem;
        padding-bottom: 1rem;
    }
    .content-card-deck {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width: 1024px) and (max-width: 1439px) {
    .content {
        margin-left: 15rem;
        padding-bottom: 1rem;
    }
    .content-card-deck {
        grid-template-columns: 1fr;
        max-width: 800px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .content {
        margin-top: 1.5rem;
        padding: 2.5rem 1.5rem 1rem 1.5rem;
        width: 100%;
    }
    .content-card-deck {
        grid-template-columns: 1fr;
        width: 100%;
    }
}

@media (max-width: 767px) {
    .content {
        padding: 4rem 1rem 1rem;
    }
    .content-card-deck {
        grid-template-columns: 1fr;
        gap: 1rem;
        width: 100%;
    }
    .content-card {
        flex-direction: column;
    }
    .content-card-image {
        width: 100%;
        position: relative;
    }
    .content-card-body {
        padding: 1rem;
    }
    .content-post-meta {
        font-size: 0.75rem;
        gap: 0.5rem;
    }
}
</style>