<footer class="footer">
    <div class="footer-content">
        <span class="year">{{ dateFormat "2006" now }}</span>
        <i class='bx bx-copyright bx-flip-horizontal' aria-hidden="true"></i>
        <a href="https://creativecommons.org/public-domain/cc0/" aria-label="No rights reserved">No rights reserved</a> ·
        <span class="powered-by">Powered by</span>
        <a href="https://gohugo.io/" aria-label="Hugo">Hugo</a>
    </div>
    <p class="footer-info">This website does not track you. No cookies. No data collection. No statistics. No
        vulnerability issues.</p>
</footer>

<style>
    .footer {
        width: 100%;
        color: #9BA3AF;
        text-align: center;
        margin: 2rem 0;
        padding: 1rem 0;
    }

    .footer-content {
        margin-bottom: 0.5rem;
    }

    .footer-content > * {
        vertical-align: middle;
    }

    .footer-info {
        font-weight: 300;
        font-size: 0.875rem;
        margin: 0;
        opacity: 0.9;
    }

    .footer a {
        transition: opacity 0.2s ease;
    }

    .footer a:hover {
        opacity: 0.8;
    }

    .footer a[aria-label="No rights reserved"] {
        text-decoration: underline;
        background: linear-gradient(90deg, #4CAF50, #8BC34A, #33B990, #04A789);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
    }

    .footer a[aria-label="Hugo"] {
        background: linear-gradient(90deg, #C8167E, #FF3F88, #0694CB, #33B990, #04A789, #EBB951, #FCD701);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
        display: inline-block;
        transform: scale(1.1);
    }

    @media only screen and (max-width: 767px) {
        .footer {
            padding: 1rem;
        }
    }

    @media (min-width: 1024px) and (max-width: 1324px) {
        .footer {
            margin-left: 8rem;
        }
    }
</style>