{{ $headerCSS := resources.Get "css/header.css" | minify | fingerprint }}
{{ $searchModalCSS := resources.Get "css/search-modal.css" | minify | fingerprint }}
{{ $headerJS := resources.Get "js/header.js" | minify | fingerprint }}

<!-- Preload critical assets -->
<link rel="preload" href="{{ $headerCSS.RelPermalink }}" as="style">
<link rel="preload" href="{{ $searchModalCSS.RelPermalink }}" as="style">
<link rel="preload" href="{{ $headerJS.RelPermalink }}" as="script">

<!-- Critical CSS -->
<link href="{{ $headerCSS.RelPermalink }}" rel="stylesheet" integrity="{{ $headerCSS.Data.Integrity }}" media="screen">
<link href="{{ $searchModalCSS.RelPermalink }}" rel="stylesheet" integrity="{{ $searchModalCSS.Data.Integrity }}" media="screen">

<!-- Defer non-critical JS -->
<script src="{{ $headerJS.RelPermalink }}" integrity="{{ $headerJS.Data.Integrity }}" type="text/javascript" defer></script>

<!-- Header with fixed dimensions -->
<header class="site-header" role="banner">
    <nav class="main-nav" role="navigation" aria-label="Main navigation">
        <ul id="breadcrumb" class="nav-list" role="list" aria-label="Breadcrumb">
            <li class="nav-item">
                <button id="click-nav" 
                        aria-label="Toggle navigation menu" 
                        aria-controls="sidenav"
                        aria-expanded="false"
                        class="nav-toggle">
                    <i class='bx bx-menu' aria-hidden="true"></i>
                </button>
            </li>
            {{ if .Ancestors }}
            <li class="nav-item mobile-view">
                {{ range .Ancestors.Reverse }}
                <a href="{{ .RelPermalink }}" aria-current="false">{{ .Title }}</a>
                <i class='bx bx-chevron-right breadcrumb-separator' aria-hidden="true"></i>
                {{ end }}
            </li>
            {{ end }}
            <li id="mobile-title" class="nav-item">
                <span>{{ if .Title }}{{ .Title }}{{ else }}{{ .Site.Title }}{{ end }}</span>
            </li>
            <li class="nav-item">
                <button id="qr-button" aria-label="Show QR Code" class="qr-button">
                    <i class='bx bx-qr' aria-hidden="true"></i>
                </button>
            </li>
            <li id="mode-toggle" class="nav-item">
                <button aria-label="Toggle dark mode" class="mode-toggle-button">
                    <i id="mode-icon" class="bx bxs-toggle-right" aria-hidden="true"></i>
                </button>
            </li>
            <li class="nav-item">
                <button class="post-search-button" aria-label="Search Posts">
                    <i class='bx bx-search-alt-2' aria-hidden="true"></i>
                    {{ partial "search-index.html" . }}
                </button>
            </li>
        </ul>
    </nav>
</header>