<!-- Early Hints and Resource Prioritization -->
<link rel="preconnect" href="{{ .Site.BaseURL }}" crossorigin>
<link rel="dns-prefetch" href="{{ .Site.BaseURL }}">

<!-- Critical CSS Inline -->
<style>
/* Base Critical Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --sidebar-width: 15rem;
    --right-sidebar-width: 20rem;
    --content-max-width: 1200px;
    --content-padding: clamp(1rem, 2vw, 2rem);
    --font-size-base: clamp(1rem, 1.5vw, 1.125rem);
    --font-size-small: clamp(0.875rem, 1.2vw, 1rem);
}

html {
    font-size: 16px;
    -webkit-text-size-adjust: 100%;
}

html, body {
    overflow-x: hidden;
    width: 100%;
    position: relative;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;
    background: #1B1B1E;
    color: #fff;
    display: flex;
    min-height: 100vh;
    font-size: var(--font-size-base);
}

main {
    flex: 1;
    width: 100%;
    position: relative;
    overflow-x: hidden;
}

/* Basic Layout Structure */
.sidenav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: var(--sidebar-width);
    background: rgba(27, 27, 30, 0.95);
    z-index: 1000;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
}

/* Responsive Layout */
@media (max-width: 1439px) {
    :root {
        --right-sidebar-width: 0;
    }
}

@media (max-width: 1023px) {
    :root {
        --sidebar-width: 0;
        --content-padding: 1rem;
    }
    
    .sidenav {
        transform: translateX(-100%);
        transition: transform 0.3s ease;
    }
    
    body {
        flex-direction: column;
    }
}

@media (max-width: 767px) {
    :root {
        --content-padding: 0.5rem;
        --font-size-base: 1rem;
        --font-size-small: 0.875rem;
    }
}

@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
    
    .sidenav {
        transition: none;
    }
}
</style>

<!-- SEO Meta Tags -->
{{ partial "meta.html" . }}

<!-- Core Stylesheets -->
{{ $lightmode := resources.Get "css/light-mode.css" | minify | fingerprint }}
{{ $fontCSS := resources.Get "css/font.css" | minify | fingerprint }}
{{ $boxIcons := resources.Get "css/boxicons.css" | minify | fingerprint }}
{{ $baseCSS := resources.Get "css/base.css" | minify | fingerprint }}
{{ $indexCSS := resources.Get "css/index.css" | minify | fingerprint }}

<link href="{{ $lightmode.RelPermalink }}" rel="stylesheet" integrity="{{ $lightmode.Data.Integrity }}" media="screen" rel="preload" crossorigin>
<link href="{{ $fontCSS.RelPermalink }}" rel="stylesheet" integrity="{{ $fontCSS.Data.Integrity }}" media="screen" rel="preload" crossorigin>
<link href="{{ $boxIcons.RelPermalink }}" rel="stylesheet" integrity="{{ $boxIcons.Data.Integrity }}" rel="stylesheet" media="print" onload="this.media='all'" crossorigin>
<link href="{{ $baseCSS.RelPermalink }}" rel="stylesheet" integrity="{{ $baseCSS.Data.Integrity }}" media="screen" rel="preload" crossorigin>
<link href="{{ $indexCSS.RelPermalink }}" rel="stylesheet" integrity="{{ $indexCSS.Data.Integrity }}" media="screen" rel="preload" crossorigin>

<!-- Favicon -->
<link rel="icon" type="image/x-icon" href="{{ .Site.Params.faviconImage }}">

<!-- Web App Manifest -->
<link rel="manifest" href="/manifest.json">

<!-- Service Worker Registration -->
<script defer>
    if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/sw.js')
                .then(registration => console.log('Service worker registered:', registration))
                .catch(error => console.log('Service worker registration failed:', error));
        });
    }
</script>

<!-- RSS Feed -->
{{ with .Site.Home.OutputFormats.Get "rss" -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
{{ end -}}
