{{ $menuCSS := resources.Get "css/menu.css" | minify | fingerprint }}
<link href="{{ $menuCSS.RelPermalink }}" 
      rel="stylesheet" 
      integrity="{{ $menuCSS.Data.Integrity }}" 
      media="screen">

<!-- Mobile menu overlay -->
<div class="nav-overlay" id="nav-overlay" aria-hidden="true"></div>

<nav id="sidenav" class="sidenav" aria-label="Main navigation">
    <div class="sidenav-content">
        <!-- Profile Section -->
        <div class="profile-section">
            <div class="my-image">
                {{ partial "picture.html" (dict 
                    "src" .Site.Params.Menu.menuImage
                    "alt" (printf "%s logo" .Site.Title)
                    "loading" "lazy"
                    "decoding" "async"
                    "width" "100"
                    "height" "100"
                ) }}
            </div>
            <h1 class="brand-holder-one">
                <a href="/" aria-label="Go to {{ .Site.Title }} homepage">{{ .Site.Title }}</a>
            </h1>

            {{ with .Site.Params.siteTagline }}
                <p class="brand-holder-sub">{{ . }}</p>
            {{ end }}
            
            <hr class="style-one" aria-hidden="true">
        </div>

        <!-- Navigation Section -->
        <div class="navigation">
            <nav aria-label="Main menu">
                <ul class="nav-pages" role="menu">
                    {{ $currentPage := . }}
                    {{ range .Site.Params.menu.main }}
                    {{ $isCurrentPage := or (eq $currentPage.RelPermalink .URL) (and (eq .URL "/") (eq $currentPage.RelPermalink "/")) }}
                    <li role="none">
                        <a href="{{ .URL }}" 
                           role="menuitem"
                           aria-label="{{ .Name }}"
                           {{ if $isCurrentPage }}aria-current="page"{{ end }}
                           class="{{ if $isCurrentPage }}active{{ end }}">
                            <i class="{{ .Pre }}" aria-hidden="true"></i>
                            <span>{{ .Name }}</span>
                        </a>
                    </li>
                    {{ end }}
                </ul>
            </nav>

            <!-- Social Links -->
            {{ with index $.Site.Params.authors "mainAuthor" }}
            {{ $mainAuthor := . }}
            {{ with index $.Site.Params.authors.allAuthors 0 }}
            <ul class="nav-social-links" aria-label="Social media links">
                {{ range .socialLinks }}
                <li>
                    <a href="{{ .URL }}" 
                       aria-label="Visit {{ .Name }}"
                       target="_blank" 
                       rel="noreferrer noopener">
                        <i class="{{ .Icon }}" aria-hidden="true"></i>
                    </a>
                </li>
                {{ end }}
            </ul>
            {{ end }}
            {{ end }}
        </div>
    </div>
</nav>

<!-- Menu JavaScript -->
<script>
document.addEventListener('DOMContentLoaded', function() {
    const menuBtn = document.querySelector('#click-nav');
    const sidenav = document.querySelector('#sidenav');
    const overlay = document.querySelector('#nav-overlay');
    
    function toggleMenu() {
        sidenav.classList.toggle('show');
        overlay.classList.toggle('show');
        document.body.classList.toggle('nav-open');
        
        // Update ARIA attributes
        const isExpanded = sidenav.classList.contains('show');
        menuBtn.setAttribute('aria-expanded', isExpanded);
        overlay.setAttribute('aria-hidden', !isExpanded);
    }
    
    // Toggle menu on button click
    if (menuBtn) {
        menuBtn.addEventListener('click', function(e) {
            e.preventDefault();
            toggleMenu();
        });
    }
    
    // Close menu when clicking overlay
    if (overlay) {
        overlay.addEventListener('click', toggleMenu);
    }
    
    // Close menu on ESC key
    document.addEventListener('keydown', function(e) {
        if (e.key === 'Escape' && sidenav.classList.contains('show')) {
            toggleMenu();
        }
    });
    
    // Close menu when clicking links (mobile only)
    if (window.innerWidth < 1024) {
        const mobileLinks = sidenav.querySelectorAll('a');
        mobileLinks.forEach(link => {
            link.addEventListener('click', function() {
                toggleMenu();
            });
        });
    }
});
</script>
