<!-- Character Encoding and Viewport -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- SEO Meta Tags -->
<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.siteDescription }}{{ . }}{{ end }}{{ end }}{{ end -}}">
<meta name="author" content="{{ .Site.Params.authors.mainAuthor }}">
<meta name="keywords" content="{{ .Site.Params.keywords }}">
<meta name="url" content="{{ .Permalink }}">

<!-- Open Graph Meta Tags -->
<meta property="og:type" content="website">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:title" content="{{ .Title }}">
<meta property="og:description" content="{{ .Summary }}">
<meta property="og:image" content="{{ .Params.image }}">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="{{ .Permalink }}">
<meta property="twitter:title" content="{{ .Title }}">
<meta property="twitter:description" content="{{ .Summary }}">
<meta property="twitter:image" content="{{ .Params.image }}">

<!-- Cache Control and Performance Headers -->
<meta http-equiv="Cache-Control" content="public, max-age=31536000, immutable">
<meta http-equiv="Feature-Policy" content="geolocation 'self'">
<meta http-equiv="X-XSS-Protection" content="1; mode=block">
<meta http-equiv="X-Content-Type-Options" content="nosniff">
<meta http-equiv="Strict-Transport-Security" content="max-age=31536000; includeSubDomains">

<!-- Theme Color -->
<meta name="theme-color" content="#1B1B1E"> 