<nav class="pagination" role="navigation" aria-label="Pagination">
    {{ if .paginator.HasPrev }}
        <a href="{{ .paginator.Prev.URL }}" class="pagination-link pagination-nav" aria-label="Go to previous page">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M15 18l-6-6 6-6"/></svg>
            <span class="pagination-text">Prev</span>
        </a>
    {{ else }}
        <span class="pagination-link pagination-nav disabled" aria-disabled="true">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M15 18l-6-6 6-6"/></svg>
            <span class="pagination-text">Prev</span>
        </span>
    {{ end }}
    
    <div class="pagination-numbers" role="group" aria-label="Page navigation">
        {{ $currentPage := .paginator.PageNumber }}
        {{ $totalPages := .paginator.TotalPages }}
        {{ $startPage := sub $currentPage 2 }}
        {{ $endPage := add $currentPage 2 }}
        
        {{ if lt $startPage 1 }}
            {{ $startPage = 1 }}
            {{ $endPage = math.Min $totalPages 5 }}
        {{ end }}
        
        {{ if gt $endPage $totalPages }}
            {{ $endPage = $totalPages }}
            {{ $startPage = math.Max 1 (sub $totalPages 4) }}
        {{ end }}
        
        {{ if gt $startPage 1 }}
            <a href="{{ .paginator.First.URL }}" class="pagination-link" aria-label="Go to page 1">1</a>
            {{ if gt $startPage 2 }}
                <span class="pagination-ellipsis" role="separator">&hellip;</span>
            {{ end }}
        {{ end }}
        
        {{ range $i, $page := .paginator.Pagers }}
            {{ if and (ge $page.PageNumber $startPage) (le $page.PageNumber $endPage) }}
                {{ if eq $currentPage $page.PageNumber }}
                    <span class="pagination-link active" aria-current="page" aria-label="Current page, page {{ $page.PageNumber }}">{{ $page.PageNumber }}</span>
                {{ else }}
                    <a href="{{ $page.URL }}" class="pagination-link" aria-label="Go to page {{ $page.PageNumber }}">{{ $page.PageNumber }}</a>
                {{ end }}
            {{ end }}
        {{ end }}
        
        {{ if lt $endPage $totalPages }}
            {{ if lt (add $endPage 1) $totalPages }}
                <span class="pagination-ellipsis" role="separator">&hellip;</span>
            {{ end }}
            <a href="{{ .paginator.Last.URL }}" class="pagination-link" aria-label="Go to page {{ $totalPages }}">{{ $totalPages }}</a>
        {{ end }}
    </div>
    
    {{ if .paginator.HasNext }}
        <a href="{{ .paginator.Next.URL }}" class="pagination-link pagination-nav" aria-label="Go to next page">
            <span class="pagination-text">Next</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M9 18l6-6-6-6"/></svg>
        </a>
    {{ else }}
        <span class="pagination-link pagination-nav disabled" aria-disabled="true">
            <span class="pagination-text">Next</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M9 18l6-6-6-6"/></svg>
        </span>
    {{ end }}
</nav>