{{ $src := .src }}
{{ $alt := .alt }}
{{ $width := .width | default "auto" }}
{{ $height := .height | default "auto" }}
{{ $loading := .loading | default "lazy" }}
{{ $decoding := .decoding | default "async" }}
{{ $priority := .priority | default false }}
{{ $aspectRatio := .aspectRatio | default "1/1" }}

{{ $isExternal := strings.HasPrefix $src "http" }}

{{ if $isExternal }}
<img 
    src="{{ $src }}"
    alt="{{ $alt }}"
    loading="{{ if $priority }}eager{{ else }}{{ $loading }}{{ end }}"
    decoding="{{ if $priority }}sync{{ else }}{{ $decoding }}{{ end }}"
    {{ if $priority }}fetchpriority="high"{{ end }}
    width="{{ $width }}"
    height="{{ $height }}"
    style="aspect-ratio: {{ $aspectRatio }};"
    onerror="this.onerror=null; this.src='/img/placeholder.jpg';">
{{ else }}
    {{ $original := resources.Get $src }}
    {{ $basename := path.Base $src | path.Dir }}
    {{ $extension := path.Ext $src }}
    {{ $name := replace $src $extension "" }}

    {{ if eq hugo.Environment "production" }}
    <picture>
        <source 
            type="image/avif" 
            sizes="(max-width: 480px) 480px,
                   (max-width: 768px) 768px,
                   (max-width: 1024px) 1024px,
                   (max-width: 1280px) 1280px,
                   (min-width: 1281px) 1920px"
            srcset="
                {{ path.Dir $src }}/{{ path.Base $name }}-480.avif 480w,
                {{ path.Dir $src }}/{{ path.Base $name }}-768.avif 768w,
                {{ path.Dir $src }}/{{ path.Base $name }}-1024.avif 1024w,
                {{ path.Dir $src }}/{{ path.Base $name }}-1280.avif 1280w,
                {{ path.Dir $src }}/{{ path.Base $name }}-1920.avif 1920w">
        <img 
            sizes="(max-width: 480px) 480px,
                   (max-width: 768px) 768px,
                   (max-width: 1024px) 1024px,
                   (max-width: 1280px) 1280px,
                   (min-width: 1281px) 1920px"
            srcset="
                {{ path.Dir $src }}/{{ path.Base $name }}-480{{ $extension }} 480w,
                {{ path.Dir $src }}/{{ path.Base $name }}-768{{ $extension }} 768w,
                {{ path.Dir $src }}/{{ path.Base $name }}-1024{{ $extension }} 1024w,
                {{ path.Dir $src }}/{{ path.Base $name }}-1280{{ $extension }} 1280w,
                {{ path.Dir $src }}/{{ path.Base $name }}-1920{{ $extension }} 1920w"
            src="{{ $src }}"
            alt="{{ $alt }}"
            loading="{{ if $priority }}eager{{ else }}{{ $loading }}{{ end }}"
            decoding="{{ if $priority }}sync{{ else }}{{ $decoding }}{{ end }}"
            {{ if $priority }}fetchpriority="high"{{ end }}
            width="{{ $width }}"
            height="{{ $height }}"
            style="aspect-ratio: {{ $aspectRatio }};"
            onerror="this.onerror=null; this.src='/img/placeholder.jpg';">
    </picture>
    {{ else }}
    <img 
        src="{{ $src }}"
        alt="{{ $alt }}"
        loading="{{ if $priority }}eager{{ else }}{{ $loading }}{{ end }}"
        decoding="{{ if $priority }}sync{{ else }}{{ $decoding }}{{ end }}"
        {{ if $priority }}fetchpriority="high"{{ end }}
        width="{{ $width }}"
        height="{{ $height }}"
        style="aspect-ratio: {{ $aspectRatio }};"
        onerror="this.onerror=null; this.src='/img/placeholder.jpg';">
    {{ end }}
{{ end }}

<style>
    img {
        filter: brightness(.9)contrast(1.1)saturate(.9);
    }

    img:hover {
        filter: brightness(1)contrast(1.05)saturate(1);
        transition: filter 0.3s ease;
    }
</style>