{{ if .Params.author }}
<ul class="post-meta">
    <li>
        <i class='bx bx-user-circle'></i>
        <a class="post-meta-author" href="/about#{{ .Params.author | urlize }}">{{ .Params.author }}</a>
    </li>
    <li>
        <i class='bx bx-calendar-alt'></i>
        <time class="post-meta-date" aria-label="Created date">{{ .Date | time.Format "2 January, 2006"}}</time>
    </li>
    {{ with .ReadingTime }}
    <li>
        <i class='bx bx-time-five'></i>
        <span class="post-meta-readtime" aria-label="Estimated reading time">{{ . }} min read</span>
    </li>
    {{ end }}
    {{ if and (isset .Params "lastmod") (ne .Lastmod .Date) }}
    <li>
        <i class='bx bx-edit-alt'></i>
        <time class="post-meta-modified-date" aria-label="Modified date">Updated: {{ .Lastmod.Format "2 Jan, 2006" }}</time>
    </li>
    {{ end }}
</ul>
{{ end }} 