<!-- QR Code Modal -->
<div id="qr-modal" class="qr-modal">
    <div class="qr-modal-content">
        <button class="qr-modal-close" aria-label="Close QR code">
            <i class='bx bx-x'></i>
        </button>
        <div class="qr-code-container">
            <h3 class="qr-code-title">Scan QR Code</h3>
            <div id="qrcode" class="qrcode"></div>
            <div class="qr-url-preview">
                <i class='bx bx-link'></i>
                <span id="qr-url" class="qr-url-text"></span>
            </div>
            <div class="qr-actions">
                <button class="qr-action-btn" id="download-qr" aria-label="Download QR Code">
                    <i class='bx bx-download'></i>
                    <span>Download</span>
                </button>
            </div>
            <p class="qr-code-text">Scan to view this page on your device</p>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/qrcode-generator@1.4.4/qrcode.min.js" defer></script>
<script>
    function generateQRCode() {
        const qrcodeElement = document.getElementById('qrcode');
        const urlPreview = document.getElementById('qr-url');
        if (!qrcodeElement || !urlPreview) {
            console.error('Required elements not found');
            return;
        }

        try {
            // Get the canonical URL if available, otherwise use current URL
            const url = document.querySelector('link[rel="canonical"]')?.href || 
                       window.location.origin + window.location.pathname;
            
            console.log('Generating QR code for URL:', url);
            
            // Update URL preview
            urlPreview.textContent = url;
            urlPreview.title = url;
            
            const qr = qrcode(0, 'M');
            qr.addData(url);
            qr.make();
            qrcodeElement.innerHTML = qr.createImgTag(5);

            // Setup download button
            const downloadBtn = document.getElementById('download-qr');
            if (downloadBtn) {
                downloadBtn.onclick = function() {
                    const img = qrcodeElement.querySelector('img');
                    if (img) {
                        // Create a temporary link
                        const a = document.createElement('a');
                        a.href = img.src;
                        a.download = 'qrcode.png';
                        document.body.appendChild(a);
                        a.click();
                        document.body.removeChild(a);
                    }
                };
            }
        } catch (error) {
            console.error('Error generating QR code:', error);
        }
    }

    function setupQRModal() {
        const modal = document.getElementById('qr-modal');
        const qrButton = document.getElementById('qr-button');
        const closeButton = modal?.querySelector('.qr-modal-close');

        if (!modal) {
            console.error('QR modal element not found');
            return;
        }

        if (!qrButton) {
            console.error('QR button element not found');
            return;
        }

        // Generate initial QR code
        generateQRCode();

        // Setup click handler for QR button
        qrButton.addEventListener('click', function() {
            generateQRCode(); // Regenerate QR code when modal opens
            modal.classList.add('show');
            document.body.style.overflow = 'hidden'; // Prevent scrolling when modal is open
        });

        // Close modal when clicking outside
        modal.addEventListener('click', function(event) {
            if (event.target === modal) {
                closeModal();
            }
        });

        // Close button handler
        if (closeButton) {
            closeButton.addEventListener('click', closeModal);
        }

        // Close on escape key
        document.addEventListener('keydown', function(event) {
            if (event.key === 'Escape' && modal.classList.contains('show')) {
                closeModal();
            }
        });

        function closeModal() {
            modal.classList.remove('show');
            document.body.style.overflow = ''; // Restore scrolling
        }
    }

    // Initialize when DOM is ready
    if (document.readyState === 'loading') {
        document.addEventListener('DOMContentLoaded', setupQRModal);
    } else {
        setupQRModal();
    }
</script>

<style>
    .qr-modal {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0);
        justify-content: center;
        align-items: center;
        z-index: 9999;
        backdrop-filter: blur(0);
        opacity: 0;
        pointer-events: none;
        transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    }

    .qr-modal.show {
        opacity: 1;
        pointer-events: auto;
        background-color: rgba(0, 0, 0, 0.6);
        backdrop-filter: blur(8px);
    }

    .qr-modal-content {
        position: relative;
        background: var(--bg-color, #fff);
        padding: 3rem 1rem;
        border-radius: 24px;
        box-shadow: 0 12px 28px rgba(0, 0, 0, 0.15), 0 8px 16px rgba(0, 0, 0, 0.1);
        max-width: 90%;
        width: 400px;
        text-align: center;
        transform: scale(0.95) translateY(20px);
        opacity: 0;
        transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    }

    .show .qr-modal-content {
        transform: scale(1) translateY(0);
        opacity: 1;
    }

    .qr-modal-close {
        position: absolute;
        top: 16px;
        right: 16px;
        background: none;
        border: none;
        padding: 8px;
        cursor: pointer;
        color: var(--text-color, #666);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.2s ease;
    }

    .qr-modal-close:hover {
        background-color: rgba(0, 0, 0, 0.05);
        color: var(--text-color, #333);
    }

    .qr-modal-close i {
        font-size: 24px;
    }

    .qr-code-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }

    .qr-code-title {
        font-size: 1.25rem;
        font-weight: 600;
        color: var(--text-color, #333);
        margin: 0;
    }

    .qrcode {
        background: white;
        padding: 16px;
        border-radius: 16px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    }

    .qrcode img {
        max-width: 200px;
        height: auto;
        margin: 0 auto;
        border-radius: 8px;
        display: block;
    }

    .qr-url-preview {
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 12px 16px;
        background: var(--bg-color-secondary, #f5f5f5);
        border-radius: 12px;
        width: 100%;
        max-width: 300px;
        margin: 0 auto;
    }

    .qr-url-preview i {
        color: var(--text-color, #666);
        font-size: 1.1em;
        flex-shrink: 0;
    }

    .qr-url-text {
        font-size: 0.75em;
        color: var(--text-color, #666);
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: left;
    }

    .qr-actions {
        display: flex;
        gap: 12px;
        margin-top: 8px;
    }

    .qr-action-btn {
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 8px 16px;
        border: none;
        border-radius: 8px;
        background: var(--primary-color, #007bff);
        color: white;
        font-size: 0.9em;
        cursor: pointer;
        transition: all 0.2s ease;
    }

    .qr-action-btn:hover {
        background: var(--primary-color-dark, #0056b3);
    }

    .qr-action-btn i {
        font-size: 1.2em;
    }

    .qr-code-text {
        margin: 0;
        font-size: 0.95em;
        color: var(--text-color, #666);
    }

    @media (prefers-color-scheme: dark) {
        .qr-modal-content {
            background: var(--bg-color-dark, #1a1a1a);
        }
        .qr-code-title {
            color: var(--text-color-dark, #fff);
        }
        .qr-code-text {
            color: var(--text-color-dark, #999);
        }
        .qr-modal-close {
            color: var(--text-color-dark, #999);
        }
        .qr-modal-close:hover {
            background-color: rgba(255, 255, 255, 0.1);
            color: var(--text-color-dark, #fff);
        }
        .qrcode {
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
        }
        .qr-url-preview {
            background: var(--bg-color-secondary-dark, #2a2a2a);
        }
        .qr-url-preview i,
        .qr-url-text {
            color: var(--text-color-dark, #999);
        }
        .qr-action-btn {
            background: var(--primary-color-dark, #0056b3);
        }
        .qr-action-btn:hover {
            background: var(--primary-color-darker, #004494);
        }
    }

    @media (max-width: 480px) {
        .qr-modal-content {
            padding: 24px;
            width: calc(100% - 32px);
            margin: 16px;
        }
        .qrcode img {
            max-width: 180px;
        }
        .qr-url-preview {
            max-width: 250px;
        }
    }

    @media print {
        .qr-modal {
            position: static;
            display: block;
            background: none;
            backdrop-filter: none;
            opacity: 1;
        }
        .qr-modal-content {
            box-shadow: none;
            page-break-inside: avoid;
            transform: none;
            opacity: 1;
        }
        .qr-modal-close,
        .qr-actions {
            display: none;
        }
    }
</style>