{{ if .Site.RegularPages }}

<div class="recent-updates">
    <h3 class="sidebar-heading">Random Posts</h3>
    <ul class="sidebar-list">
        {{ range first 6 (shuffle (where .Site.RegularPages "Type" "post")) }}
        <li class="sidebar-item">
            <a class="sidebar-link" href="{{ .Permalink }}">{{ .Title }}</a>
        </li>
        {{ end }}
    </ul>
    <h3 class="sidebar-heading">Random Notes</h3>
    <ul class="sidebar-list">
        {{ range first 6 (shuffle (where .Site.RegularPages "Section" "notes")) }}
        <li class="sidebar-item">
            <a class="sidebar-link" href="{{ .Permalink }}">{{ .Title }}</a>
        </li>
        {{ end }}
    </ul>
</div>

{{ end }}
