<div id="progress">
    <span id="progress-value">
        <i class='bx bx-chevron-up'></i>
    </span>
</div>

<style>
    #progress {
        position: fixed;
        bottom: 20px;
        right: 20px;
        height: 60px;
        width: 60px;
        display: none;
        place-items: center;
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        cursor: pointer;
        background-color: transparent;
        border: none;
        transition: background-color 0.3s, transform 0.3s;
        z-index: 1000;
    }

    #progress:hover {
        background-color: #03cc65;
    }

    #progress-value {
        display: grid;
        height: calc(100% - 10px);
        width: calc(100% - 10px);
        background-color: #fff;
        border-radius: 50%;
        place-items: center;
        font-size: 22px;
        color: #001a2e;
        transition: background-color 0.3s, transform 0.3s;
    }

    #progress-value:hover {
        background-color: #567577;
        transform: scale(1.1);
    }

    .bx-chevron-up {
        font-size: 2em;
        transition: transform 0.3s;
    }

    .bx-chevron-up:hover {
        transform: scale(1.2);
    }
</style>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const progress = document.getElementById("progress");
        const previewText = document.getElementById("preview-text");
        const modeToggle = document.getElementById("mode-toggle");
        let isLightMode = localStorage.getItem('isLightMode') === 'true' ?? true;

        if (!progress) return;

        const calcScrollValue = () => {
            const pos = window.scrollY || document.documentElement.scrollTop;
            const calcHeight = Math.max(document.documentElement.scrollHeight - document.documentElement.clientHeight);
            const scrollValue = Math.round((pos * 100) / calcHeight);
            updateScrollProgress(scrollValue);
        };

        const updateScrollProgress = (scrollValue) => {
            if (!progress) return;
            progress.style.display = isScrollVisible() ? "grid" : "none";
            progress.style.background = `conic-gradient(${isLightMode ? '#4dabf7 ' : '#03cc65 '} ${scrollValue}%, #d7d7d7 ${scrollValue}% 100%)`;
        };

        const isScrollVisible = () => {
            return window.scrollY > 200 || (previewText?.scrollTop > 0);
        };

        const toggleMode = () => {
            isLightMode = !isLightMode;
            localStorage.setItem('isLightMode', isLightMode.toString());
            calcScrollValue();
        };

        const handleScroll = () => {
            if (!progress) return;
            progress.style.display = isScrollVisible() ? "grid" : "none";

            if (previewText?.scrollTop > 0) {
                const pos = previewText.scrollTop;
                const calcHeight = Math.max(previewText.scrollHeight - previewText.clientHeight);
                const scrollValue = Math.round((pos * 100) / calcHeight);
                updateScrollProgress(scrollValue);
            } else {
                calcScrollValue();
            }
        };

        const scrollToTop = () => {
            document.documentElement.scrollTop = 0;
            if (previewText) previewText.scrollTop = 0;
        };

        // Event Listeners
        if (modeToggle) {
            modeToggle.addEventListener("click", toggleMode);
        }
        
        progress.addEventListener("click", scrollToTop);
        window.addEventListener('scroll', handleScroll);
        if (previewText) {
            previewText.addEventListener('scroll', handleScroll);
        }
        
        // Initial calculation
        calcScrollValue();
    });
</script>