{{ $type := .Params.type }}
{{ $paginator := where .Site.RegularPages "Type" $type }}
{{ $currentPage := . }}

{{ range $index, $page := $paginator }}
    {{ if eq $page $currentPage }}
        {{ $prevIndex := sub $index 1 }}
        {{ $nextIndex := add $index 1 }}

        <nav class="post-navigation" aria-label="Post navigation">
            {{ with (index $paginator $prevIndex) }}
                {{ if and (not .Params.draft) }}
                    <a class="post-nav-link prev" href="{{ .RelPermalink }}" aria-label="Previous post: {{ .Title }}">
                        <div class="nav-icon">
                            <i class='bx bx-chevron-left'></i>
                        </div>
                        <div class="post-nav-content">
                            <h4 class="post-nav-title">{{ .Title }}</h4>
                            {{ with .Params.description }}
                                <p class="post-nav-excerpt">{{ . }}</p>
                            {{ end }}
                            {{ with .Params.featured_image }}
                                <div class="post-nav-thumb" style="background-image: url('{{ . }}')"></div>
                            {{ end }}
                        </div>
                    </a>
                {{ end }}
            {{ end }}

            {{ with (index $paginator $nextIndex) }}
                {{ if and (not .Params.draft) }}
                    <a class="post-nav-link next" href="{{ .RelPermalink }}" aria-label="Next post: {{ .Title }}">
                        <div class="post-nav-content">
                            <h4 class="post-nav-title">{{ .Title }}</h4>
                            {{ with .Params.description }}
                                <p class="post-nav-excerpt">{{ . }}</p>
                            {{ end }}
                            {{ with .Params.featured_image }}
                                <div class="post-nav-thumb" style="background-image: url('{{ . }}')"></div>
                            {{ end }}
                        </div>
                        <div class="nav-icon">
                            <i class='bx bx-chevron-right'></i>
                        </div>
                    </a>
                {{ end }}
            {{ end }}
        </nav>

    {{ end }}
{{ end }}

<style>
    .post-navigation {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
        padding: 2rem 0;
        width: 100%;
    }

    .post-nav-link {
        position: relative;
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 1.2rem;
        background: rgba(244, 119, 33, 0.02);
        border: 1px solid rgba(244, 119, 33, 0.1);
        border-radius: 16px;
        overflow: hidden;
        text-decoration: none;
        color: #f9f9f9;
        transition: all 0.4s cubic-bezier(0.16, 1, 0.3, 1);
    }

    .post-nav-link::before {
        content: '';
        position: absolute;
        inset: 0;
        background: linear-gradient(120deg, 
            rgba(244, 119, 33, 0.05) 0%,
            rgba(244, 119, 33, 0.02) 100%
        );
        opacity: 0;
        transition: opacity 0.4s ease;
    }

    .post-nav-link:hover {
        transform: translateY(-2px);
        border-color: rgba(244, 119, 33, 0.25);
        box-shadow: 
            0 4px 20px -2px rgba(244, 119, 33, 0.12),
            0 0 0 4px rgba(244, 119, 33, 0.03);
    }

    .post-nav-link:hover::before {
        opacity: 1;
    }

    .nav-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 36px;
        height: 36px;
        background: rgba(244, 119, 33, 0.1);
        border-radius: 50%;
        font-size: 1.4rem;
        color: #f47721;
        transition: all 0.3s ease;
        z-index: 1;
        flex-shrink: 0;
    }

    .post-nav-link:hover .nav-icon {
        background: rgba(244, 119, 33, 0.15);
        transform: scale(1.1);
    }

    .post-nav-content {
        flex: 1;
        min-width: 0;
        z-index: 1;
    }

    .post-nav-title {
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.4;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        color: rgba(249, 249, 249, 0.95);
    }

    .post-nav-excerpt {
        font-size: 0.875rem;
        line-height: 1.5;
        margin: 0;
        color: rgba(249, 249, 249, 0.7);
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    .post-nav-thumb {
        margin-top: 0.8rem;
        height: 120px;
        border-radius: 8px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 0.8;
        transition: all 0.4s ease;
    }

    .post-nav-link:hover .post-nav-thumb {
        opacity: 1;
        transform: scale(1.02);
    }

    .next {
        text-align: right;
    }

    @media (max-width: 768px) {
        .post-navigation {
            grid-template-columns: 1fr;
            gap: 1rem;
            padding: 1.5rem 0;
        }

        .post-nav-link {
            padding: 1rem;
        }

        .post-nav-thumb {
            height: 100px;
        }

        .post-nav-title {
            font-size: 0.95rem;
        }

        .post-nav-excerpt {
            font-size: 0.85rem;
            -webkit-line-clamp: 1;
        }

        .next {
            text-align: left;
        }
    }

    @media (max-width: 480px) {
        .post-nav-link {
            padding: 0.8rem;
            gap: 0.8rem;
        }

        .nav-icon {
            width: 32px;
            height: 32px;
            font-size: 1.2rem;
        }

        .post-nav-thumb {
            height: 80px;
        }

        .post-nav-title {
            margin-bottom: 0.3rem;
            -webkit-line-clamp: 1;
        }
    }
</style>