<div class="toc">
    <h1>Contents</h1>
    <ul class="toc-content">
        {{ .TableOfContents }}
    </ul>
</div>

<style>
    .toc {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 125px;
        right: 1rem;
        width: 250px;
        max-height: calc(100vh - 160px);
        margin-bottom: 1rem;
        font-size: 0.9em;
        padding: 1rem;
        border-radius: 12px;
    }

    .toc h1 {
        font-weight: 600;
        margin: 0;
        padding-bottom: 0.5em;
        font-size: 1.2em;
        color: #5cc82c;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        position: sticky;
        top: 0;
        background: inherit;
        z-index: 1;
    }

    .toc-content {
        overflow-y: auto;
        overflow-x: hidden;
        padding-top: 0.5em;
        /* Customize scrollbar */
        scrollbar-width: thin;
        scrollbar-color: rgba(244, 119, 33, 0.3) transparent;
    }

    /* Webkit scrollbar styles */
    .toc-content::-webkit-scrollbar {
        width: 6px;
    }

    .toc-content::-webkit-scrollbar-track {
        background: transparent;
    }

    .toc-content::-webkit-scrollbar-thumb {
        background-color: rgba(244, 119, 33, 0.3);
        border-radius: 3px;
    }

    .toc-content::-webkit-scrollbar-thumb:hover {
        background-color: rgba(244, 119, 33, 0.5);
    }

    .toc li {
        list-style: none;
        font-size: 0.8rem;
        line-height: 1.4;
        margin: 0;
    }

    .toc li ul {
        height: 0;
        opacity: 0;
        overflow: hidden;
        padding-left: 20px;
        transition: all 0.3s ease-in-out;
    }

    .toc li.active ul {
        height: auto;
        opacity: 1;
    }

    .toc li a {
        color: rgba(255, 255, 255, 0.8);
        text-decoration: none !important;
        transition: all 0.3s ease-out;
        display: block;
        padding: 6px 12px;
        border-radius: 6px;
    }

    .toc li a:hover {
        color: #f47721;
        background: rgba(244, 119, 33, 0.1);
        transform: translateX(5px);
    }

    .toc a.active {
        color: #f47721;
        background: rgba(244, 119, 33, 0.15);
        font-weight: 500;
        position: relative;
    }

    .toc a.active::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: -8px;
        width: 3px;
        background-color: #f47721;
        border-radius: 3px;
        transform: scaleY(0.8);
        transition: transform 0.3s ease-out;
    }

    .toc a.active:hover::before {
        transform: scaleY(1);
    }

    /* Add specific styling for different heading levels */
    .toc li li {
        font-size: 0.95em;
    }

    .toc li li li {
        font-size: 0.9em;
    }

    .toc li li li li {
        font-size: 0.85em;
    }

    /* Adjust padding for deeper levels */
    .toc li ul ul {
        padding-left: 15px;
    }

    .toc li ul ul ul {
        padding-left: 12px;
    }

    .toc li ul ul ul ul {
        padding-left: 10px;
    }

    @media only screen and (min-width: 768px) and (max-width: 1312px) {
        .toc {
            position: relative;
            top: 0;
            right: 0;
            width: 100%;
            margin: 1rem 0;
            padding: 0;
        }
    }

    @media only screen and (max-width: 767px) {
        .toc {
            position: relative;
            top: 0;
            right: 0;
            width: 100%;
            margin: 1rem 0;
            padding: 0;
        }

        .toc li {
            font-size: 0.85rem;
        }
    }
</style>

<script async>
    document.addEventListener('DOMContentLoaded', () => {
        const toc = document.querySelector('.toc');

        if (toc) {
            let ticking = false;
            let activeHeadingId = null;
            const headings = Array.from(document.querySelectorAll('.main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6'));
            const tocContent = document.querySelector('.toc-content');

            const scrollTocToActive = (activeLink) => {
                if (!activeLink) return;

                const tocRect = tocContent.getBoundingClientRect();
                const linkRect = activeLink.getBoundingClientRect();

                // Calculate the relative position of the link within the TOC
                const relativeTop = linkRect.top - tocRect.top;
                const relativeBottom = linkRect.bottom - tocRect.top;

                // If the active link is not fully visible
                if (relativeTop < 0 || relativeBottom > tocRect.height) {
                    // Scroll the link into view, positioning it 1/3 from the top
                    const targetScroll = tocContent.scrollTop + relativeTop - (tocRect.height / 3);
                    tocContent.scrollTo({
                        top: targetScroll,
                        behavior: 'smooth'
                    });
                }
            };

            const handleScroll = () => {
                if (!ticking) {
                    window.requestAnimationFrame(() => {
                        const scrollY = window.scrollY;
                        let newActiveHeadingId = null;

                        // Find the current active heading
                        for (let i = headings.length - 1; i >= 0; i--) {
                            const heading = headings[i];
                            const rect = heading.getBoundingClientRect();
                            const absoluteTop = window.scrollY + rect.top;

                            // Get the bottom of the section
                            let sectionBottom;
                            if (i < headings.length - 1) {
                                const nextHeading = headings[i + 1];
                                sectionBottom = window.scrollY + nextHeading.getBoundingClientRect().top;
                            } else {
                                const mainContent = document.querySelector('.main-content');
                                sectionBottom = mainContent.offsetTop + mainContent.offsetHeight;
                            }

                            if (window.scrollY >= absoluteTop - 100 && window.scrollY < sectionBottom - 100) {
                                newActiveHeadingId = heading.id;
                                break;
                            }
                        }

                        if (newActiveHeadingId !== activeHeadingId) {
                            activeHeadingId = newActiveHeadingId;
                            updateActiveLink();
                        }

                        ticking = false;
                    });

                    ticking = true;
                }
            };

            const updateActiveLink = () => {
                const allActiveLinks = toc.querySelectorAll('a.active');
                const allActiveLis = toc.querySelectorAll('li.active');
                allActiveLinks.forEach(link => link.classList.remove('active'));
                allActiveLis.forEach(li => li.classList.remove('active'));

                if (activeHeadingId) {
                    const activeLink = toc.querySelector(`a[href="#${activeHeadingId}"]`);
                    if (activeLink) {
                        activeLink.classList.add('active');
                        let currentLi = activeLink.closest('li');
                        if (currentLi) {
                            currentLi.classList.add('active');

                            let parentUl = currentLi.closest('ul');
                            while (parentUl && parentUl.parentElement.tagName === 'LI') {
                                parentUl.parentElement.classList.add('active');
                                parentUl = parentUl.parentElement.closest('ul');
                            }
                        }
                        // Scroll the active link into view
                        scrollTocToActive(activeLink);
                    }
                }
            };

            window.addEventListener('scroll', handleScroll);
        }
    });
</script>