<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

<head>
    {{ partial "head.html" . }}
    
    <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
</head>

<body>
    {{ partial "qrcode.html" . }}
    
    <header>
        {{ partial "menu.html" . }}
        {{ partial "header.html" . }}
    </header>
    
    <main>
        <div class="posts-container">
            <div class="posts-content">
                {{ if not .IsHome }}
                <div class="post-header">
                    <h1 class="post-title">{{ .Page.Title }}</h1>
                    {{ partial "post-meta.html" . }}
                </div>
                {{ end }}

                <article class="main-content">
                    {{ if and (not .IsHome) .Params.toc }}
                    {{ partial "toc.html" . }}
                    {{ end }}

                    {{ block "main" . }}{{ end }}
                </article>

                {{ if not .IsHome }}
                {{ partial "suggests.html" . }}
                {{ end }}
            </div>
        </div>
    </main>

    <footer>
        {{ partialCached "scroll-top.html" . }}
        {{ partialCached "footer.html" . }}
    </footer>
</body>

</html>