{{ define "main" }}
{{ $articles := where .Site.RegularPages "Type" "post" }}

{{ $archieveCSS := resources.Get "css/archieve.css" | minify | fingerprint }}
<link rel="stylesheet" href="{{ $archieveCSS.RelPermalink }}" integrity="{{ $archieveCSS.Data.Integrity }}" media="screen">

<div class="archieve-pages" role="navigation" aria-label="Archive navigation">
    {{ range .Site.Params.archieveLinks }}
    <a href="{{ .url }}/" aria-label="Navigate to {{ .name }}">{{ .name }}</a>
    {{ end }}
</div>
{{ range $articles.GroupByDate "2006" }}
<section id="{{ .Key }}" class="archieve-year">
    <h2 class="archieve-year-header">{{ .Key }}</h2>
    {{ range $index, $month := .GroupByDate "January" }}
    <article class="archieve-month">
        <h3 class="archieve-month-header">{{ $month.Key }}</h3>
        <ul class="archieve-month-list">
            {{ range $month.Pages }}
            <li class="archieve-month-item">
                <a href="{{ .RelPermalink }}" aria-label="Read {{ .Title }}">
                    <span class="archieve-title">{{ .Title }}</span>
                    <time class="archieve-date" datetime="{{ .Date.Format "2006-01-02" }}">
                        {{ .Date.Format "January 02" }}
                    </time>
                </a>
            </li>
            {{ end }}
        </ul>
    </article>
    {{ end }}
</section>
{{ end }}

{{ end }}