<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

<head>
    {{ partial "head.html" . }}

    {{ $prismCSS := resources.Get "css/prism.css" | minify | fingerprint }}
    <link href="{{ $prismCSS.RelPermalink }}" rel="stylesheet" integrity="{{ $prismCSS.Data.Integrity }}" media="screen">

    {{ $prismJS := resources.Get "js/prism.min.js" | minify | fingerprint }}
    <script type="text/javascript" src="{{ $prismJS.RelPermalink }}" defer></script>
    
    <title>{{ .Title }}</title>
</head>

<body>
    {{ block "main" . }}
    {{ end }}
    {{ partial "qrcode.html" . }}
    <header>
        {{ partial "menu.html" . }}
        {{ partial "header.html" . }}
    </header>

    <main>
        <div class="posts-container">
            <div class="posts-content">
                <div class="post-header">
                    <h1 class="post-title">{{ .Title }}</h1>
                    {{ partial "post-meta.html" . }}
                </div>

                <article class="main-content">
                    {{ if .Params.toc }}
                    {{ partial "toc.html" . }}
                    {{ end }}

                    {{ .Content }}
                    {{ partialCached "scroll-top.html" . }}
                </article>

                {{ partial "suggests.html" . }}
                {{ partial "comments.html" . }}
            </div>
        </div>
    </main>
    
    <footer>
        {{ partialCached "footer.html" . }}
    </footer>

    {{ block "footer" . }}
    {{ end }}
</body>

</html>