.about-me {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    background-color: #222326;
    border: 1px solid #2a2b2e;
    border-radius: 8px;
    margin-bottom: 2rem;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.about-me:hover {
    box-shadow: 0 2px 8px rgba(79, 70, 229, 0.2);
}

.about-me-image {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    border: 2px solid #2a2b2e;
    transition: all 0.2s ease;
    aspect-ratio: 1/1;
}

.about-me:hover .about-me-image {
    box-shadow: 0 2px 8px rgba(79, 70, 229, 0.2);
}

/* Add styles for picture and img elements */
.about-me-image picture,
.about-me-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: inherit;
}

/* Handle source elements inside picture */
.about-me-image source {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: inherit;
}

.about-me-content {
    font-size: 1.15rem;
    margin-top: 0.5rem;
}

.about-me-content h2 {
    font-size: 1.75rem;
    font-weight: 600;
    color: #e1e1e1;
    margin-bottom: 1rem;
    position: relative;
    display: inline-block;
}

.about-me-content h2::after {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 60px;
    height: 2px;
    background: #4f46e5;
    border-radius: 2px;
    transition: width 0.2s ease;
}

.about-me:hover h2::after {
    width: 100%;
}

.about-me-content h3 {
    color: #9ca3af;
    font-size: 1.1rem;
    font-weight: 500;
    margin: 1.5rem 0 1rem;
}

.about-me-description {
    color: #e1e1e1 !important;
    line-height: 1.6;
    margin: 1rem 0;
}

.about-me-links-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    margin-top: 1rem;
}

.about-me-links-list a {
    display: flex;
    align-items: center;
    color: #e1e1e1;
    text-decoration: none !important;
    transition: all 0.2s ease;
    padding: 0.75rem 1rem;
    background: #2a2b2e;
    border: 1px solid #363739;
    border-radius: 8px;
}

.about-me-links-list a:hover {
    color: #fff;
    background: #363739;
    border-color: #4f46e5;
    transform: translateX(4px);
    box-shadow: 0 2px 8px rgba(79, 70, 229, 0.2);
}

.about-me-links-list a i {
    margin-right: 0.5rem;
    color: #4f46e5;
}

@media (max-width: 768px) {
    .about-me {
        padding: 1rem;
    }

    .about-me-image {
        margin: auto;
    }

    .about-me-content {
        text-align: center;
    }

    .about-me-content h2::after {
        left: 50%;
        transform: translateX(-50%);
    }

    .about-me-links-list {
        grid-template-columns: 1fr;
    }

    .about-me-links-list a {
        justify-content: center;
    }
}

@media (prefers-reduced-motion: reduce) {
    .about-me,
    .about-me-image,
    .about-me-links-list a,
    .about-me-content h2::after {
        transition: none;
    }
}