.archieve-year {
    margin-bottom: 20px;
    position: relative;
    padding: 1rem;
    border-radius: 1rem;
    background: #222326;
    border: 1px solid #2a2b2e;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease;
}

.archieve-year:hover {
    box-shadow: 0 2px 8px rgba(79, 70, 229, 0.2);
}

.archieve-year-header {
    font-size: 1.75rem;
    font-weight: 600;
    color: #e1e1e1;
    margin-bottom: 1.5rem;
    position: relative;
    display: inline-block;
}

.archieve-year-header::after {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 60px;
    height: 2px;
    background: #4f46e5;
    border-radius: 2px;
}

.archieve-month-header {
    font-size: 1.1rem;
    font-weight: 500;
    color: #9ca3af;
    margin: 1.5rem 0 1rem;
    letter-spacing: 0.5px;
    border-bottom: 1px solid #2a2b2e;
    padding-bottom: 0.5rem;
}

.archieve-month-list {
    list-style: none;
    padding-left: 1.25rem;
    border-left: 2px solid #2a2b2e;
    margin: 1rem 0;
}

.archieve-month-item {
    margin: 0 0 0.5rem 0 !important;
    position: relative;
}

.archieve-month-item::before {
    content: '';
    position: absolute;
    left: -1.5rem;
    top: 50%;
    width: 6px;
    height: 6px;
    background: #4f46e5;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: all 0.2s ease;
    opacity: 0.3;
}

.archieve-month-item:hover::before {
    opacity: 1;
    box-shadow: 0 0 10px rgba(79, 70, 229, 0.4);
}

.archieve-month-item a {
    color: #e1e1e1;
    font-weight: 400;
    text-decoration: none !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    background: #2a2b2e;
    border: 1px solid #363739;
    backdrop-filter: blur(8px);
    transition: all 0.2s ease;
}

.archieve-month-item a:hover {
    color: #fff;
    background: #363739;
    border-color: #4f46e5;
    transform: translateX(4px);
    box-shadow: 0 2px 8px rgba(79, 70, 229, 0.2);
}

.archieve-title {
    flex: 1;
    font-size: 1rem;
    letter-spacing: 0.2px;
    color: #e1e1e1;
}

.archieve-date {
    font-style: normal;
    color: #9ca3af;
    font-size: 0.875rem;
    font-weight: 400;
    margin-left: 1rem;
    background: #1a1b1e;
    padding: 0.25rem 0.75rem;
    border-radius: 4px;
    border: 1px solid #2a2b2e;
}

.archieve-pages {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    background: #222326;
    padding: 1rem;
    border-radius: 8px;
    border: 1px solid #2a2b2e;
    margin-bottom: 1rem;
}

.archieve-pages a {
    font-size: 0.8rem;
    border-radius: 8px;
    background: #2a2b2e;
    color: #e1e1e1;
    padding: 0.5rem 1rem;
    border: 1px solid #363739;
    font-weight: 500;
    letter-spacing: 0.3px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none !important;
    position: relative;
    overflow: hidden;
}

.archieve-pages a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, transparent, rgba(79, 70, 229, 0.1), transparent);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.archieve-pages a:hover {
    background: #363739;
    border-color: #4f46e5;
    transform: translateY(-1px);
    box-shadow: 0 2px 8px rgba(79, 70, 229, 0.2);
}

.archieve-pages a:hover::before {
    transform: translateX(100%);
}

@media (max-width: 768px) {
    .archieve-year {
        padding: 0.75rem;
    }

    .archieve-pages {
        padding: 0.75rem;
    }

    .archieve-month-item a {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
    }

    .archieve-date {
        margin-left: 0;
    }
}

@media (prefers-reduced-motion: reduce) {
    .archieve-month-item a,
    .archieve-pages a,
    .archieve-year,
    .archieve-month-item::before {
        transition: none;
    }
}