/* Base Layout Styles */
:root {
    --content-width-desktop: 60%;
    --content-width-tablet: 80%;
    --content-width-mobile: 95%;
    --spacing-unit: 1rem;
    --header-height: 50px;
    --sidebar-width: 240px;
    
    /* Theme Colors */
    --text-primary: #ececf1;
    --text-secondary: #f8f8f8;
    --link-color: #5cc82c;
    --link-hover-color: #6ed83d;
    --heading-1-color: #5CC82C;
    --heading-2-color: #1e90ff;
    --heading-3-color: #f47721;
    --heading-4-color: #f9c629;
    --heading-5-color: #ff0059;
    --heading-6-color: #c300ff;
    --strong-color: #9595ff;
}

/* Fluid Typography */
html {
    font-size: clamp(14px, 1vw + 0.75rem, 16px);
}

/* Layout Container */
.posts-container {
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    justify-content: center;
    transition: transform 0.3s ease-in-out;
    margin-top: 2rem;
    width: 100%;
}

.posts-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
    padding: var(--spacing-unit);
    border-bottom: 1px solid #333;
    width: var(--content-width-desktop);
    margin: 0 auto;
    overflow: hidden;
}

/* Typography Styles */
.main-content {
    width: 100%;
    margin: 0 auto;
    height: 100%;
}

.main-content p {
    font-size: 1.1rem;
    color: var(--text-primary);
    line-height: 1.6;
    margin-bottom: 1rem;
}

.main-content li {
    color: var(--text-secondary);
    font-size: 1rem;
    margin: 0 2rem 0.5rem 2rem;
}

.main-content a {
    text-decoration: none;
    color: var(--link-color);
    transition: color 0.2s ease-out;
}

.main-content a:hover {
    text-decoration: underline;
}

.main-content strong {
    color: var(--strong-color);
    font-weight: 600;
}

/* Heading Styles */
.main-content h1 {
    color: var(--heading-1-color);
    font-size: 1.8em;
    font-weight: 500;
    margin-bottom: 1rem;
}

.main-content h2 {
    color: var(--heading-2-color);
    font-weight: 500;
    font-size: 1.6em;
    margin-bottom: 0.9rem;
}

.main-content h3 {
    color: var(--heading-3-color);
    font-size: 1.4em;
    font-weight: 500;
    margin-bottom: 0.8rem;
}

.main-content h4 {
    color: var(--heading-4-color);
    font-size: 1.3em;
    font-weight: 500;
    margin-bottom: 0.7rem;
}

.main-content h5 {
    color: var(--heading-5-color);
    font-size: 1.2em;
    margin-bottom: 0.6rem;
}

.main-content h6 {
    color: var(--heading-6-color);
    font-size: 1.1em;
    margin-bottom: 0.5rem;
}

/* Post Title */
.post-title {
    font-size: 1.8em;
    color: var(--heading-1-color);
    margin-bottom: 1rem;
    font-weight: 500;
}

/* Responsive Styles */
@media (max-width: 1200px) {
    .posts-content {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .posts-content {
        width: 100%;
    }
    
    .main-content h1, .post-title { font-size: 1.6em; }
    .main-content h2 { font-size: 1.4em; }
    .main-content h3 { font-size: 1.3em; }
    .main-content h4 { font-size: 1.2em; }
    .main-content h5 { font-size: 1.1em; }
    .main-content h6 { font-size: 1em; }
}

/* Touch-friendly improvements */
@media (hover: none) {
    /* Increase touch targets */
    button, 
    .nav-link,
    .search-button {
        min-height: 44px;
        min-width: 44px;
        padding: 12px;
    }
    
    /* Add pull-to-refresh visual feedback */
    .posts-container {
        overscroll-behavior-y: contain;
    }
    
    .main-content a {
        padding: 0.5rem 0;
    }
    
    .posts-content {
        touch-action: manipulation;
    }
}

/* Add focus styles for better keyboard navigation */
:focus-visible {
    outline: 2px solid var(--link-color);
    outline-offset: 2px;
}

/* Add skip-to-main link for keyboard users */
.skip-to-main {
    position: absolute;
    left: -9999px;
    z-index: 999;
    padding: 1rem;
    background: var(--link-color);
    color: #fff;
}

.skip-to-main:focus {
    left: 50%;
    transform: translateX(-50%);
}

/* Add loading="lazy" attribute to images via CSS */
img {
    loading: lazy;
}

/* Add support for modern image formats */
.modern-image {
    content-visibility: auto;
    contain: content;
} 