/* General styles */
.custom-category {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background-color: #222326;
    padding: 1.5rem;
    border: 1px solid #2a2b2e;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease;
    max-width: 1000px;
    margin: 1rem auto;
    gap: 0.75rem;
}

.category-item {
    display: flex;
    align-items: center;
    padding: 0.6rem 0.8rem;
    background-color: #2a2b2e;
    border: 1px solid #363739;
    border-radius: 8px;
    transition: all 0.2s ease;
    gap: 0.5rem;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.category-item:hover {
    background-color: #363739;
    border-color: #4f46e5;
    transform: translateX(4px);
    box-shadow: 0 2px 8px rgba(79, 70, 229, 0.2);
}

/* Category link/title styles */
.bx-folder, .bx-hash {
    color: #4f46e5;
    font-size: 1.25rem;
    flex-shrink: 0;
    transition: transform 0.3s ease;
}

.category-item:hover .bx-folder,
.category-item:hover .bx-hash {
    transform: scale(1.1);
}

.category-link {
    color: #e1e1e1;
    text-decoration: none !important;
    font-size: 1.15rem;
    transition: all 0.3s ease;
    flex-grow: 1;
    line-height: 1.5;
}

.category-link:hover {
    color: #fff;
}

.category-title {
    color: #e1e1e1;
    font-size: 1.15rem;
    flex-grow: 1;
    line-height: 1.5;
    transition: color 0.3s ease;
}

.category-item:hover .category-title {
    color: #fff;
}

.post-count {
    color: #9ca3af;
    font-size: 0.9rem;
    padding: 0.35rem 0.75rem;
    background: rgba(79, 70, 229, 0.1);
    border-radius: 6px;
    flex-shrink: 0;
    min-width: 4rem;
    text-align: center;
    transition: all 0.3s ease;
}

.category-item:hover .post-count {
    background: rgba(79, 70, 229, 0.2);
    color: #fff;
}

/* Show-posts styles */
.show-posts {
    display: none;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding-left: 2rem;
    gap: 0.5rem;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.show-posts.visible {
    opacity: 1;
    transform: translateY(0);
}

.show-posts li {
    margin: 0.5rem 0 0.5rem 0 !important;
    list-style: none !important;
}

.show-posts a {
    display: flex;
    color: #e1e1e1;
    padding: .5rem 1rem;
    background: #2a2b2e;
    border: 1px solid #363739;
    border-radius: 8px;
    transition: all 0.2s ease;
    line-height: 1.5;
    position: relative;
    overflow: hidden;
}

.show-posts a:hover {
    background: #363739;
    border-color: #4f46e5;
    transform: translateX(4px);
    box-shadow: 0 2px 8px rgba(79, 70, 229, 0.2);
    color: #fff;
    text-decoration: none;
}

/* Toggle icon styles */
.toggle-icon {
    color: #4f46e5;
    font-size: 1.25rem;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    transform-origin: center;
}

.category-item.active .toggle-icon {
    transform: rotate(90deg);
}

.category-item:hover .toggle-icon {
    color: #6366f1;
}

/* Reduced motion */
@media (prefers-reduced-motion: reduce) {
    .custom-category,
    .category-item,
    .category-link,
    .show-posts,
    .show-posts a,
    .toggle-icon,
    .category-item::after,
    .show-posts a::after {
        transition: none;
        animation: none;
    }
    
    .category-item:hover,
    .show-posts a:hover {
        transform: none;
    }
}

/* Hide lists by default in terms view */
.terms-view .custom-category ul {
    display: none;
}

/* Responsive styles */
@media (max-width: 1024px) {
    .custom-category {
        padding: 1.5rem;
    }

    .category-item {
        padding: 0.875rem 1rem;
    }

    .show-posts {
        padding-left: 1.5rem;
    }

    .show-posts a {
        padding: 0.875rem 1rem;
    }
}

@media (max-width: 640px) {
    .custom-category {
        padding: 1rem;
    }

    .category-item {
        padding: 0.75rem;
    }

    .show-posts {
        padding-left: 1rem;
    }

    .show-posts a {
        padding: 0.75rem;
    }

    .post-count {
        padding: 0.25rem 0.5rem;
        min-width: 3.5rem;
    }
}