/* Gallery Grid */
.gallery-wrapper {
  width: 100%;
  padding: 1.5rem 0;
  opacity: 1;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: var(--spacing, 10px);
}

.gallery-grid[data-columns="2"] {
  grid-template-columns: repeat(2, 1fr);
}

.gallery-grid[data-columns="3"] {
  grid-template-columns: repeat(3, 1fr);
}

.gallery-grid[data-columns="4"] {
  grid-template-columns: repeat(4, 1fr);
}

/* Gallery Items */
.gallery-item {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border-radius: 8px;
  background: #ffffff;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 16/9;
}

.gallery-item-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 0.95rem;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.gallery-item:hover .gallery-item-caption {
  opacity: 1;
}

/* Loading Animation */
.gallery-item.loading {
  background: #f0f0f0;
}

/* Modal */
.gallery-modal {
  display: none;
  position: fixed;
  z-index: 9999;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.95);
  opacity: 0;
  transition: opacity 0.1s ease;
}

.gallery-modal.active {
  opacity: 1;
}

.gallery-modal-content {
  position: relative;
  margin: auto;
  width: 90%;
  max-width: 1200px;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery-modal-image {
  max-width: 100%;
  max-height: 90vh;
  object-fit: contain;
  transition: opacity 0.1s ease;
}

.gallery-caption {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: white;
  padding: 0.8rem 1.5rem;
  background: rgba(0, 0, 0, 0.7);
  font-size: 1.1rem;
  border-radius: 50px;
  max-width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.gallery-close,
.gallery-prev,
.gallery-next {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 50%;
  border: none;
  padding: 0;
}

.gallery-close {
  top: 20px;
  right: 30px;
  width: 40px;
  height: 40px;
  font-size: 35px;
}

.gallery-prev,
.gallery-next {
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  font-size: 24px;
}

.gallery-next {
  right: 20px;
}

.gallery-prev {
  left: 20px;
}

/* Progress Bar */
.gallery-progress {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: rgba(255, 255, 255, 0.2);
}

.gallery-progress-bar {
  height: 100%;
  background: #fff;
  transition: width 0.1s ease;
}

/* Responsive Design */
@media (max-width: 1024px) {
  .gallery-grid[data-columns] {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  /* Hide prev/next buttons on mobile */
  .gallery-prev,
  .gallery-next {
    display: none;
  }

  .gallery-close {
    top: 15px;
    right: 15px;
    width: 40px;
    height: 40px;
    font-size: 35px;
    background: rgba(0, 0, 0, 0.8);
    z-index: 10000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .gallery-caption {
    bottom: 15px;
    padding: 0.6rem 1rem;
    font-size: 1rem;
    max-width: 90%;
    z-index: 9999;
  }

  .gallery-modal-content {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
  }

  .gallery-modal-image {
    max-height: 100vh;
    padding: 0 10px;
  }
}

/* Additional mobile-specific styles */
@media (max-width: 480px) {
  .gallery-close {
    top: 10px;
    right: 10px;
    width: 35px;
    height: 35px;
    font-size: 30px;
  }

  .gallery-modal {
    padding: 0;
  }
}

@media (max-width: 640px) {
  .gallery-grid[data-columns] {
    grid-template-columns: 1fr;
  }
}

/* Dark Mode Support */
@media (prefers-color-scheme: dark) {
  .gallery-item {
    background: #2a2a2a;
  }
  
  .gallery-item.loading {
    background: #333;
  }
} 