/* Site header */
.site-header {
    position: fixed;
    top: 0;
    left: 240px;
    right: 0;
    z-index: 1000;
    background-color: rgba(22, 22, 22, 0.85);
    backdrop-filter: blur(10px) saturate(180%);
    -webkit-backdrop-filter: blur(10px) saturate(180%);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

/* Main navigation */
.main-nav {
    width: 100%;
    height: 56px;
}

/* Navigation list */
.nav-list {
    list-style: none;
    margin: 0;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    height: 56px;
    min-height: 56px;
    box-sizing: border-box;
    contain: layout style paint;
    contain-intrinsic-size: 56px;
}

/* Navigation items */
.nav-item {
    height: 40px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.nav-item:hover {
    opacity: 0.8;
}

/* Fixed width container for title to prevent shifts */
#mobile-title {
    flex: 1;
    min-width: 0;
    margin: 0;
    padding: 0;
    height: 40px;
    display: flex;
    align-items: center;
}

#mobile-title span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #E1E5EA;
    font-weight: 500;
    font-size: 0.95rem;
    padding: 0;
    letter-spacing: 0.01em;
}

/* Navigation links */
.nav-item a {
    height: 40px;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #D1D5DA;
    padding: 0 0.7rem;
    font-weight: 500;
    border-radius: 6px;
    font-size: 0.95rem;
    letter-spacing: 0.01em;
    white-space: nowrap;
}

/* Fixed-size navigation buttons */
.mode-toggle-button,
.nav-toggle,
.post-search-button {
    width: 40px;
    height: 40px;
    flex: 0 0 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    padding: 0;
    color: #ABABAB;
    border-radius: 6px;
    cursor: pointer;
    transform: translateZ(0);
    backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    transition: color 0.2s ease, background-color 0.2s ease;
    position: relative;
}

/* Ensure mode toggle stays right-aligned without shifting */
#mode-toggle {
    margin-left: auto;
    margin-right: 0;
}

/* Fixed size icons */
.nav-toggle i,
.post-search-button i,
#mode-icon,
.breadcrumb-separator {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 24px;
}

/* Button hover states */
.mode-toggle-button:active,
.nav-toggle:active,
.post-search-button:active {
    transform: translateY(0);
}

/* Mobile optimizations */
@media only screen and (max-width: 1023px) {
    .site-header {
        left: 0;
    }

    #breadcrumb {
        padding: 8px;
    }

    .mobile-view {
        display: none !important;
    }

    #mobile-title {
        font-size: 0.95rem;
        padding: 0.5rem;
        margin: 0;
        flex-grow: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 400;
        letter-spacing: 0.01em;
        height: 40px;
        min-height: 40px;
        display: flex;
        align-items: center;
    }
}

/* Social links fixed size */
.nav-social-links {
    display: flex;
    height: 40px;
    align-items: center;
}

.nav-social-links li {
    width: 40px;
    height: 40px;
    flex: 0 0 40px;
}

.nav-social-links a {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-social-links i {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#click-nav {
    display: none;
}

.nav-toggle {
    background: transparent;
    border: none;
    padding: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #D1D5DA;
    border-radius: 6px;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateZ(0);
    backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
}

.nav-toggle i {
    font-size: 24px;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-toggle[aria-expanded="true"] i {
    transform: rotate(90deg);
}

.nav-toggle:hover {
    background-color: rgba(255, 255, 255, 0.06);
    color: #fff;
    transform: translateY(-1px);
}

.nav-toggle:active {
    transform: translateY(0);
}

#sidenav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 240px;
    background-color: rgba(22, 22, 22, 0.95);
    backdrop-filter: blur(10px) saturate(180%);
    -webkit-backdrop-filter: blur(10px) saturate(180%);
    z-index: 1001;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1),
                background-color 0.3s ease;
    min-width: 240px;
    transform: translateX(0);
    will-change: transform;
    backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
}

#sidenav.dragging {
    transition: none !important;
}

/* Light mode styles */
.light-mode #sidenav {
    background-color: rgba(248, 249, 250, 0.95);
    border-right: 1px solid var(--border-color);
    box-shadow: var(--shadow-sm);
}

.nav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 999;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    will-change: opacity, visibility;
}

.nav-overlay.show {
    opacity: 1;
    visibility: visible;
}

@media only screen and (max-width: 1023px) {
    #sidenav {
        transform: translateX(-100%);
        top: 56px;
        height: calc(100vh - 56px);
        z-index: 998;
        box-shadow: none;
        will-change: transform;
    }

    #sidenav.show {
        transform: translateX(0);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .light-mode #sidenav {
        background-color: rgba(248, 249, 250, 0.95);
    }

    .light-mode #sidenav.show {
        box-shadow: var(--shadow-md);
    }

    #breadcrumb {
        left: 0;
        width: 100%;
        height: 56px;
        background-color: rgba(22, 22, 22, 0.95);
        z-index: 999; /* Above sidenav but below overlay */
    }

    .light-mode #breadcrumb {
        background-color: rgba(248, 249, 250, 0.95);
    }

    .nav-overlay {
        top: 56px;
        z-index: 997;
    }

    #click-nav {
        display: flex;
        color: #ABABAB;
        margin-right: 0rem;
        padding: 0rem;
        cursor: pointer;
        border-radius: 4px;
        transition: background-color 0.2s ease;
    }

    .mobile-nav {
        position: fixed;
        top: 56px;
        left: 0;
        width: 100%;
        background-color: rgba(22, 22, 22, 0.95);
        backdrop-filter: blur(10px) saturate(180%);
        -webkit-backdrop-filter: blur(10px) saturate(180%);
        transform: translateY(-100%);
        transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
        z-index: 999;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
    }

    .mobile-nav.active {
        transform: translateY(0);
    }

    #mobile-title {
        font-size: 0.95rem;
        padding: 0.5rem;
        margin: 0;
        flex-grow: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 400;
        letter-spacing: 0.01em;
        height: 40px;
        min-height: 40px;
        display: flex;
        align-items: center;
    }

    .search-container {
        position: relative;
        width: 100%;
        max-width: none;
        margin: 0.5rem 1rem;
    }

    #search-input {
        width: 100%;
        height: 40px;
        padding: 0.5rem 1rem;
        border-radius: 20px;
        background-color: rgba(255, 255, 255, 0.1);
    }

    #breadcrumb ul {
        display: flex;
        flex-direction: row;
    }

    #breadcrumb .mobile-view {
        display: none;
    }

    #breadcrumb p {
        display: none;
    }

    #breadcrumb .search-container {
        display: none;
    }

    #breadcrumb.hide .search-container {
        display: flex;
    }

    .nav-toggle {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        min-width: 40px;
        min-height: 40px;
    }
}

/* Improved Search Bar */
.search-container {
    display: flex;
    align-items: center;
    border: 1px solid rgba(64, 64, 64, 0.6);
    border-radius: 8px;
    padding: 4px 12px;
    margin-left: 1rem;
    background-color: rgba(255, 255, 255, 0.03);
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    max-width: 250px;
    position: relative;
}

.search-container:focus-within {
    border-color: #5CC82C;
    background-color: rgba(92, 200, 44, 0.08);
    box-shadow: 0 0 0 1px rgba(92, 200, 44, 0.2),
                0 2px 4px rgba(0, 0, 0, 0.12);
    transform: translateY(-1px);
}

#search-input {
    padding: 6px;
    border: none;
    background-color: transparent;
    color: #ababab;
    font-size: 0.95rem;
    width: 100%;
    letter-spacing: 0.01em;
}

#search-input::placeholder {
    color: #707070;
    opacity: 0.8;
}

/* clears the 'X' from Internet Explorer */
input[type=search]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}

input[type=search]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

.post-search-button {
    position: relative;
    background: none;
    border: none;
    padding: 0.5rem;
    color: #ABABAB;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 6px;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    overflow: hidden;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateZ(0);
    backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
}

.post-search-button:active {
    transform: translateY(0);
}

.post-search-button.loading {
    pointer-events: none;
    opacity: 0.7;
}

.post-search-button.loading i {
    animation: spin 0.8s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.breadcrumb-separator {
    color: #505050;
    font-size: 1.1rem;
    margin: 0 0.1rem;
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
    opacity: 0.8;
}

.qr-button {
    background: none;
    border: none;
    padding: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: inherit;
    transition: opacity 0.2s ease;
}

.qr-button i {
    font-size: 1rem;
}