* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    background-color: #13151a;
    color: #909090;
    margin: 0;
    line-height: 1.6;
}

.post-title {
    color: #5cc82c;
    padding-bottom: 0.3em;
    border-bottom: 1px solid rgba(124, 92, 255, 0.2);
    font-size: 1.8em;
    font-weight: 700;
    margin: 0.5em 0;
    letter-spacing: -0.02em;
    transition: color 0.2s ease;
}

.post-meta {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 1.5rem;
}

.post-meta li {
    display: flex;
    padding-right: 1rem;
}

.post-meta li:nth-child(4) {
    margin-left: auto;
    padding-right: 0;
}

.post-meta a {
    text-decoration: none;
    transition: color 0.2s ease;
}

.post-meta-author,
.post-meta-date,
.post-meta-readtime,
.post-meta-modified-date {
    text-decoration: none;
    margin-left: 0.5em;
    font-size: 0.9rem;
    color: #8a8f98;
    font-weight: 400;
}


/* Recent Updates */
.recent-updates {
    position: fixed;
    top: 130px;
    right: 5px;
    width: 240px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    z-index: 999;
    float: left;
    padding: 0 1rem;
    max-height: calc(100vh - 160px);
    overflow-y: auto;
}

.recent-updates::-webkit-scrollbar {
    width: 6px;
}

.recent-updates::-webkit-scrollbar-track {
    background: rgba(92, 200, 44, .05);
    border-radius: 3px;
}

.recent-updates::-webkit-scrollbar-thumb {
    background: rgba(92, 200, 44, .2);
    border-radius: 3px;
}

.recent-updates::-webkit-scrollbar-thumb:hover {
    background: rgba(92, 200, 44, .3);
}

.notes-section {
    margin-top: 2rem;
}

.sidebar-heading {
    color: #5cc82c;
    width: 100%;
    font-size: 1.1rem;
    margin-bottom: 1rem;
    font-weight: 500;
    border-bottom: 1px solid rgba(92, 200, 44, .1);
    padding-bottom: 0.5rem;
    text-decoration: none;
}

.sidebar-list {
    list-style: none;
    margin-bottom: 1rem;
    padding: 0;
}

.sidebar-item {
    margin-bottom: 1em;
    font-size: 0.8rem;
    line-height: 1.3;
    transition: transform 0.2s ease;
}

.sidebar-link {
    color: #e1e1e1;
    text-decoration: none;
    transition: color 0.2s ease;
}

.sidebar-link:hover {
    color: #5cc82c;
}

/* Responsive Recent Updates */
@media screen and (max-width: 768px) {


    .recent-updates {
        display: none;
    }

    .post-title {
        font-size: 1.6em;
    }
}

@media (min-width: 768px) and (max-width: 1324px) {
    .recent-updates {
        display: none;
    }
}

@media screen and (max-width: 639px) {
    .post-meta li:nth-child(4) {
        margin-left: 0;
    }
}

/* Pagination */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    padding: 2.5rem 1rem;
    font-family: 'Poppins', system-ui, -apple-system, sans-serif;
}

.pagination-numbers {
    display: flex;
    gap: 0.35rem;
    align-items: center;
    margin: 0 0.5rem;
}

.pagination-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 2.5rem;
    height: 2.5rem;
    padding: 0 0.75rem;
    background-color: rgba(92, 200, 44, .1);
    color: #c1c1c1;
    text-decoration: none;
    border-radius: 8px;
    font-size: 0.9rem;
    font-weight: 500;
    transition: all 0.2s ease;
    border: 1px solid rgba(92, 200, 44, .1);
    user-select: none;
}

.pagination-link:hover:not(.disabled):not(.active) {
    background-color: rgba(92, 200, 44, .1);
    color: #5cc82c;
    border-color: #5cc82c;
    transform: translateY(-1px);
}

.pagination-link.active {
    background-color: #5cc82c;
    color: #ffffff;
    font-weight: 600;
    box-shadow: 0 4px 6px -1px rgba(92, 200, 44, .1);
}

.pagination-link.disabled {
    color: #4a4a4a;
    cursor: not-allowed;
    opacity: 0.5;
}

.pagination-nav {
    padding: 0 1rem;
    gap: 0.5rem;
    font-weight: 500;
    border: 1px solid rgba(92, 200, 44, .1);
}

.pagination-nav:not(.disabled):hover {
    border-color: #5cc82c;
}

.pagination-nav svg {
    width: 16px;
    height: 16px;
    stroke-width: 2.5;
}

.pagination-ellipsis {
    color: #606060;
    padding: 0 0.25rem;
    user-select: none;
}

.pagination-text {
    font-size: 0.875rem;
}

@media (min-width: 1024px) and (max-width: 1324px) {
    .pagination {
        margin-left: 15rem;
    }
}

@media screen and (max-width: 640px) {
    .pagination {
        gap: 0.5rem;
        padding: 2rem 0.75rem;
    }

    .pagination-numbers {
        gap: 0.25rem;
    }

    .pagination-link {
        min-width: 2rem;
        height: 2rem;
        padding: 0 0.5rem;
        font-size: 0.813rem;
    }

    .pagination-nav {
        padding: 0 0.5rem;
    }

    .pagination-nav svg {
        width: 14px;
        height: 14px;
    }

    .pagination-text {
        font-size: 0.813rem;
    }
}

@media screen and (max-width: 380px) {
    .pagination-text {
        display: none;
    }

    .pagination-nav {
        padding: 0 0.5rem;
    }
}

.main-content>p>code,
.main-content>ul>li>code,
.main-content>ol>li>code,
.main-content>ul>li>p>code,
.main-content>ol>li>p>code,
.main-content>ul>li>ul>li>code,
.main-content>ol>li>ol>li>code,
.main-content>ul>li>ul>li>ul>li>code,
.main-content>ol>li>ol>li>ol>li>code,
.main-content>ul>li>ul>li>ul>li>ul>li>code,
.main-content>ol>li>ol>li>ol>li>ol>li>code,
.main-content>ul>li>strong>code,
.main-content>ol>li>strong>code,
.main-content>table>tbody>tr>td>code {
    font-family: 'Poppins', sans-serif;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    background-color: #272822;
    color: #5cc82c;
    border-radius: 5px;
    padding: 0 4px;
    font-size: 1.1rem;
}

tr>td>pre>code {
    font-size: 1.29rem;
}

table {
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    margin-bottom: 1.5rem;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid rgba(124, 92, 255, 0.2);
}

table a {
    color: #7c5cff !important;
    text-decoration: none;
    transition: color 0.2s ease;
}

table a:hover {
    color: #9277ff !important;
}

th,
td {
    color: #e1e1e1;
    border: 1px solid rgba(124, 92, 255, 0.1);
    text-align: left;
    padding: 12px;
}

tr:nth-child(even) {
    background-color: rgba(124, 92, 255, 0.05);
}

th {
    background-color: rgba(124, 92, 255, 0.1);
    color: #ffffff;
    font-weight: 600;
}

/* Custom checkbox styles */
input[type="checkbox"] {
    display: inline-block;
    position: relative;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 1.2rem;
    height: 1.2rem;
    border: 1px solid #007bff;
    border-radius: 25%;
    outline: none;
    background-color: transparent;
    vertical-align: middle;
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.5);
}

input[type="checkbox"]:checked {
    background-color: #007bff;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.3);
}

input[type="checkbox"]::after {
    content: '\2713';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
    color: #fff;
    opacity: 0;
}

input[type="checkbox"]:checked::after {
    opacity: 1;
}

.content-card {
    display: flex;
    border-radius: 12px;
    margin-bottom: 1.5rem;
    overflow: hidden;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.content-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.content-card-image {
    width: 350px;
    position: relative;
}

.content-card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.content-card-body {
    flex: 1;
    padding: 1.5rem;
}

.content-card-title {
    color: #5cc82c;
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
    line-height: 1.3;
}

@media screen and (max-width: 768px) {
    .content-card {
        flex-direction: column;
    }

    .content-card-image {
        flex: 0 0 200px;
        max-width: none;
        width: 100%;
        position: relative;
        padding-top: 56.25%;
        /* 16:9 aspect ratio */
    }
}

.post-meta {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin: 0.5rem 0;
    color: #999;
}

.post-meta li {
    display: inline-flex;
    align-items: center;
    gap: 0.3rem;
}

.post-meta i {
    font-size: 1rem;
    color: #666;
}

.post-meta a {
    color: #999;
    text-decoration: none;
    transition: color 0.2s ease;
}

.post-meta a:hover {
    color: #5cc82c;
}