/* Light Mode Theme */
.light-mode {
    /* Color Variables */
    --bg-primary: #f8f9fa;
    --bg-secondary: #f1f3f5;
    --text-primary: #495057;
    --text-secondary: #6c757d;
    --text-muted: #868e96;
    --accent-primary: #4dabf7;
    --accent-secondary: #339af0;
    --border-color: #dee2e6;
    --shadow-sm: 0 2px 4px rgba(0, 0, 0, 0.03);
    --shadow-md: 0 4px 12px rgba(0, 0, 0, 0.05);

    /* Base Styles */
    background-color: var(--bg-primary);
    color: var(--text-primary);
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Content Card Hover Effect */
.light-mode .content-card:hover {
    box-shadow: 0 0 5px rgba(0,0,0,.2);
}

/* Common Text Styles */
.light-mode p,
.light-mode li,
.light-mode span,
.light-mode .content-card-text,
.light-mode .links-card-description {
    color: var(--text-secondary);
}

/* Headings */
.light-mode h1,
.light-mode h2,
.light-mode .content-card-title,
.light-mode .post-title {
    color: var(--accent-secondary);
}

.light-mode h3,
.light-mode h4,
.light-mode h5,
.light-mode h6 {
    color: var(--text-primary);
}

/* Links */
.light-mode a {
    color: var(--text-primary);
    transition: all 0.2s ease;
}

.light-mode a:hover {
    color: var(--accent-primary);
}

/* Cards and Containers */
.light-mode .card,
.light-mode .posts-container,
.light-mode .links-card,
.light-mode .custom-category {
    background-color: var(--bg-primary);
    border: 1px solid var(--border-color);
    transition: all 0.2s ease;
}

.light-mode .card:hover,
.light-mode .links-card:hover {
    box-shadow: var(--shadow-md);
}

/* Navigation */
.light-mode #breadcrumb {
    background-color: rgba(248, 249, 250, 0.85);
    border-bottom: 1px solid var(--border-color);
    backdrop-filter: blur(10px) saturate(180%);
    -webkit-backdrop-filter: blur(10px) saturate(180%);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

.light-mode #breadcrumb a {
    color: var(--text-secondary);
    font-weight: 500;
}

.light-mode #breadcrumb a:hover {
    color: var(--accent-primary);
    background-color: rgba(77, 171, 247, 0.08);
    transform: translateY(-1px);
}

.light-mode #breadcrumb a:active {
    transform: translateY(0);
}

.light-mode #breadcrumb li span {
    color: var(--text-primary);
    font-weight: 500;
}

.light-mode .breadcrumb-separator {
    color: var(--text-muted);
    opacity: 0.6;
}

.light-mode #mode-toggle {
    color: var(--text-secondary);
}

.light-mode #mode-toggle:hover {
    color: var(--accent-primary);
    background-color: rgba(77, 171, 247, 0.08);
    transform: translateY(-1px);
}

.light-mode #mode-toggle:active {
    transform: translateY(0);
}

.light-mode .nav-toggle {
    color: var(--text-secondary);
}

.light-mode .nav-toggle:hover {
    color: var(--accent-primary);
    background-color: rgba(77, 171, 247, 0.08);
}

.light-mode .search-container {
    border: 1px solid var(--border-color);
    background-color: var(--bg-primary);
}

.light-mode .search-container:focus-within {
    border-color: var(--accent-primary);
    background-color: #ffffff;
    box-shadow: 0 0 0 3px rgba(77, 171, 247, 0.12);
    transform: translateY(-1px);
}

.light-mode #search-input {
    color: var(--text-primary);
}

.light-mode #search-input::placeholder {
    color: var(--text-muted);
    opacity: 0.7;
}

.light-mode .post-search-button {
    color: var(--text-secondary);
}

.light-mode .post-search-button:hover {
    color: var(--accent-primary);
    background-color: rgba(77, 171, 247, 0.08);
}

.light-mode .post-search-button:active {
    transform: translateY(0);
}

/* Mobile Navigation Light Mode */
@media only screen and (max-width: 1023px) {
    .light-mode #breadcrumb {
        background-color: rgba(248, 249, 250, 0.95);
    }

    .light-mode .mobile-nav {
        background-color: rgba(248, 249, 250, 0.95);
        backdrop-filter: blur(10px) saturate(180%);
        -webkit-backdrop-filter: blur(10px) saturate(180%);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
        border-bottom: 1px solid var(--border-color);
    }

    .light-mode #mobile-title {
        color: var(--text-primary);
    }

    .light-mode #search-input {
        background-color: rgba(77, 171, 247, 0.05);
    }
}

/* Touch Device Optimizations */
@media (hover: none) {
    .light-mode #breadcrumb a:active,
    .light-mode .nav-toggle:active,
    .light-mode .post-search-button:active {
        background-color: rgba(77, 171, 247, 0.12);
    }
}

/* Sidenav */
.light-mode .sidenav {
    background-color: var(--bg-secondary);
    border-right: 1px solid var(--border-color);
}

.light-mode .sidenav-header {
    background-color: var(--bg-primary);
    color: var(--text-primary);
    border-bottom: 1px solid var(--border-color);
}

.light-mode .nav-link {
    color: var(--text-secondary);
    background-color: var(--bg-primary);
}

.light-mode .nav-link:hover,
.light-mode .sub-links a:hover {
    color: var(--text-primary);
    background-color: #ffffff;
    border-color: var(--border-color);
}

.light-mode .nav-link.active,
.light-mode .sub-links a.active {
    color: var(--accent-primary);
    background-color: #e7f5ff;
    border-color: #74c0fc;
}

/* Notes Container */
.light-mode .notes-container {
    background-color: var(--bg-primary);
}

.light-mode .notes-container:hover {
    background-color: var(--bg-secondary);
    border-color: var(--accent-primary);
}

.light-mode .sidenav {
    background-color: var(--bg-primary);
    box-shadow: var(--shadow-sm);
}

.light-mode .nav-link,
.light-mode .sub-links a,
.light-mode .notes-container {
    background-color: var(--bg-secondary);
}

.light-mode .nav-link:hover,
.light-mode .sub-links a:hover,
.light-mode .notes-container:hover {
    background-color: #e7f5ff;
}

/* Reduced motion preferences */
@media (prefers-reduced-motion: reduce) {
    .light-mode * {
        transition: none !important;
    }
}

/* Base text and link styles */
.light-mode ol>li>a,
.light-mode ol>li>p>a,
.light-mode .main-content p,
.light-mode p>a,
.light-mode #breadcrumb a,
.light-mode .recent-updates li>a,
.light-mode .content-card p,
.light-mode .content-card-author,
.light-mode .content-card-date,
.light-mode .content-card-readtime,
.light-mode #TableOfContents li>a,
.light-mode .posts-content h3>a,
.light-mode .posts-content ul>li>a,
.light-mode .posts-content ul>li>time,
.light-mode .posts-content ul>li>span,
.light-mode #breadcrumb,
.light-mode #breadcrumb li span,
.light-mode #scroll-to-top,
.light-mode .footer,
.light-mode .footer a,
.light-mode .toc li>a,
.light-mode nav>ul>li>a,
.light-mode .main-content li,
.light-mode .main-content strong,
.light-mode #breadcrumb .openbtn,
.light-mode .links-card-title,
.light-mode .links-card-title a,
.light-mode .fa-folder,
.light-mode .post-navigation a {
    color: #2d3748;
    transition: color 0.2s ease;
}

/* Recent updates section */
.light-mode .recent-updates h3 {
    color: #2c5282;
}

.light-mode .recent-updates ul>li>a {
    color: #4a5568;
    transition: color 0.2s ease;
}

.light-mode .recent-updates li a:hover {
    color: #3182ce;
}

/* Pagination styles */
.light-mode .pagination-link {
    background-color: var(--bg-secondary);
    color: var(--text-secondary);
    transition: all 0.2s ease;
    border: 1px solid var(--border-color);
}

.light-mode .pagination-link:hover:not(.disabled):not(.active) {
    color: var(--accent-primary);
    background-color: rgba(77, 171, 247, 0.1);
    border-color: var(--accent-primary);
}

.light-mode .pagination-link.disabled {
    background-color: var(--bg-secondary);
    color: var(--text-muted);
    border-color: var(--border-color);
    cursor: not-allowed;
}

.light-mode .pagination-link.active {
    background-color: var(--accent-primary);
    color: #ffffff;
    border-color: var(--accent-primary);
}

/* Archive section styles */
.light-mode .archieve-container {
    background-color: var(--bg-primary);
    border: 1px solid var(--border-color);
    box-shadow: var(--shadow-sm);
}

.light-mode .archieve-year {
    background-color: var(--bg-secondary);
    border: 1px solid var(--border-color);
    box-shadow: var(--shadow-sm);
}

.light-mode .archieve-year-header {
    color: var(--text-primary);
}

.light-mode .archieve-year-header::after {
    background: var(--accent-primary);
}

.light-mode .archieve-month-header {
    color: var(--text-secondary);
    border-bottom: 1px solid var(--border-color);
}

.light-mode .archieve-month-list {
    border-left: 2px solid var(--border-color);
}

.light-mode .archieve-month-item::before {
    background: var(--accent-primary);
}

.light-mode .archieve-month-item:hover::before {
    box-shadow: 0 0 10px rgba(77, 171, 247, 0.4);
}

.light-mode .archieve-month-item a {
    color: var(--text-primary);
    background: var(--bg-primary);
    border: 1px solid var(--border-color);
    backdrop-filter: blur(8px);
    transition: all .2s ease;
}

.light-mode .archieve-month-item a:hover {
    color: var(--accent-primary);
    background: rgba(77, 171, 247, 0.1);
    border-color: var(--accent-primary);
    transition: all .2s ease;
}

.light-mode .archieve-title {
    color: var(--text-primary);
}

.light-mode .archieve-date {
    color: var(--text-muted);
    background: var(--bg-secondary);
    border: 1px solid var(--border-color);
}

.light-mode .archieve-pages {
    background: var(--bg-secondary);
    border: 1px solid var(--border-color);
}

.light-mode .archieve-pages a {
    background: var(--bg-primary);
    color: var(--text-secondary);
    border: 1px solid var(--border-color);
}

.light-mode .archieve-pages a::before {
    background: linear-gradient(45deg, transparent, rgba(77, 171, 247, 0.1), transparent);
}

.light-mode .archieve-pages a:hover {
    color: var(--accent-primary);
    background: rgba(77, 171, 247, 0.1);
    border-color: var(--accent-primary);
}

/* Projects Page Styles */
.light-mode .project-main {
    background: var(--bg-primary);
    border: 1px solid var(--border-color);
    box-shadow: var(--shadow-sm);
    transition: all 0.2s ease;
}

.light-mode .project:hover {
    box-shadow: 0 4px 12px rgba(77, 171, 247, 0.15);
    border-color: var(--accent-primary);
}

.light-mode .project-image img {
    border: 1px solid var(--border-color);
    transition: all 0.2s ease-in-out;
}

.light-mode .project-image img:hover {
    border-color: var(--accent-primary);
    box-shadow: 0 4px 12px rgba(77, 171, 247, 0.15);
}

.light-mode .project-title {
    color: #1e1e1e;
}

.light-mode .project-title a {
    color: var(--text-primary);
    transition: color 0.2s ease;
}

.light-mode .project-title a::after {
    background: var(--accent-primary);
    transition: width 0.2s ease;
}

.light-mode .project-title a:hover {
    color: var(--accent-primary);
}

/* About section styles */
.light-mode .about-me {
    background-color: var(--bg-primary);
    border: 1px solid var(--border-color);
    box-shadow: var(--shadow-sm);
    transition: all 0.2s ease;
}

.light-mode .about-me:hover {
    box-shadow: var(--shadow-md);
}

.light-mode .about-me-image {
    border: 2px solid var(--border-color);
    transition: all 0.2s ease;
}

.light-mode .about-me:hover .about-me-image {
    box-shadow: var(--shadow-sm);
}

.light-mode .about-me-content h2 {
    color: var(--text-primary);
}

.light-mode .about-me-content h2::after {
    background: var(--accent-primary);
}

.light-mode .about-me-content h3 {
    color: var(--text-secondary);
}

.light-mode .about-me-description {
    color: var(--text-primary) !important;
}

.light-mode .about-me-links-list a {
    color: var(--text-primary);
    background: var(--bg-secondary);
    border: 1px solid var(--border-color);
    transition: all 0.2s ease;
}

.light-mode .about-me-links-list a:hover {
    color: var(--accent-primary);
    background: rgba(77, 171, 247, 0.1);
    border-color: var(--accent-primary);
    box-shadow: var(--shadow-sm);
}

.light-mode .about-me-links-list a i {
    color: var(--accent-primary);
}

@media (prefers-reduced-motion: reduce) {
    .light-mode .about-me,
    .light-mode .about-me-image,
    .light-mode .about-me-links-list a,
    .light-mode .about-me-content h2::after {
        transition: none;
    }
}

/* Links Page Styles */
.light-mode .links-container {
    background-color: var(--bg-primary);
}

.light-mode .links-area-title {
    color: var(--text-primary);
}

.light-mode .links-area-title::after {
    background: linear-gradient(90deg, var(--accent-primary), var(--accent-secondary));
}

.light-mode .link-count {
    color: var(--text-muted);
}

.light-mode .links-card {
    background-color: var(--bg-secondary);
    border: 1px solid var(--border-color);
}

.light-mode .links-card::before {
    background: linear-gradient(45deg, var(--accent-primary), var(--accent-secondary));
}

.light-mode .card-content {
    background-color: var(--bg-secondary);
}

.light-mode .link-title {
    color: var(--text-primary);
    border-bottom: 1px solid var(--border-color);
}

.light-mode .link-arrow {
    color: var(--accent-primary);
}

.light-mode .links-card:hover {
    border-color: var(--accent-primary);
}

.light-mode .links-card:hover .link-arrow {
    color: var(--accent-secondary);
}

.light-mode .link-description {
    color: var(--text-secondary);
}

.light-mode .links-card:hover .card-content {
    background-color: rgba(255, 255, 255, 0.95);
}

/* Touch Device Optimizations */
@media (hover: none) {
    .light-mode .links-card:active {
        transform: translateY(-1px);
    }
    
    .light-mode .links-card:active .card-content {
        background-color: rgba(255, 255, 255, 0.98);
    }
}

/* Category styles */
.light-mode .category-item {
    background-color: #ffffff;
    border: 1px solid #e2e8f0;
    transition: all 0.2s ease;
}

.light-mode .category-link {
    color: #3182ce;
}

.light-mode .category-link:hover {
    color: #2c5282;
}

.light-mode .post-count {
    color: #718096;
}

.light-mode .show-posts a {
    background-color: #f8fafc;
    border: 1px solid #e2e8f0;
    transition: all 0.2s ease;
}

.light-mode .show-posts a:hover {
    background-color: #edf2f7;
}

/* Table styles */
.light-mode table {
    border: 1px solid var(--border-color);
}

.light-mode tr:nth-child(even) {
    background-color: var(--bg-secondary);
}

.light-mode th {
    background-color: var(--bg-secondary);
    color: var(--text-primary);
}

.light-mode td {
    border: 1px solid var(--border-color);
    color: var(--text-secondary);
}

/* Sidenav Base Styles */
.light-mode #first-sidenav,
.light-mode #second-sidenav {
    background-color: #f8fafc;
    border-right: 1px solid #e2e8f0;
}

.light-mode #first-sidenav::-webkit-scrollbar-track,
.light-mode #second-sidenav::-webkit-scrollbar-track {
    background: #f8fafc;
}

.light-mode #first-sidenav::-webkit-scrollbar-thumb,
.light-mode #second-sidenav::-webkit-scrollbar-thumb {
    background: #e2e8f0;
    transition: background 0.2s ease;
}

.light-mode #first-sidenav::-webkit-scrollbar-thumb:hover,
.light-mode #second-sidenav::-webkit-scrollbar-thumb:hover {
    background: #cbd5e0;
}

/* Sub Navigation */
.light-mode .sub-links a {
    color: #718096;
    transition: all 0.2s ease;
}

.light-mode .sub-links a:hover {
    color: #4a5568;
    background-color: #ffffff;
    border-color: #e2e8f0;
}

.light-mode .sub-links a.active {
    color: #3182ce;
    background-color: #ebf8ff;
    border-color: #90cdf4;
}

.light-mode .nav-link i {
    color: #718096;
    transition: all 0.2s ease;
}

.light-mode .nav-link:hover i {
    color: #4a5568;
}

.light-mode .nav-link.active i {
    color: #3182ce;
}

/* Mobile Styles */
.light-mode #first-sidenav,
.light-mode #second-sidenav {
    background-color: #ffffff;
}

.light-mode .nav-link,
.light-mode .sub-links a,
.light-mode .notes-container {
    background-color: #f8fafc;
}

.light-mode .nav-link:hover,
.light-mode .sub-links a:hover,
.light-mode .notes-container:hover {
    background-color: #e7f5ff;
}

/* Touch Device Optimizations */
@media (hover: none) {
    .light-mode .nav-link:active,
    .light-mode .sub-links a:active,
    .light-mode .notes-container:active {
        background-color: #e7f5ff;
    }
}

/* Navigation Pages */
.light-mode .nav-pages a:hover {
    color: var(--accent-primary) !important;
    background-color: rgba(77,171,247,.1) !important;
    transition: all .2s ease;
}

.light-mode .nav-pages a:hover i {
    color: var(--accent-primary);
    transition: all .2s ease;
}

.light-mode .nav-pages a[aria-current="page"],
.light-mode .nav-pages a.active {
    color: var(--accent-primary) !important;
    background-color: rgba(77,171,247,.1) !important;
}

.light-mode .nav-pages a[aria-current="page"] i,
.light-mode .nav-pages a.active i {
    color: var(--accent-primary) !important;
}

/* Brand Styles */
.light-mode .brand-holder-one a {
    color: var(--text-primary);
    transition: color 0.2s ease;
}

.light-mode .brand-holder-one a:hover {
    color: var(--accent-primary);
}

.light-mode .nav-social-links a:hover {
    color: var(--accent-primary);
    transition: all 0.2s ease;
}

.light-mode .project-meta li {
    color: var(--text-secondary);
    background: var(--bg-secondary);
    border: 1px solid var(--border-color);
}

.light-mode .project-meta li strong {
    color: var(--accent-primary);
}

.light-mode .project-description {
    color: var(--text-secondary);
    background: var(--bg-secondary);
    border: 1px solid var(--border-color);
}

/* Notes Page Styles */
.light-mode .dropdown-sidenav {
    background-color: var(--bg-primary);
}

.light-mode .sidenav-main {
    background-color: var(--bg-primary);
}

.light-mode #first-sidenav,
.light-mode #second-sidenav {
    background-color: var(--bg-primary);
    border-right: 1px solid var(--border-color);
}

.light-mode #first-sidenav::-webkit-scrollbar-thumb,
.light-mode #second-sidenav::-webkit-scrollbar-thumb {
    background-color: var(--border-color);
}

.light-mode .nav-link {
    color: var(--text-primary);
}

.light-mode .nav-link.active {
    background-color: rgba(77, 171, 247, 0.1);
    color: var(--accent-primary);
}

.light-mode .nav-link:hover,
.light-mode .sub-links.active {
    background-color: rgba(77, 171, 247, 0.05);
}

.light-mode .notes-content {
    background-color: var(--bg-primary);
    border-right: 1px solid var(--border-color);
}

.light-mode .notes-container {
    background-color: var(--bg-secondary);
}

.light-mode .notes-container:hover {
    background-color: rgba(77, 171, 247, 0.1);
    border-color: var(--accent-primary);
}

.light-mode .notes-container > a {
    color: var(--accent-primary);
}

.light-mode .note-widget-buttons {
    background-color: var(--bg-primary);
    border-right: 1px solid var(--border-color);
}

.light-mode .note-widget-buttons button {
    color: var(--text-primary);
}

.light-mode .note-widget-buttons button:hover {
    background-color: rgba(77, 171, 247, 0.1);
    color: var(--accent-primary);
}

.light-mode .note-widget-search-input {
    color: var(--text-primary);
    background-color: var(--bg-secondary);
    border: 1px solid var(--border-color);
}

.light-mode .note-widget-search-input:focus {
    border-color: var(--accent-primary);
    background-color: rgba(77, 171, 247, 0.05);
}

.light-mode .copy-button {
    background: var(--bg-secondary);
    color: var(--text-primary);
    border: 1px solid var(--border-color);
}

.light-mode .copy-button:hover {
    background: rgba(77, 171, 247, 0.1);
    color: var(--accent-primary);
    border-color: var(--accent-primary);
}

.light-mode .post-title {
    color: var(--accent-primary);
}

.light-mode .post-meta {
    color: var(--text-secondary);
}

.light-mode .post-meta i {
    color: var(--accent-primary);
}

/* Notes Content Styles */
.light-mode .notes-content .main-content p,
.light-mode .notes-content .main-content li {
    color: var(--text-primary);
}

.light-mode .notes-content .main-content a {
    color: var(--accent-primary);
}

.light-mode .notes-content .main-content a:hover {
    border-bottom-color: var(--accent-primary);
}

.light-mode .notes-content .main-content strong {
    color: var(--text-primary);
}

.light-mode .notes-content .main-content h1 {
    color: var(--accent-primary);
}

.light-mode .notes-content .main-content h2 {
    color: var(--text-primary);
}

.light-mode .notes-content .main-content h3 {
    color: var(--accent-secondary);
}

.light-mode .notes-content .main-content h4 {
    color: var(--text-primary);
}

.light-mode .notes-content .main-content h5 {
    color: var(--accent-secondary);
}

.light-mode .notes-content .main-content h6 {
    color: var(--text-primary);
}

/* Mobile Styles */
@media screen and (max-width: 1024px) {
    .light-mode .note-widget-buttons {
        background-color: var(--bg-primary);
        border-bottom: 1px solid var(--border-color);
    }

    .light-mode #first-sidenav,
    .light-mode #second-sidenav {
        border-bottom: 1px solid var(--border-color);
    }
}

/* Posts Content Styles */
.light-mode .posts-content {
    background-color: var(--bg-primary);
    border-right: 1px solid var(--border-color);
}

.light-mode .post-title {
    color: var(--accent-primary);
}

.light-mode .post-meta {
    color: var(--text-secondary);
}

.light-mode .post-meta li {
    color: var(--text-secondary);
}

.light-mode .post-meta a {
    color: var(--accent-primary);
    transition: all 0.2s ease;
}

.light-mode .post-meta a:hover {
    color: var(--accent-secondary);
}

.light-mode .welcome-content {
    color: var(--text-primary);
    background-color: var(--bg-secondary);
    border: 1px solid var(--border-color);
}

.light-mode .welcome-content h2 {
    color: var(--accent-primary);
}

.light-mode .welcome-content p {
    color: var(--text-secondary);
}

/* Search Modal Light Theme */
.light-mode .search-modal {
    background-color: rgba(255, 255, 255, 0.95);
    backdrop-filter: blur(8px);
}

.light-mode .search-modal-content {
    background-color: var(--bg-primary);
    border: 1px solid var(--border-color);
    box-shadow: var(--shadow-md);
}

.light-mode .search-input-container {
    background-color: var(--bg-secondary);
    border-bottom: 1px solid var(--border-color);
}

.light-mode .search-input-wrapper::before {
    color: var(--text-muted);
}

.light-mode .note-widget-search-input {
    color: var(--text-primary);
    background-color: var(--bg-primary);
    border: 1px solid var(--border-color);
}

.light-mode .note-widget-search-input::placeholder {
    color: var(--text-muted);
}

.light-mode .note-widget-search-input:focus {
    background-color: #ffffff;
    border-color: var(--accent-primary);
    box-shadow: 0 0 0 2px rgba(77, 171, 247, 0.1);
}

.light-mode .search-cancel-button {
    color: var(--accent-primary);
}

.light-mode .search-cancel-button:hover {
    background-color: rgba(77, 171, 247, 0.1);
}

.light-mode .search-results {
    background-color: var(--bg-primary);
}

.light-mode .search-results .notes-container {
    background-color: var(--bg-secondary);
    border: 1px solid var(--border-color);
}

.light-mode .search-results .notes-container:hover {
    background-color: rgba(77, 171, 247, 0.1);
    border-color: var(--accent-primary);
}

.light-mode .search-results .notes-container .note-widget-title {
    color: var(--text-primary);
}

.light-mode .search-results .notes-container .note-widget-title i {
    color: var(--accent-primary);
}

.light-mode .no-results-message {
    color: var(--text-muted);
    background-color: var(--bg-secondary);
    border: 1px solid var(--border-color);
}

/* Mobile Optimizations for Light Mode */
@media screen and (max-width: 480px) {
    .light-mode .search-modal-content {
        background-color: var(--bg-primary);
    }

    .light-mode .search-input-container {
        background-color: var(--bg-primary);
        border-bottom: 1px solid var(--border-color);
    }

    .light-mode .search-results .notes-container {
        background-color: var(--bg-secondary);
        border: 1px solid var(--border-color);
    }
}

/* Touch Device Optimizations for Light Mode */
@media (hover: none) {
    .light-mode .search-cancel-button:active {
        background-color: rgba(77, 171, 247, 0.2);
    }

    .light-mode .search-results .notes-container:active {
        background-color: rgba(77, 171, 247, 0.15);
    }
}

/* Comments Section Light Mode */
.light-mode .comments-section {
    border-top: 1px solid rgba(77, 171, 247, 0.2);
}

.light-mode .comments-title {
    color: var(--text-primary);
}

.light-mode .comments-title::after {
    background: linear-gradient(90deg, var(--accent-primary), transparent);
}

.light-mode .comment-item {
    background: var(--bg-secondary);
    border: 1px solid var(--border-color);
}

.light-mode .comment::before {
    background: var(--accent-primary);
}

.light-mode .comment:hover {
    box-shadow: var(--shadow-md);
    border-color: var(--accent-primary);
}

.light-mode .comment-header {
    border-bottom: 1px solid var(--border-color);
}

.light-mode .comment-author {
    color: var(--accent-primary);
}

.light-mode .comment-date {
    color: var(--text-muted);
}

.light-mode .comment-date::before {
    color: var(--border-color);
}

.light-mode .comment-content,
.light-mode .preview-content {
    color: var(--text-primary);
}

.light-mode .comment-content code,
.light-mode .preview-content code {
    background: var(--bg-primary);
    border: 1px solid var(--border-color);
}

.light-mode .comment-content pre,
.light-mode .preview-content pre {
    background: var(--bg-primary);
    border: 1px solid var(--border-color);
}

.light-mode .comment-content blockquote,
.light-mode .preview-content blockquote {
    border-left: 4px solid var(--accent-primary);
    background: var(--bg-primary);
    color: var(--text-primary);
}

.light-mode .comment-content hr,
.light-mode .preview-content hr {
    background: linear-gradient(90deg, transparent, var(--accent-primary), transparent);
}

.light-mode .no-comments {
    color: var(--text-muted);
    background: var(--bg-secondary);
}

.light-mode .comment-form {
    background: var(--bg-secondary);
    border: 1px solid var(--border-color);
}

.light-mode .comment-form h4 {
    color: var(--text-primary);
}

.light-mode .comment-note {
    color: var(--text-muted);
    border-bottom: 1px solid var(--border-color);
}

.light-mode .form-group label {
    color: var(--text-primary);
}

.light-mode .char-counter {
    color: var(--text-muted);
    background: var(--bg-primary);
}

.light-mode .form-group input,
.light-mode .form-group textarea {
    border: 1px solid var(--border-color);
    background: var(--bg-primary);
    color: var(--text-primary);
}

.light-mode .form-group input:hover,
.light-mode .form-group textarea:hover {
    border-color: var(--accent-primary);
}

.light-mode .form-group input:focus,
.light-mode .form-group textarea:focus {
    border-color: var(--accent-primary);
    box-shadow: 0 0 0 3px rgba(77, 171, 247, 0.1);
}

.light-mode .markdown-toolbar {
    background: var(--bg-primary);
    border: 1px solid var(--border-color);
}

.light-mode .markdown-toolbar button {
    background: var(--bg-secondary);
    color: var(--text-primary);
}

.light-mode .markdown-toolbar button:hover {
    background: var(--bg-primary);
    color: var(--accent-primary);
}

.light-mode .markdown-help-content {
    background: var(--bg-primary);
    border: 1px solid var(--border-color);
    box-shadow: var(--shadow-md);
}

.light-mode .help-header {
    border-bottom: 1px solid var(--border-color);
    background: var(--bg-secondary);
}

.light-mode .help-header h6 {
    color: var(--text-primary);
}

.light-mode .close-help {
    color: var(--text-muted);
}

.light-mode .close-help:hover {
    color: var(--text-primary);
    background: var(--bg-primary);
}

.light-mode .help-section h6 {
    color: var(--accent-primary);
}

.light-mode .help-item code {
    background: var(--bg-secondary);
    border: 1px solid var(--border-color);
    color: var(--accent-primary);
}

.light-mode .help-preview {
    color: var(--text-muted);
}

.light-mode .preview-column {
    border: 1px solid var(--border-color);
    background: var(--bg-secondary);
}

.light-mode .preview-header {
    border-bottom: 1px solid var(--border-color);
    color: var(--text-muted);
}

.light-mode .preview-placeholder {
    color: var(--text-muted);
}

.light-mode .notification {
    background: var(--bg-primary);
    box-shadow: var(--shadow-md);
}

.light-mode .notification.success {
    background: rgba(77, 171, 247, 0.1);
    border-color: var(--accent-primary);
    color: var(--accent-primary);
}

.light-mode .notification.error {
    background: rgba(255, 76, 76, 0.1);
    border-color: #ff4c4c;
    color: #ff4c4c;
}

.light-mode .notification.info {
    background: rgba(77, 171, 247, 0.1);
    border-color: var(--accent-primary);
    color: var(--accent-primary);
}

.light-mode .notification-close {
    color: currentColor;
}

.light-mode .notification-close:hover {
    background: rgba(0, 0, 0, 0.05);
}

.light-mode .author-comment {
    background: rgba(77, 171, 247, 0.05);
    border-color: var(--accent-primary);
}

.light-mode .author-comment::before {
    background: var(--accent-primary);
}

.light-mode .author-badge {
    color: var(--accent-primary);
}

.light-mode .comments-placeholder {
    background: var(--bg-secondary);
    border: 1px dashed var(--border-color);
}

.light-mode .comments-loading {
    color: var(--text-muted);
}

.light-mode .comments-loading i {
    color: var(--accent-primary);
}

/* Form Actions */
.light-mode .form-actions {
    border-top: 1px solid var(--border-color);
}

.light-mode .submit-comment {
    background: var(--accent-primary);
    color: #ffffff;
}

.light-mode .submit-comment:hover {
    background: var(--accent-secondary);
}

/* Terms/Categories Page Light Mode */
.light-mode .terms-view {
    background: var(--bg-primary);
    border: 1px solid var(--border-color);
    box-shadow: var(--shadow-sm);
}

.light-mode .category-item {
    background: var(--bg-primary);
    border: 1px solid var(--border-color);
    transition: all 0.2s ease;
    position: relative;
    overflow: hidden;
}

.light-mode .category-item:hover {
    border-color: var(--accent-primary);
    background: rgba(77, 171, 247, 0.03);
    transform: translateX(4px);
    box-shadow: 0 4px 12px rgba(77, 171, 247, 0.1);
}

.light-mode .category-item.active {
    background: rgba(77, 171, 247, 0.05);
    border-color: var(--accent-primary);
    box-shadow: 0 4px 12px rgba(77, 171, 247, 0.1);
}

.light-mode .category-item i {
    color: var(--accent-primary);
    transition: transform 0.3s ease;
}

.light-mode .category-item:hover i {
    transform: scale(1.1);
}

.light-mode .category-title {
    color: var(--text-primary);
    transition: color 0.3s ease;
}

.light-mode .category-item:hover .category-title {
    color: var(--accent-primary);
}

.light-mode .post-count {
    background: rgba(77, 171, 247, 0.1);
    color: var(--text-secondary);
    border: 1px solid transparent;
    transition: all 0.3s ease;
}

.light-mode .category-item:hover .post-count {
    background: rgba(77, 171, 247, 0.15);
    color: var(--accent-primary);
    border-color: var(--accent-primary);
}

.light-mode .toggle-icon {
    color: var(--text-secondary);
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.light-mode .category-item:hover .toggle-icon {
    color: var(--accent-primary);
}

.light-mode .show-posts {
    background: transparent;
    padding-left: 2.5rem;
}

.light-mode .show-posts li {
    position: relative;
    margin: 0.75rem 0;
}

.light-mode .show-posts li::before {
    content: '';
    position: absolute;
    left: -1rem;
    top: 50%;
    width: 4px;
    height: 4px;
    background: var(--border-color);
    border-radius: 50%;
    transform: translateY(-50%);
    transition: all 0.3s ease;
}

.light-mode .show-posts li:hover::before {
    background: var(--accent-primary);
    box-shadow: 0 0 8px rgba(77, 171, 247, 0.4);
}

.light-mode .show-posts a {
    color: var(--text-secondary);
    background: var(--bg-primary);
    border: 1px solid var(--border-color);
    border-radius: 6px;
    padding: 0.75rem 1rem;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
}

.light-mode .show-posts a:hover {
    color: var(--accent-primary);
    background: rgba(77, 171, 247, 0.03);
    border-color: var(--accent-primary);
    transform: translateX(4px);
    box-shadow: 0 4px 12px rgba(77, 171, 247, 0.1);
    text-decoration: none;
}

/* Touch Device Optimizations */
@media (hover: none) {
    .light-mode .category-item:active,
    .light-mode .show-posts a:active {
        background: rgba(77, 171, 247, 0.1);
    }
}

/* Reduced Motion */
@media (prefers-reduced-motion: reduce) {
    .light-mode .category-item,
    .light-mode .category-item::after,
    .light-mode .show-posts a {
        transition: none;
    }
    
    .light-mode .category-item:hover {
        transform: none;
    }
    
    .light-mode .show-posts a:hover {
        transform: none;
    }
}