.links-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem 0;
}

.links-grid {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.section-header {
    display: flex;
    align-items: baseline;
    gap: 1rem;
    margin-bottom: 1rem;
}

.link-count {
    color: #6b7280;
    font-size: 0.9rem;
    font-weight: 500;
}

.links-cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 1.5rem;
}

.links-card {
    position: relative;
    background-color: #222326;
    border: 1px solid #2a2b2e;
    border-radius: 12px;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    overflow: hidden;
}

.links-card::before {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(45deg, #4f46e5, #6366f1);
    opacity: 0;
    transition: opacity 0.2s ease;
    z-index: 0;
}

.card-content {
    position: relative;
    z-index: 1;
    background-color: #222326;
    padding: 1.5rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.links-card:hover {
    transform: translateY(-2px);
    border-color: #4f46e5;
}

.links-card:hover::before {
    opacity: 1;
}

.link-title {
    color: #e1e1e1;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.75rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.link-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transform: translateX(-8px);
    transition: all 0.2s ease;
    color: #4f46e5;
}

.links-card:hover .link-arrow {
    opacity: 1;
    transform: translateX(0);
    color: #6366f1;
}

.link-description {
    color: #9ca3af;
    font-size: 0.95rem;
    line-height: 1.6;
    margin: 0;
    flex-grow: 1;
}

.links-section {
    margin-bottom: 1rem;
}

.links-area-title {
    font-size: 1.75rem;
    font-weight: 700;
    color: #e1e1e1;
    position: relative;
    display: inline-block;
    padding-bottom: 0.5rem;
    margin: 0;
}

.links-area-title::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 60px;
    height: 3px;
    background: linear-gradient(90deg, #4f46e5, #6366f1);
    border-radius: 3px;
    transition: width 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.links-area-title:hover::after {
    width: 100%;
}

/* Hover effect for cards */
.links-card:hover .card-content {
    background-color: rgba(34, 35, 38, 0.95);
}

@media only screen and (max-width: 768px) {
    .links-container {
        padding: 0.5rem;
    }

    .links-cards-grid {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .links-card {
        padding: 0;
    }

    .card-content {
        padding: 1.25rem;
    }

    .link-title {
        font-size: 1rem;
    }

    .link-description {
        font-size: 0.9rem;
    }

    .section-header {
        flex-direction: column;
        gap: 0.5rem;
        margin-bottom: 1rem;
    }
}

@media (prefers-reduced-motion: reduce) {
    .links-card,
    .link-arrow,
    .links-area-title::after,
    .links-card::before {
        transition: none;
    }
}

/* Dark mode enhancements */
@media (prefers-color-scheme: dark) {
    .link-title {
        color: #f3f4f6;
    }
    
    .link-description {
        color: #9ca3af;
    }

    .links-card:hover .card-content {
        background-color: rgba(26, 27, 30, 0.95);
    }
}

/* Loading animation */
@keyframes cardFadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.links-card {
    animation: cardFadeIn 0.3s ease-out forwards;
    animation-delay: calc(var(--card-index, 0) * 0.1s);
}