.sidenav {
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: rgba(32, 33, 35, 0.98);
    overflow-x: hidden;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    width: 240px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.sidenav-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 1.5rem 1rem;
}

/* Profile Section */
.profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5rem;
    animation: fadeIn 0.5s ease;
}

.my-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    border: 2px solid rgba(92, 200, 44, 0.3);
    transition: all 0.3s ease;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.my-image:hover {
    transform: scale(1.05);
    border-color: #5CC82C;
    box-shadow: 0 4px 12px rgba(92, 200, 44, 0.2);
}

.my-image picture,
.my-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
}

/* Ensure picture element doesn't break the layout */
.my-image picture {
    display: block;
}

/* Handle source elements inside picture */
.my-image source {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.brand-holder-one {
    margin: 0.75rem 0 0.25rem;
    text-align: center;
}

.brand-holder-one a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2rem;
    transition: all 0.3s ease;
    position: relative;
    padding: 0.2rem 0;
}

.brand-holder-one a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #5CC82C;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease;
}

.brand-holder-one a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.brand-holder-one a:hover {
    color: #5CC82C;
}

.brand-holder-sub {
    margin: 0;
    color: #888;
    text-align: center;
    font-size: 0.85rem;
}

.style-one {
    border: 0;
    margin: 1.5rem 0 0.5rem;
    width: 70%;
    height: 1px;
    background-image: linear-gradient(to right, 
        rgba(0, 0, 0, 0), 
        rgba(92, 200, 44, 0.3), 
        rgba(0, 0, 0, 0));
}

/* Navigation Section */
.navigation {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
}

.nav-pages {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-pages li {
    margin-bottom: 0.4rem;
    opacity: 0;
    transform: translateX(-10px);
    animation: slideIn 0.3s ease forwards;
}

.nav-pages li:nth-child(1) { animation-delay: 0.1s; }
.nav-pages li:nth-child(2) { animation-delay: 0.2s; }
.nav-pages li:nth-child(3) { animation-delay: 0.3s; }
.nav-pages li:nth-child(4) { animation-delay: 0.4s; }
.nav-pages li:nth-child(5) { animation-delay: 0.5s; }

.nav-pages a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 0.95rem;
    color: rgba(255, 255, 255, 0.8);
    padding: 0.8rem 1rem;
    border-radius: 12px;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.02);
}

.nav-pages a:hover {
    color: #fff;
    background-color: rgba(92, 200, 44, 0.1);
    transform: translateX(5px);
}

.nav-pages a[aria-current="page"],
.nav-pages a.active {
    color: #5CC82C;
    background-color: rgba(92, 200, 44, 0.15);
    font-weight: 500;
    box-shadow: 0 2px 8px rgba(92, 200, 44, 0.1);
}

.nav-pages a i {
    width: 1.5rem;
    font-size: 1.1rem;
    margin-right: 0.75rem;
    transition: all 0.3s ease;
}

.nav-pages a:hover i {
    color: #5CC82C;
    transform: scale(1.1);
}

.nav-pages a[aria-current="page"] i,
.nav-pages a.active i {
    color: #5CC82C;
}

/* Social Links Section */
.nav-social-links {
    display: flex;
    list-style: none;
    padding: 0.75rem;
    justify-content: center;
    margin-top: auto;
    align-items: center;
}

.nav-social-links a {
    color: #888;
    font-size: 1.1rem;
    border-radius: 4px;
    transition: color 0.2s ease;
    text-decoration: none;
}

.nav-social-links li {
    width: 40px;
    height: 40px;
    flex: 0 0 40px;
}

.nav-social-links a:hover {
    color: #5CC82C;
}

.nav-social-links i {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Mobile Navigation */
@media only screen and (max-width: 1023px) {
    .sidenav {
        position: fixed;
        top: 50px;
        left: -280px;
        height: calc(100vh - 50px);
        width: 280px;
        transform: translateX(0);
        transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
        z-index: 1001;
        overflow-y: auto;
        touch-action: pan-y pinch-zoom;
        will-change: transform;
        -webkit-overflow-scrolling: touch;
        background-color: rgba(32, 33, 35, 0.98);
    }

    .sidenav.show {
        left: 0;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    }

    /* Pull indicator */
    .sidenav::before {
        content: '';
        position: fixed;
        top: 50%;
        left: 0;
        width: 4px;
        height: 40px;
        background: rgba(92, 200, 44, 0.5);
        border-radius: 0 4px 4px 0;
        transform: translateY(-50%) scaleY(0);
        transition: transform 0.3s ease;
        z-index: 1002;
        pointer-events: none;
    }

    body:not(.nav-open) .sidenav:hover::before {
        transform: translateY(-50%) scaleY(1);
    }

    .nav-overlay {
        display: none;
        position: fixed;
        top: 50px;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 1000;
        opacity: 0;
        transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        touch-action: none;
        pointer-events: auto;
    }

    .nav-overlay.show {
        display: block;
        opacity: 1;
    }

    /* Touch feedback */
    .sidenav.dragging {
        transition: none;
    }

    .sidenav.dragging * {
        cursor: grabbing !important;
        user-select: none;
        -webkit-user-select: none;
    }

    /* Prevent interaction while menu is open */
    body.nav-open {
        overflow: hidden;
    }

    body.nav-open .main-content {
        pointer-events: none;
    }

    /* Restore pointer events for menu */
    body.nav-open .sidenav,
    body.nav-open .nav-overlay {
        pointer-events: auto;
    }
}

@media only screen and (min-width: 1024px) {
    .sidenav {
        transform: none;
    }

    .nav-overlay {
        display: none !important;
    }
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-10px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Menu button animation */
.nav-toggle {
    position: relative;
    overflow: hidden;
}

.nav-toggle i {
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-toggle[aria-expanded="true"] i {
    transform: rotate(180deg);
    color: #5CC82C;
}

.nav-toggle:hover i {
    color: #5CC82C;
}