/* Base Layout */
.dropdown-sidenav {
    height: 100vh;
    display: flex;
    background-color: #1a1a1a;
    position: relative;
    overflow: hidden;
}

.sidenav-main {
    display: flex;
    flex-direction: row;
    background-color: #1a1a1a;
    flex: 1;
    position: relative;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

/* Sidebar Navigation */
#first-sidenav,
#second-sidenav {
    height: 100vh;
    width: 250px;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    background-color: #1a1a1a;
    overflow-y: auto;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

#first-sidenav:hover,
#second-sidenav:hover {
    overflow-y: auto;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: #888 transparent;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(158, 206, 106, 0.5);
}

/* Navigation Links */
.nav-link {
    display: flex;
    align-items: center;
    padding: 0.8rem 1rem;
    font-size: 0.95rem;
    color: #e1e1e1;
    cursor: pointer;
    transition: all 0.2s ease;
    border-radius: 6px;
    margin: 2px 8px;
    gap: 0.5rem;
    min-height: 44px;
    box-sizing: border-box;
}

.nav-link i {
    font-size: 1.2rem;
    min-width: 24px;
    transition: transform 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-link i.rotated {
    transform: rotate(90deg);
}

.nav-link.active {
    background-color: rgba(158, 206, 106, 0.15);
    color: #9ece6a;
}

.nav-link:hover,
.sub-links.active {
    background-color: rgba(255, 255, 255, 0.05);
}

/* Sub Links */
.sub-links a {
    font-size: 15px;
    padding: 0.8rem 1rem;
}

.sub-links a:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

/* Widget Buttons */
.note-widget-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    background-color: #1a1a1a;
    padding: 1rem 0.5rem;
    width: 60px;
}

.note-widget-buttons ul {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding: 0;
    margin: 0;
}

.note-widget-buttons ul li {
    list-style: none;
    position: relative;
    transition: all 0.3s ease-out;
}

.note-widget-buttons button {
    width: 40px;
    height: 40px;
    border: none;
    font-size: 1.3rem;
    cursor: pointer;
    background-color: transparent;
    color: #e1e1e1;
    border-radius: 8px;
    transition: all 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.note-widget-buttons button:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
}

.note-widget-buttons a {
    text-decoration: none;
}

/* Notes Container */
.notes-container {
    display: flex;
    align-items: center;
    padding: 0.8rem 1rem;
    font-size: 0.95rem;
    transition: all 0.3s ease;
    border-radius: 6px;
    margin: 2px 8px;
    background-color: rgba(255, 255, 255, 0.02);
    max-height: 500px;
    opacity: 1;
    overflow: hidden;
    box-sizing: border-box;
}

.notes-container.collapsed {
    max-height: 0;
    padding: 0;
    margin: 0;
    opacity: 0;
    border: none;
    pointer-events: none;
    visibility: hidden;
}

.notes-container:hover {
    background-color: rgba(255, 255, 255, 0.05);
    transform: translateX(4px);
}

.notes-container > a {
    text-decoration: none;
    color: #9ece6a;
    line-height: 1.5;
    flex: 1;
}

.note-widget-title {
    padding: 0.2rem 0.5rem;
}

/* Posts Content */
.posts-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    background-color: #1a1a1a;
    padding: 0 2rem;
}

.main-content::after {
    content: '';
    display: block;
    height: 6rem;
}

.post-header {
    margin-bottom: 1rem;
    padding: 0;
}

.post-title {
    color: #9ece6a;
    font-size: 2.2em;
    font-weight: 600;
    margin-bottom: 1rem;
    letter-spacing: -0.02em;
}

.post-meta {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
    color: #888;
    font-size: 0.9em;
}

.post-meta li {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.post-meta a {
    color: #9ece6a;
    text-decoration: none;
    transition: all 0.2s ease;
}

.post-meta a:hover {
    color: #b9e38b;
}

.welcome-content {
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    padding: 2rem;
    margin-bottom: 2rem;
}

.welcome-content h2 {
    color: #9ece6a;
    margin-bottom: 1.5rem;
}

.welcome-content p {
    color: #e1e1e1;
    margin: 1rem 0;
}

/* Search Modal */
.search-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 1001;
    backdrop-filter: blur(8px);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.search-modal.active {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    opacity: 1;
}

.search-modal-content {
    background-color: #1a1a1a;
    width: 90%;
    max-width: 600px;
    margin-top: 80px;
    border-radius: 16px;
    border: 1px solid rgba(158, 206, 106, 0.1);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.4);
    transform: translateY(-20px);
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    overflow: hidden;
}

.search-modal.active .search-modal-content {
    transform: translateY(0);
}

.search-input-container {
    position: relative;
    padding: 16px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(255, 255, 255, 0.02);
    display: flex;
    align-items: center;
    gap: 12px;
}

.search-input-wrapper {
    position: relative;
    flex: 1;
}

.search-input-wrapper::before {
    content: '\eb2e';
    font-family: 'boxicons';
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, 0.3);
    font-size: 1.2rem;
    pointer-events: none;
}

.note-widget-search-input {
    width: 100%;
    height: 40px;
    color: #e1e1e1;
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    font-size: 0.95rem;
    padding: 0 16px 0 40px;
    transition: all 0.3s ease;
}

.note-widget-search-input:focus {
    background-color: rgba(255, 255, 255, 0.08);
    border-color: rgba(158, 206, 106, 0.5);
    outline: none;
    box-shadow: 0 0 0 2px rgba(158, 206, 106, 0.1);
}

.note-widget-search-input::placeholder {
    color: rgba(255, 255, 255, 0.3);
}

.search-cancel-button {
    padding: 8px 16px;
    border: none;
    background: transparent;
    color: #9ece6a;
    font-size: 0.95rem;
    cursor: pointer;
    border-radius: 8px;
    white-space: nowrap;
    transition: all 0.2s ease;
}

.search-cancel-button:hover {
    background-color: rgba(158, 206, 106, 0.1);
}

.search-results {
    max-height: 60vh;
    overflow-y: auto;
    padding: 16px;
}

.search-results .notes-container {
    padding: 12px 16px;
    margin: 8px 0;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.02);
    border: 1px solid transparent;
    transition: all 0.2s ease;
}

.search-results .notes-container:hover {
    background-color: rgba(158, 206, 106, 0.1);
    border-color: rgba(158, 206, 106, 0.2);
    transform: translateX(4px);
}

.search-results .notes-container .note-widget-title {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #e1e1e1;
}

.search-results .notes-container .note-widget-title i {
    color: #9ece6a;
    font-size: 1.1rem;
}

.no-results-message {
    text-align: center;
    color: #888;
    padding: 2rem;
    font-size: 0.95rem;
    background-color: rgba(255, 255, 255, 0.02);
    border-radius: 12px;
    margin: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.05);
}

/* Responsive Modal Styles */
@media screen and (max-width: 768px) {
    .search-modal-content {
        width: 92%;
        margin-top: 60px;
    }

    .search-input-container {
        padding: 12px;
    }

    .note-widget-search-input {
        height: 38px;
        font-size: 0.9rem;
    }

    .search-cancel-button {
        padding: 6px 12px;
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 480px) {
    .search-modal.active {
        align-items: flex-start;
    }

    .search-modal-content {
        width: 100%;
        height: 100%;
        margin-top: 0;
        border-radius: 0;
        transform: none;
    }

    .search-input-container {
        padding: 10px 12px;
        position: sticky;
        top: 0;
        z-index: 1;
        background-color: #1a1a1a;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    .note-widget-search-input {
        height: 36px;
        font-size: 0.9rem;
        padding: 0 12px 0 36px;
    }

    .search-input-wrapper::before {
        left: 10px;
        font-size: 1.1rem;
    }

    .search-cancel-button {
        padding: 6px 10px;
        font-size: 0.85rem;
    }

    .search-results {
        height: calc(100% - 57px);
        max-height: none;
        padding: 12px;
    }

    .search-results .notes-container {
        padding: 10px;
        margin: 4px 0;
    }

    .no-results-message {
        padding: 20px;
        font-size: 0.9rem;
    }
}

/* Responsive Styles */
@media screen and (max-width: 1024px) {
    .dropdown-sidenav {
        flex-direction: column;
    }

    .sidenav-main {
        position: fixed;
        top: 60px;
        left: 0;
        width: 100%;
        height: 100vh;
        transform: translateX(0);
        z-index: 100;
        flex-direction: column;
    }

    .sidenav-main.hidden {
        transform: translateX(-100%);
    }

    .note-widget-buttons {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 60px;
        padding: 0.5rem 1rem;
        z-index: 101;
        background-color: #1a1a1a;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .note-widget-buttons ul {
        flex-direction: row;
        gap: 1rem;
    }

    #first-sidenav,
    #second-sidenav {
        height: calc(50vh - 30px);
        width: 100%;
        border-right: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    .posts-content {
        padding: 0 2rem;
        margin-top: 60px;
        height: calc(100vh - 60px);
    }

    .post-header {
        margin-bottom: 1rem;
    }

    .welcome-content {
        padding: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .post-title {
        font-size: 1.8em;
    }

    .note-widget-search-input {
        position: fixed;
        top: 12px;
        left: 50%;
        transform: translateX(-50%);
        width: 180px;
        height: 36px;
    }

    .note-widget-search-input:focus {
        width: 240px;
    }
}

@media screen and (max-width: 768px) {
    .sidenav-main {
        height: 100vh;
    }

    #first-sidenav,
    #second-sidenav {
        height: calc(50vh - 25px);
    }

    .posts-content {
        padding: 0 2rem;
    }

    .post-header {
        padding: 0;
        margin-bottom: 1rem;
    }

    .post-title {
        font-size: 1.8em;
    }

    .welcome-content {
        padding: 1rem;
        margin-bottom: 1rem;
    }

    .post-meta {
        flex-direction: row;
        gap: 0.75rem;
    }

    .note-widget-buttons {
        height: 50px;
    }

    .note-widget-buttons button {
        padding: 4px 6px;
        font-size: 1.1rem;
    }

    .notes-container {
        padding: 6px 10px;
        font-size: 0.85em;
        margin: 1px 4px;
    }

    .notes-container.collapsed {
        max-height: 0;
        padding: 0;
        margin: 0;
        opacity: 0;
        border: none;
        pointer-events: none;
        visibility: hidden;
        height: 0;
    }

    .nav-link {
        padding: 0.5rem 0.7rem;
        font-size: 0.85em;
        margin: 1px 4px;
    }

    .note-widget-title {
        padding: 0.15rem 0.3rem;
    }

    /* Improve touch targets */
    .nav-link,
    .notes-container,
    .note-widget-buttons button {
        min-height: 44px;
    }

    .note-widget-search-input {
        width: 160px;
        height: 34px;
        font-size: 0.85rem;
        top: 8px;
    }

    .note-widget-search-input:focus {
        width: 200px;
    }

    .no-results-message {
        font-size: 0.85rem;
        padding: 0.8rem;
        margin: 0.8rem;
    }
}

@media screen and (max-width: 480px) {
    #first-sidenav,
    #second-sidenav {
        height: calc(50vh - 25px);
    }

    .note-widget-buttons {
        padding: 0.4rem 0.8rem;
    }

    .posts-content {
        padding: 0 1rem;
    }

    .post-header {
        padding: 0;
        margin-bottom: 0.75rem;
    }

    .post-title {
        font-size: 1.6em;
    }

    .welcome-content {
        padding: 0.75rem;
        margin-bottom: 0.75rem;
    }

    .post-meta {
        gap: 0.5rem;
    }

    .notes-container {
        padding: 5px 8px;
        font-size: 0.8em;
        margin: 1px 2px;
    }

    .nav-link {
        padding: 0.4rem 0.6rem;
        font-size: 0.8em;
        margin: 1px 2px;
    }

    .note-widget-search-input {
        width: 140px;
        height: 32px;
        font-size: 0.8rem;
        top: 9px;
    }

    .note-widget-search-input:focus {
        width: 180px;
    }

    .no-results-message {
        font-size: 0.8rem;
        padding: 0.6rem;
        margin: 0.6rem;
    }
}

/* Touch Device Optimizations */
@media (hover: none) {
    .nav-link:active,
    .sub-links a:active,
    .notes-container:active {
        background-color: rgba(255, 255, 255, 0.05);
    }

    .search-cancel-button:active {
        background-color: rgba(158, 206, 106, 0.15);
    }
}

/* Reduced Motion */
@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        transition: none !important;
        animation: none !important;
    }
}