.project-main {
    display: flex;
    flex-wrap: wrap;
    background: #222326;
    border: 1px solid #2a2b2e;
    border-radius: 8px;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.project:hover {
    box-shadow: 0 2px 8px rgba(79, 70, 229, 0.2);
}

.project-header {
    display: flex;
    width: 100%;
    margin-bottom: 1rem;
    gap: 1.5rem;
}

.project-image {
    width: 280px;
    height: 180px;
    flex-shrink: 0;
    animation: fade-in 0.3s ease-in-out forwards;
    aspect-ratio: 16/9;
}

.project-image picture,
.project-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    border: 1px solid #363739;
    transition: all 0.2s ease-in-out;
    aspect-ratio: inherit;
}

.project-image img:hover {
    border-color: #4f46e5;
    box-shadow: 0 2px 8px rgba(79, 70, 229, 0.2);
    transform: scale(1.02);
}

.project-meta {
    flex: 1;
    min-width: 300px;
    animation: fade-in 0.3s ease-in-out forwards;
}

.project-title {
    margin: 0 0 2rem !important;
}

.project-title a {
    font-size: 1.75rem;
    font-weight: 600;
    color: #e1e1e1;
    text-decoration: none !important;
    position: relative;
    display: inline-block;
}

.project-title a::after {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 60px;
    height: 2px;
    background: #4f46e5;
    border-radius: 2px;
    transition: width 0.2s ease;
}

.project-title a:hover::after {
    width: 100%;
}

.project-meta ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.project-meta li {
    color: #b4b9c2;
    font-size: 0.875rem;
    padding: 0.5rem;
    background: #18191c;
    border: 1px solid #2a2b2e;
    border-radius: 4px;
    display: inline-block;
    margin: .2rem 0;
}

.project-meta li strong {
    color: #6d66ff;
    font-weight: 600;
    margin-right: 0.5rem;
}

.project-description {
    width: 100%;
    color: #e1e1e1;
    font-size: 1rem;
    line-height: 1.6;
    margin: 0 !important;
    padding: 1rem;
    background: #2a2b2e;
    border: 1px solid #363739;
    border-radius: 8px;
    animation: fade-in 0.3s ease-in-out forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width: 768px) {
    .project-main {
        padding: 1rem;
    }

    .project-header {
        flex-direction: column;
        gap: 1rem;
    }

    .project-image {
        width: 100%;
        height: 200px;
        margin: 0;
    }

    .project-meta {
        width: 100%;
    }

    .project-title {
        font-size: 1.5rem;
    }

    .project-meta li {
        margin-bottom: 0rem !important;
        display: block;
    }
}

@media (prefers-reduced-motion: reduce) {
    .project-main,
    .project-image img,
    .project-title a::after {
        transition: none;
    }

    .project-image,
    .project-meta,
    .project-description {
        animation: none;
    }
}