/* Search Modal */
.search-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    display: none;
    justify-content: center;
    align-items: flex-start;
    z-index: 1001;
    padding-top: 40px;
    backdrop-filter: blur(8px);
    animation: fadeIn 0.2s ease-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideDown {
    from { transform: translateY(-20px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

.search-modal.active {
    display: flex;
}

.search-modal-content {
    background-color: var(--background-color);
    border-radius: 16px;
    width: 90%;
    max-width: 800px;
    max-height: 90vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    animation: slideDown 0.3s ease-out;
    border: 1px solid var(--border-color);
}

.search-input-container {
    display: flex;
    align-items: center;
    padding: 24px;
    border-bottom: 1px solid var(--border-color);
    background-color: var(--background-color);
    gap: 12px;
}

.search-input-wrapper {
    flex: 1;
    position: relative;
    min-width: 0;
}

.search-icon {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--text-color);
    opacity: 0.6;
    font-size: 22px;
    transition: opacity 0.2s ease;
}

.post-search-input:focus + .search-icon {
    opacity: 1;
    color: var(--primary-color);
}

.post-search-input {
    width: 100%;
    padding: 14px 20px 14px 56px;
    border: 2px solid var(--border-color);
    border-radius: 12px;
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: 17px;
    outline: none;
    transition: all 0.2s ease;
}

.post-search-input::placeholder {
    color: var(--text-color);
    opacity: 0.5;
}

.search-cancel-button {
    padding: 10px 20px;
    border: none;
    background-color: var(--hover-color);
    color: var(--text-color);
    cursor: pointer;
    font-size: 15px;
    opacity: 0.8;
    transition: all 0.2s ease;
    border-radius: 8px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 8px;
    white-space: nowrap;
}

.search-cancel-button i {
    font-size: 20px;
}

.search-cancel-button:hover {
    opacity: 1;
    background-color: var(--primary-color);
    color: #fff;
}

.search-results {
    flex: 1;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--border-color) transparent;
}

.search-results::-webkit-scrollbar {
    width: 8px;
}

.search-results::-webkit-scrollbar-track {
    background: transparent;
}

.search-results::-webkit-scrollbar-thumb {
    background-color: var(--border-color);
    border-radius: 4px;
}

.post-result-item {
    margin-bottom: 20px;
    padding: 1rem;
    border-radius: 12px;
    transition: all 0.25s ease;
    cursor: pointer;
    border: 1px solid var(--border-color);
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    position: relative;
    min-height: 190px;
}

.post-result-item:hover,
.post-result-item.selected {
    background-color: rgba(92, 200, 44, 0.1);
    border-color: var(--primary-color);
    transform: translateY(-2px);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
}

.post-result-item.selected::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 3px;
    background-color: var(--primary-color);
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    opacity: 0.8;
    transition: opacity 0.2s ease;
}

.post-result-item:hover .post-result-title,
.post-result-item.selected .post-result-title {
    color: var(--primary-color);
}

.post-result-item:hover .post-result-meta,
.post-result-item.selected .post-result-meta {
    opacity: 0.9;
}

.post-result-item:hover .post-result-summary,
.post-result-item.selected .post-result-summary {
    opacity: 1;
}

.post-result-link {
    text-decoration: none;
    color: inherit;
    display: block;
}

.post-result-title {
    margin: 0 0 16px;
    font-size: 1.3rem;
    color: var(--primary-color);
    font-weight: 600;
    line-height: 1.4;
}

.post-result-summary {
    margin: 16px 0;
    font-size: 1rem;
    color: var(--text-color);
    opacity: 0.85;
    line-height: 1.6;
}

.post-result-meta {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    margin-top: 16px;
    font-size: 0.9rem;
    color: var(--text-color);
    opacity: 0.75;
}

.post-result-date,
.post-result-author {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    transition: all 0.2s ease;
    white-space: nowrap;
}

.post-result-date i,
.post-result-author i {
    font-size: 1.2rem;
    transition: transform 0.2s ease;
}

.post-result-date:hover,
.post-result-author:hover {
    opacity: 1;
    color: var(--primary-color);
}

.post-result-date:hover i,
.post-result-author:hover i {
    transform: scale(1.1);
}

.post-result-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 20px;
}

.post-result-tag {
    font-size: 0.85rem;
    padding: 6px 12px;
    border-radius: 8px;
    background-color: var(--hover-color);
    color: var(--text-color);
    opacity: 0.85;
    transition: all 0.2s ease;
    border: 1px solid var(--border-color);
    display: inline-flex;
    align-items: center;
    gap: 6px;
}

.post-result-tag i {
    font-size: 1rem;
    transition: transform 0.2s ease;
}

.post-result-item:hover .post-result-tag {
    opacity: 1;
    border-color: var(--primary-color);
    background-color: rgba(92, 200, 44, 0.1);
}

.post-result-item:hover .post-result-tag i {
    transform: scale(1.1);
    color: var(--primary-color);
}

mark {
    background-color: rgba(92, 200, 44, 0.15);
    color: var(--primary-color);
    padding: 0.1em 0.1em;
    border-radius: 4px;
    font-weight: 500;
    transition: all 0.2s ease;
}

.post-result-item:hover mark,
.post-result-item.selected mark {
    background-color: rgba(92, 200, 44, 0.25);
}

.no-results-message {
    text-align: center;
    padding: 40px;
    color: var(--text-color);
    opacity: 0.7;
    font-size: 1rem;
    border: 2px dashed var(--border-color);
    border-radius: 16px;
    margin: 24px 0;
    background-color: var(--hover-color);
}

/* Mobile styles */
@media (max-width: 768px) {
    .search-modal {
        padding: 0 12px;
    }

    .search-modal-content {
        width: 100%;
        max-height: 98vh;
        border-radius: 16px;
        padding-top: 0;
    }

    .search-input-container {
        padding: 16px;
        gap: 8px;
    }

    .post-search-input {
        padding: 16px 16px 16px 52px;
        font-size: 16px;
        height: 52px;
    }

    .search-icon {
        left: 16px;
        font-size: 24px;
    }

    .search-cancel-button {
        padding: 12px;
        height: 44px;
    }

    .search-cancel-button span {
        display: none;
    }

    .post-result-meta {
        flex-direction: row;
        gap: 16px;
        font-size: 0.85rem;
    }

    .post-result-date i,
    .post-result-author i {
        font-size: 1.1rem;
    }

    .post-result-item.selected::before {
        width: 2px;
    }
}

/* Even smaller screens */
@media (max-width: 380px) {
    .search-modal {
        padding: 0 8px 0 8px;
    }

    .search-input-container {
        padding: 12px;
        gap: 6px;
    }

    .post-search-input {
        padding: 14px 14px 14px 48px;
        font-size: 15px;
        height: 48px;
    }

    .search-icon {
        left: 14px;
        font-size: 20px;
    }

    .search-cancel-button {
        padding: 10px;
        height: 40px;
        min-width: 40px;
    }

    .search-cancel-button i {
        font-size: 20px;
    }

    .post-result-meta {
        gap: 12px;
        font-size: 0.8rem;
    }

    .post-result-date i,
    .post-result-author i {
        font-size: 1rem;
    }
}

/* Light mode styles */
.light-mode .search-modal {
    background-color: rgba(255, 255, 255, 0.75);
}

.light-mode .search-modal-content {
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
}

.light-mode .post-result-item {
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.03);
}

.light-mode .post-result-item:hover,
.light-mode .post-result-item.selected {
    background-color: rgba(92, 200, 44, 0.08);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
}

.light-mode mark {
    background-color: rgba(92, 200, 44, 0.12);
}

.light-mode .post-result-item:hover mark,
.light-mode .post-result-item.selected mark {
    background-color: rgba(92, 200, 44, 0.2);
}

.light-mode .post-result-item.selected {
    background-color: rgba(92, 200, 44, 0.05);
}

.light-mode .post-result-item.selected::before {
    background-color: var(--primary-color);
}

/* Post search button styles */
.post-search-button {
    background: none;
    border: none;
    padding: 8px;
    cursor: pointer;
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
    border-radius: 6px;
}

.post-search-button:hover {
    opacity: 0.8;
    background-color: var(--hover-color);
}

.post-search-button i {
    font-size: 20px;
    font-family: 'boxicons' !important;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    line-height: 1;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

/* Filter button styles */
.search-filter-button {
    padding: 10px;
    border: none;
    background-color: var(--hover-color);
    color: var(--text-color);
    cursor: pointer;
    font-size: 15px;
    opacity: 0.8;
    transition: all 0.2s ease;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-filter-button i {
    font-size: 20px;
}

.search-filter-button:hover {
    opacity: 1;
    background-color: var(--primary-color);
    color: #fff;
}

/* Filter options styles */
.search-filter-options {
    padding: 16px 24px;
    border-bottom: 1px solid var(--border-color);
    background-color: var(--background-color);
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.filter-option {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 8px;
    background-color: var(--hover-color);
    transition: all 0.2s ease;
    color: var(--text-color);
    font-size: 0.9rem;
}

.filter-option:hover {
    background-color: var(--primary-color);
    color: #fff;
}

.filter-option input[type="checkbox"] {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.filter-option i {
    font-size: 1.1rem;
}

/* Post result categories styles */
.post-result-categories {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 12px;
}

/* Mobile styles update */
@media (max-width: 768px) {
    .search-filter-options {
        padding: 12px 16px;
        gap: 12px;
    }

    .filter-option {
        padding: 6px 12px;
        font-size: 0.85rem;
    }

    .filter-option input[type="checkbox"] {
        width: 14px;
        height: 14px;
    }

    .search-filter-button {
        padding: 8px;
    }

    .search-filter-button i {
        font-size: 18px;
    }
}

.post-result-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 12px;
    margin-bottom: 16px;
}

.post-result-type {
    font-size: 0.75rem;
    padding: 4px 8px;
    border-radius: 6px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.5px;
    flex-shrink: 0;
    transition: all 0.2s ease;
}

.post-result-type.post {
    background-color: rgba(92, 200, 44, 0.1);
    color: var(--primary-color);
    border: 1px solid rgba(92, 200, 44, 0.2);
}

.post-result-type.project {
    background-color: rgba(64, 156, 255, 0.1);
    color: #409cff;
    border: 1px solid rgba(64, 156, 255, 0.2);
}

.post-result-type.note {
    background-color: rgba(255, 159, 67, 0.1);
    color: #ff9f43;
    border: 1px solid rgba(255, 159, 67, 0.2);
}

.post-result-item:hover .post-result-type.post,
.post-result-item.selected .post-result-type.post {
    background-color: rgba(92, 200, 44, 0.15);
    border-color: rgba(92, 200, 44, 0.3);
}

.post-result-item:hover .post-result-type.project,
.post-result-item.selected .post-result-type.project {
    background-color: rgba(64, 156, 255, 0.15);
    border-color: rgba(64, 156, 255, 0.3);
}

.post-result-item:hover .post-result-type.note,
.post-result-item.selected .post-result-type.note {
    background-color: rgba(255, 159, 67, 0.15);
    border-color: rgba(255, 159, 67, 0.3);
}

/* Light mode adjustments */
.light-mode .post-result-type.post {
    background-color: rgba(92, 200, 44, 0.08);
}

.light-mode .post-result-type.project {
    background-color: rgba(64, 156, 255, 0.08);
}

.light-mode .post-result-type.note {
    background-color: rgba(255, 159, 67, 0.08);
}

.light-mode .post-result-item:hover .post-result-type.post,
.light-mode .post-result-item.selected .post-result-type.post {
    background-color: rgba(92, 200, 44, 0.12);
}

.light-mode .post-result-item:hover .post-result-type.project,
.light-mode .post-result-item.selected .post-result-type.project {
    background-color: rgba(64, 156, 255, 0.12);
}

.light-mode .post-result-item:hover .post-result-type.note,
.light-mode .post-result-item.selected .post-result-type.note {
    background-color: rgba(255, 159, 67, 0.12);
}

/* Mobile adjustments */
@media (max-width: 768px) {
    .post-result-type {
        font-size: 0.7rem;
        padding: 3px 6px;
    }
}

@media (max-width: 380px) {
    .post-result-header {
        gap: 8px;
    }
    
    .post-result-type {
        font-size: 0.65rem;
        padding: 2px 5px;
    }
}

.post-result-category,
.post-result-subcategory {
    font-size: 0.85rem;
    padding: 4px 8px;
    border-radius: 6px;
    color: var(--text-color);
    opacity: 0.75;
    transition: all 0.2s ease;
    display: inline-flex;
    align-items: center;
    gap: 4px;
}

.post-result-item:hover .post-result-category,
.post-result-item:hover .post-result-subcategory,
.post-result-item.selected .post-result-category,
.post-result-item.selected .post-result-subcategory {
    opacity: 1;
    color: var(--primary-color);
} 