.thoughts-filters {
    position: sticky;
    top: 0;
    padding-bottom: 1rem;
}

.filter-categories {
    display: flex;
    gap: 0.75rem;
    flex-wrap: wrap;
}

.filter-btn {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.6rem 1rem;
    border: 1px solid rgba(92, 200, 44, 0.2);
    border-radius: 8px;
    background: rgba(92, 200, 44, 0.05);
    color: #5cc82c;
    font-size: 0.9rem;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    overflow: hidden;
}

.filter-btn::before {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(45deg, rgba(92, 200, 44, 0.1), rgba(92, 200, 44, 0.05));
    opacity: 0;
    transition: opacity 0.3s ease;
    cursor: pointer;
}

.filter-btn:hover::before {
    opacity: 1;
}

.filter-btn i {
    font-size: 1.1rem;
    transition: transform 0.3s ease;
}

.filter-btn:hover i {
    transform: scale(1.2);
}

.filter-btn.active {
    background: #5cc82c;
    color: #000;
    border-color: #5cc82c;
    box-shadow: 0 2px 8px rgba(92, 200, 44, 0.3);
}

.thoughts-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1.5rem;
}

.thought-category {
    margin-bottom: 3rem;
}

.category-title {
    font-size: 1.5rem;
    margin: 2rem 1.5rem 1rem;
    color: #5cc82c;
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.category-title::after {
    content: '';
    height: 1px;
    flex: 1;
    background: linear-gradient(90deg, rgba(92, 200, 44, 0.3), transparent);
}

.thought-card {
    background: linear-gradient(135deg, rgba(34, 35, 38, 0.8), rgba(34, 35, 38, 0.4));
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    padding: 1.5rem;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    backdrop-filter: blur(10px);
    position: relative;
    overflow: hidden;
    user-select: text;
}

.thought-card::before {
    content: '';
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: opacity 0.4s ease;
    pointer-events: none;
    z-index: 1;
}

.thought-card:hover {
    border-color: rgba(92, 200, 44, 0.3);
    box-shadow: 
        0 10px 30px rgba(0, 0, 0, 0.2),
        0 0 0 1px rgba(92, 200, 44, 0.1);
}

.thought-card:hover::before {
    opacity: 1;
}

.thought-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    font-size: 0.85rem;
    color: #9ca3af;
}

.thought-title {
    font-size: 1.4rem;
    margin-bottom: 1rem;
    color: #e1e1e1;
    line-height: 1.4;
}

.thought-content {
    color: #d1d5db;
    line-height: 1.7;
    font-size: 0.95rem;
    position: relative;
    z-index: 2;
}

.thought-responses {
    margin-top: 1.5rem;
    padding-top: 1rem;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.response {
    background: rgba(255, 255, 255, 0.03);
    padding: 1rem;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.response:last-child {
    margin-bottom: 0;
}

.response-author {
    color: #5cc82c;
    font-weight: 500;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    display: block;
}

.progress-bar {
    height: 6px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 3px;
    margin-top: 1.5rem;
    position: relative;
    overflow: hidden;
}

.progress {
    height: 100%;
    background: linear-gradient(90deg, #5cc82c, #4da624);
    border-radius: 3px;
    transition: width 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.progress-text {
    position: absolute;
    right: 0;
    top: -1.5rem;
    font-size: 0.8rem;
    color: #5cc82c;
}

.thought-card.essay {
    grid-column: 1 / -1;
    background: linear-gradient(145deg, 
        rgba(34, 35, 38, 0.9),
        rgba(34, 35, 38, 0.7)
    );
}

.thought-card.essay .thought-content {
    font-size: 1.05rem;
    line-height: 1.8;
}

.thought-card.essay h2 {
    color: #5cc82c;
    font-size: 1.4rem;
    margin: 2rem 0 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgba(92, 200, 44, 0.2);
}

.thought-card.essay ul,
.thought-card.essay ol {
    margin: 1.5rem 0;
    padding-left: 1.5rem;
}

.thought-card.essay li {
    margin-bottom: 0.75rem;
    position: relative;
}

.thought-card.essay li::marker {
    color: #5cc82c;
}

/* Quick Thoughts specific styling */
[data-category="Quick Thoughts"] .thought-card {
    background: linear-gradient(135deg, rgba(44, 82, 130, 0.8), rgba(34, 35, 38, 0.4));
    border-left: 4px solid #4a90e2;
    padding-left: 1.2rem;
}

[data-category="Quick Thoughts"] .thought-card:hover {
    border-color: #4a90e2;
    box-shadow: 
        0 10px 30px rgba(74, 144, 226, 0.1),
        0 0 0 1px rgba(74, 144, 226, 0.2);
}

/* Ideas & Projects specific styling */
[data-category="Ideas & Projects"] .thought-card {
    background: linear-gradient(135deg, rgba(130, 44, 96, 0.8), rgba(34, 35, 38, 0.4));
    border-right: 4px solid #e24a8d;
    padding-right: 1.2rem;
}

[data-category="Ideas & Projects"] .thought-card:hover {
    border-color: #e24a8d;
    box-shadow: 
        0 10px 30px rgba(226, 74, 141, 0.1),
        0 0 0 1px rgba(226, 74, 141, 0.2);
}

[data-category="Ideas & Projects"] .thought-card .thought-meta {
    border-bottom: 1px solid rgba(226, 74, 141, 0.2);
    padding-bottom: 0.8rem;
}

@media (max-width: 768px) {
    .thoughts-grid {
        grid-template-columns: 1fr;
    }
    
    .category-title {
        margin: 2rem 1rem 1rem;
        font-size: 1.3rem;
    }
    
    .filter-categories {
        gap: 0.5rem;
    }
    
    .filter-btn {
        padding: 0.5rem 0.8rem;
        font-size: 0.85rem;
    }
} 