<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

<head>
    <meta charset="UTF-8">
    <meta name="url" content="{{ .Permalink }}">
    <meta name="author" content="{{ .Site.Params.authors.mainAuthor }}">
    <meta name="keywords" content="{{ .Site.Params.keywords }}">
    <meta name="theme-color" content="#1B1B1E">
    <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.siteDescription }}{{ . }}{{ end }}{{ end }}{{ end -}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="strict-origin-when-cross-origin">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="cache-control" content="public, max-age=31536000">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="expires" content="Tue, 01 Jan 2099 1:00:00 GMT">
    <meta http-equiv="Expect-CT" content="max-age=31536000, report-uri=https://myarchieve.net">
    <meta http-equiv="Feature-Policy" content="geolocation 'self'">
    <meta http-equiv="X-XSS-Protection" content="1; mode=block">
    <meta http-equiv="X-Content-Type-Options" content="nosniff">
    <meta http-equiv="Strict-Transport-Security" content="max-age=63072000; includeSubDomains; preload">
    <link rel="icon" type="image/x-icon" href="{{ .Site.Params.faviconImage }}">
    <style>
        body {
            font-family: 'Poppins', sans-serif;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #1B1B1E;
        }

        .container {
            width: 100%;
            height: 90vh;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 10px;
            animation: slideIn 1s forwards;
        }

        .container h1 {
            font-size: 4rem;
            margin-bottom: 1rem;
            color: #fff;
        }

        .container p {
            font-size: 1.2rem;
            margin-bottom: 30px;
            color: #fff;
        }

        .container a {
            color: #fff;
            text-decoration: none;
            border: 2px solid #fff;
            padding: 10px 20px;
            border-radius: 5px;
            transition: background-color 0.3s, color 0.3s;
        }

        .container a:hover {
            background-color: #fff;
            color: #1B1B1E;
        }

        @media screen and (max-width: 768px) {
            .container h1 {
                font-size: 3rem;
                margin-bottom: 1rem;
            }

            .container p {
                font-size: 1rem;
                margin-bottom: 1rem;
            }

            .container a {
                padding: 5px 10px;
            }
        }

        @media screen and (max-width: 480px) {
            .container h1 {
                font-size: 2rem;
                margin-bottom: 1rem;
            }

            .container p {
                font-size: 0.8rem;
                margin-bottom: 1rem;
            }

            .container a {
                padding: 5px;
                font-size: 0.8rem;
            }
        }

        /* Keyframe animation */
        @keyframes slideIn {
            from {
                opacity: 0;
                transform: translateY(-50px);
            }

            to {
                opacity: 1;
                transform: translateY(0);
            }
        }
    </style>
    <title>404 - Page Not Found</title>
</head>

<body>
    <div class="container">
        <div id="error-container">
            <h1>404 · Page Not Found</h1>
            <p>The page you are looking for does not exist.</p>
            <a href="/">Back to Home</a>
        </div>
    </div>
</body>

</html>