<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

<head>
    {{ partial "head.html" . }}
    {{ $indexCSS := resources.Get "css/index.css" | minify | fingerprint }}
    <link href="{{ $indexCSS.RelPermalink }}" rel="stylesheet" integrity="{{ $indexCSS.Data.Integrity }}" media="screen" rel="preload" crossorigin>
    <title>{{ .Title }}</title>
</head>

<body>
    {{ $paginator := .Paginate (where .Site.Pages "Type" "post") }}
    {{ $pages := $paginator.Pages }}
    {{ partial "qrcode.html" . }}
    <header>
        {{ partial "menu.html" . }}
        {{ partial "header.html" . }}
    </header>
    <main>
        {{ partial "content.html" (dict "pages" $pages) }}
        {{ partial "right-sidebar.html" . }}
    </main>
    <footer>
        {{ partial "pagination.html" (dict "paginator" $paginator) }}
        {{ partialCached "scroll-top.html" . }}
        {{ partialCached "footer.html" . }}
    </footer>
</body>

</html>