<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

<head>
    {{ partial "head.html" . }}
    {{ $notesCSS := resources.Get "css/notes.css" | minify | fingerprint }}
    {{ $indexCSS := resources.Get "css/index.css" | minify | fingerprint }}
    {{ $prismCSS := resources.Get "css/prism.css" | minify | fingerprint }}
    <link href="{{ $notesCSS.RelPermalink }}" rel="stylesheet" integrity="{{ $notesCSS.Data.Integrity }}" media="screen"
        rel="preload" crossorigin>
    <link href="{{ $indexCSS.RelPermalink }}" rel="stylesheet" integrity="{{ $indexCSS.Data.Integrity }}" media="screen"
        rel="preload" crossorigin>
    <link href="{{ $prismCSS.RelPermalink }}" rel="stylesheet" integrity="{{ $prismCSS.Data.Integrity }}" media="screen"
        rel="preload" crossorigin>
    {{ $notesJS := resources.Get "js/notes.js" | minify | fingerprint }}
    {{ $jQuery := resources.Get "js/jquery.min.js" | minify | fingerprint }}
    {{ $prismJS := resources.Get "js/prism.min.js" | minify | fingerprint }}
    <script type="text/javascript" src="{{ $notesJS.RelPermalink }}" integrity="{{ $notesJS.Data.Integrity }}"
        defer></script>
    <script type="text/javascript" src="{{ $jQuery.RelPermalink }}" integrity="{{ $jQuery.Data.Integrity }}"
        defer></script>
    <script type="text/javascript" src="{{ $prismJS.RelPermalink }}" integrity="{{ $prismJS.Data.Integrity }}"
        defer></script>
    <title>{{ .Title }}</title>
</head>

<body>
    <div class="dropdown-sidenav">
        <div class="note-widget-buttons">
            <ul>
                <li>
                    <button class="menu-bar" aria-label="Toggle Navigation">
                        <i class='bx bx-menu'></i>
                    </button>
                </li>
                <li>
                    <button class="note-widget-search" aria-label="Search Notes">
                        <i class='bx bx-search'></i>
                    </button>
                </li>
                <li>
                    <button id="mode-toggle" aria-label="Toggle Theme">
                        <i class="bx bxs-moon"></i>
                    </button>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="/" title="Home">
                        <button aria-label="Go to Home">
                            <i class='bx bxs-home'></i>
                        </button>
                    </a>
                </li>
                <li>
                    <a href="/about" title="About">
                        <button aria-label="About Me">
                            <i class='bx bxs-user'></i>
                        </button>
                    </a>
                </li>
            </ul>
        </div>
        <div class="sidenav-main">
            <div id="first-sidenav">
                {{ range $categoryData := $.Site.Params.categories }}
                <a class="nav-link" onclick="toggleSubcategories('{{ $categoryData.title }}')" role="button">
                    <i class="{{ $categoryData.icon }}"></i>
                    <span>{{ $categoryData.title }}</span>
                    <i class='bx bx-chevron-right' style="margin-left: auto;"></i>
                </a>
                <div id="{{ $categoryData.title }}-sub-links" class="sub-links" style="display: none;">
                    {{ range $sublink := $categoryData.sublinks }}
                    <a class="nav-link" onclick="showSubcategories('{{ $sublink.title }}')" role="button">
                        <i class="{{ $sublink.icon }}" style="color: {{ $sublink.color }};"></i>
                        <span>{{ $sublink.title }}</span>
                    </a>
                    {{ end }}
                </div>
                {{ end }}
            </div>

            {{ $notes := .Site.GetPage "section" "notes" }}
            <div id="second-sidenav">
                {{ range $categoryData := $.Site.Params.categories }}
                {{ range $sublink := $categoryData.sublinks }}
                <div id="{{ $sublink.title }}-subcategories" class="subcategories" style="display: none;">
                    {{ range $subcategory := $sublink.subcategories }}
                    <a class="nav-link" onclick="toggleNotes('{{ $subcategory.title }}');" role="button">
                        <i class='bx bx-chevron-right'></i>
                        <span>{{ $subcategory.title }}</span>
                    </a>
                    {{ range $notes.Pages }}
                    {{ if and (eq .Params.category $sublink.title) (eq .Params.subcategory $subcategory.title) }}
                    <div id="{{ urlize .Title }}" class="notes-container" data-subcategory="{{ .Params.subcategory }}"
                        onclick='showNoteContent("{{ .Title }}", "{{ .Params.author }}", "{{ .Date | time.Format ":date_long" }}", "{{ .Content }}")'>
                        <a href="#{{ urlize .Title }}" class="note-widget-title">
                            <i class='bx bx-file'></i>
                            <span>{{ .Title }}</span>
                        </a>
                    </div>
                    {{ end }}
                    {{ end }}
                    {{ end }}
                </div>
                {{ end }}
                {{ end }}
            </div>
        </div>

        <div class="posts-content">
            <div class="post-header">
                <h1 class="post-title">Welcome to Notes</h1>
                <ul class="post-meta">
                    <li>
                        <i class='bx bx-user'></i>
                        <span>Select a note to start reading</span>
                    </li>
                </ul>
            </div>
            <article class="main-content">
                <div class="welcome-content">
                    <h2>Getting Started</h2>
                    <p>👈 Use the sidebar on the left to navigate through different categories and notes.</p>
                    <p>🔍 You can use the search button in the top bar to find specific notes.</p>
                    <p>🌓 Toggle between light and dark mode using the theme button.</p>
                    <p>📱 On mobile devices, use the menu button to show/hide the navigation.</p>
                </div>
                {{ .Content }}
                {{ partialCached "scroll-top.html" . }}
            </article>
        </div>
    </div>
</body>

</html>