<details class="accordion" {{ if eq (.Get 1) "open" }}open{{ end }}>
    <summary class="accordion-header">
        <span class="accordion-title">{{ index .Params 0 }}</span>
        <svg class="accordion-icon" viewBox="0 0 24 24" width="24" height="24">
            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 9l6 6 6-6"/>
        </svg>
    </summary>
    <div class="accordion-content">
        {{ .Inner | markdownify }}
    </div>
</details>

<style>
    .accordion {
        --accordion-bg: #123;
        --accordion-text: rgb(32, 222, 222);
        --accordion-border: rgba(32, 222, 222, 0.2);
        --accordion-shadow: rgba(0, 0, 0, 0.1);
        --accordion-hover: rgba(32, 222, 222, 0.1);
        
        background-color: var(--accordion-bg);
        border: 1px solid var(--accordion-border);
        border-radius: 12px;
        margin: 1rem 0;
        padding: 0;
        transition: all 0.3s ease;
        box-shadow: 0 2px 8px var(--accordion-shadow);
        overflow: hidden;
    }

    .accordion:hover {
        box-shadow: 0 4px 12px var(--accordion-shadow);
        transform: translateY(-1px);
    }

    .accordion-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 1.25rem;
        cursor: pointer;
        user-select: none;
        color: var(--accordion-text);
        transition: all 0.3s ease;
        position: relative;
        font-weight: 500;
    }

    .accordion-header:hover {
        background-color: var(--accordion-hover);
    }

    .accordion-header::-webkit-details-marker {
        display: none;
    }

    .accordion-title {
        margin-right: 1rem;
        font-size: 1.1rem;
    }

    .accordion-icon {
        transition: transform 0.3s ease;
        flex-shrink: 0;
        opacity: 0.9;
    }

    .accordion[open] .accordion-icon {
        transform: rotate(-180deg);
    }

    .accordion-content {
        padding: 0.25rem 1.25rem 1.25rem;
        color: var(--accordion-text);
        opacity: 0;
        transform: translateY(-8px);
        animation: slideDown 0.3s ease forwards;
        line-height: 1.6;
    }

    /* Animations */
    @keyframes slideDown {
        from {
            opacity: 0;
            transform: translateY(-8px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    /* Dark Mode Support */
    @media (prefers-color-scheme: dark) {
        .accordion {
            --accordion-shadow: rgba(0, 0, 0, 0.2);
        }
    }

    /* Mobile Optimization */
    @media only screen and (max-width: 768px) {
        .accordion {
            border-radius: 10px;
            margin: 0.75rem 0;
        }

        .accordion-header {
            padding: 0.875rem 1rem;
        }

        .accordion-title {
            font-size: 1rem;
        }

        .accordion-content {
            padding: 0.25rem 1rem 1rem;
        }

        .accordion-icon {
            width: 20px;
            height: 20px;
        }
    }

    /* Touch Device Optimization */
    @media (pointer: coarse) {
        .accordion-header {
            padding: 1rem 1.25rem;
            min-height: 3rem;
        }

        .accordion-icon {
            width: 24px;
            height: 24px;
        }
    }

    /* Print Optimization */
    @media print {
        .accordion {
            border: 1px solid #ddd;
            page-break-inside: avoid;
        }

        .accordion-content {
            display: block !important;
            opacity: 1;
            transform: none;
        }

        .accordion-icon {
            display: none;
        }
    }
</style>

<script>
document.addEventListener('DOMContentLoaded', function() {
    const accordions = document.querySelectorAll('.accordion');
    
    accordions.forEach(accordion => {
        // Add keyboard navigation
        accordion.querySelector('summary').addEventListener('keydown', (e) => {
            if (e.key === 'Enter' || e.key === ' ') {
                e.preventDefault();
                accordion.toggleAttribute('open');
            }
        });

        // Add smooth animation when closing
        accordion.addEventListener('toggle', (e) => {
            if (!accordion.open) {
                const content = accordion.querySelector('.accordion-content');
                content.style.animation = 'none';
                content.offsetHeight; // Trigger reflow
                content.style.animation = null;
            }
        });
    });
});
</script>