{{ $name := .Get "name" }}
{{ $type := .Get "type" }}
{{ $audioId := .Get "id" | default (printf "audio-%d" (now.UnixNano)) }}

<div class="audio-container">
    <div class="audio-player" id="audio-player-{{ $audioId }}">
        <div class="audio-controls">
            <button id="play-button-{{ $audioId }}"><i class='bx bx-play'></i></button>
            <span class="audio-time" id="current-time-{{ $audioId }}">0:00</span>
            <div class="audio-progress" id="audio-progress-{{ $audioId }}">
                <div class="audio-progress-bar" id="audio-progress-bar-{{ $audioId }}"></div>
            </div>
            <span class="audio-time audio-time-total" id="total-time-{{ $audioId }}">0:00</span>
        </div>
        <div class="audio-controls">
            <label for="speed">Speed:</label>
            <input type="range" min="0.5" max="2.0" step="0.1" value="1.0" id="speed-{{ $audioId }}">
            <label for="volume">Volume:</label>
            <input type="range" min="0" max="1" step="0.1" value="1.0" id="volume-{{ $audioId }}">
        </div>
    </div>
    <audio id="audio-{{ $audioId }}" preload="metadata">
        <source id="audio-source-{{ $audioId }}" src="/audio/{{ $name }}.{{ $type }}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
</div>
<style>
    .audio-container {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 500px;
        margin-bottom: 1em;
    }

    .audio-player {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        border-radius: 8px;
        padding: 12px;
        overflow: hidden;
        background-color: #333;
    }

    .audio-progress {
        flex: 1;
        height: 6px;
        background-color: #555;
        margin: 0 12px;
        border-radius: 4px;
        position: relative;
    }

    .audio-progress-bar {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background-color: #007bff;
        border-radius: 4px;
        width: 0;
        transition: width 0.2s;
    }

    .audio-time {
        font-size: 0.9em;
        color: #ccc;
        margin-right: 6px;
    }

    .audio-time-total {
        margin-left: auto;
        color: #ccc;
    }

    .audio-controls {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }

    .audio-controls input {
        margin: 0 6px;
    }

    .audio-controls button {
        background: none;
        border: none;
        cursor: pointer;
        padding: 6px;
        color: #007bff;
        transition: color 0.2s;
    }

    .audio-controls button:hover {
        color: #0056b3;
    }

    .audio-controls button:disabled {
        color: #555;
        cursor: default;
    }

    .audio-song-name {
        font-size: 1em;
        color: #fff;
        text-align: center;
    }

    @media (max-width: 600px) {
        .audio-container {
            max-width: 100%;
        }

        .audio-player {
            padding: 8px;
        }

        .audio-progress {
            margin: 8px 8px 0 8px;
        }

        .audio-controls {
            flex-direction: column;
            align-items: stretch;
        }

        .audio-controls input {
            margin: 4px 0;
        }

        .audio-controls button {
            padding: 4px;
        }

        .audio-progress-bar {
            position: relative;
            height: 6px;
            border-radius: 4px;
            width: 100%;
            transition: width 0.2s;
        }
    }
</style>


<script async>
    function initAudioPlayer(audioId) {
        const audioElement = document.getElementById(`audio-${audioId}`);
        const audioSourceElement = document.getElementById(`audio-source-${audioId}`);
        const audioPlayerElement = document.getElementById(`audio-player-${audioId}`);
        const audioProgressElement = document.getElementById(`audio-progress-${audioId}`);
        const audioProgressBarElement = document.getElementById(`audio-progress-bar-${audioId}`);
        const playButtonElement = document.getElementById(`play-button-${audioId}`);
        const currentTimeElement = document.getElementById(`current-time-${audioId}`);
        const totalTimeElement = document.getElementById(`total-time-${audioId}`);
        const speedInput = document.getElementById(`speed-${audioId}`);
        const volumeInput = document.getElementById(`volume-${audioId}`);

        let isPlaying = false;

        function togglePlay() {
            if (isPlaying) {
                audioElement.pause();
                isPlaying = false;
                playButtonElement.innerHTML = '<i class="bx bx-play"></i>';
            } else {
                audioElement.play();
                isPlaying = true;
                playButtonElement.innerHTML = '<i class="bx bx-pause"></i>';
            }
        }

        function updateTime() {
            const currentTime = formatTime(audioElement.currentTime);
            const totalTime = formatTime(audioElement.duration);
            currentTimeElement.textContent = currentTime;
            totalTimeElement.textContent = totalTime;
            const progressPercentage = (audioElement.currentTime / audioElement.duration) * 100;
            audioProgressBarElement.style.width = `${progressPercentage}%`;

            if (audioElement.currentTime === audioElement.duration) {
                isPlaying = false;
                playButtonElement.innerHTML = '<i class="bx bx-play"></i>';
            }
        }

        function formatTime(time) {
            const minutes = Math.floor(time / 60);
            const seconds = Math.floor(time % 60);
            const formattedTime = `${minutes.toString().padStart(2, '0')}:${seconds.toString().padStart(2, '0')}`;
            return formattedTime;
        }

        function seek(e) {
            const progressBarWidth = audioProgressElement.offsetWidth;
            const clickX = e.offsetX;
            const progressPercentage = (clickX / progressBarWidth) * 100;
            const currentTime = (progressPercentage / 100) * audioElement.duration;
            audioElement.currentTime = currentTime;
            audioProgressBarElement.style.width = `${progressPercentage}%`;
        }

        function updateSpeed() {
            audioElement.playbackRate = speedInput.value;
        }

        function updateVolume() {
            audioElement.volume = volumeInput.value;
        }

        audioElement.addEventListener('timeupdate', updateTime);
        playButtonElement.addEventListener('click', togglePlay);
        audioProgressElement.addEventListener('click', seek);
        speedInput.addEventListener('input', updateSpeed);
        volumeInput.addEventListener('input', updateVolume);
    }

    initAudioPlayer("{{ $audioId }}");
</script>