{{ $text := .Get 0 }}

{{ if ne $text "" }}
<span class="blurred-text">{{ $text }}</span>
{{ end }}

<style>
    .blurred-text {
        position: relative;
        display: inline-block;
        text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
        filter: blur(3px);
        transition: filter 0.1s ease;
    }

    .blurred-text:hover {
        filter: blur(0);
    }
</style>