{{ $buttonCSS := resources.Get "css/shortcodes/button.css" }}
<link href="{{ $buttonCSS.RelPermalink }}" rel="stylesheet" integrity="{{ $buttonCSS.Data.Integrity }}" media="screen"
    rel="preload" crossorigin>
{{ $color := .Get "color" }}
{{ $size := .Get "size" }}
{{ $link := .Get "link" }}
{{ $icon := .Get "icon" }}

{{ if $link }}
<a href="{{ $link }}"
    class="button-outline button-{{ $color }} button-{{ $size }} m-1 inline-flex cursor-pointer items-center rounded transition">
    {{ if $icon }}
    <i class="{{ $icon }}"></i>
    {{ end }}
    <span>{{ .Get "content" | markdownify }}</span>
</a>
{{ else }}
<div
    class="button-outline button-{{ $color }} button-{{ $size }} m-1 inline-flex cursor-pointer items-center rounded transition">
    {{ if $icon }}
    <i class="{{ $icon }}"></i>
    {{ end }}
    <span>{{ .Get "content" | markdownify }}</span>
</div>
{{ end }}