{{ $buttonCSS := resources.Get "css/shortcodes/button.css" }}
<link href="{{ $buttonCSS.RelPermalink }}" rel="stylesheet" integrity="{{ $buttonCSS.Data.Integrity }}" media="screen">
{{ $content := .Get "content" }}
{{ $size := .Get "size" }}
{{ $color := .Get "color" }}
{{ $icon := .Get "icon" }}
{{ $link := .Get "link" }}

<a class="button {{ $size }} {{ $color }}" href="{{ $link }}">
    {{ if ne $icon "" }}<i class="{{ $icon }}"></i>&nbsp;{{ end }}
    {{ $content }}
</a>