{{ $carouselCSS := resources.Get "css/shortcodes/carousel.css" }}
<link href="{{ $carouselCSS.RelPermalink }}" rel="stylesheet" integrity="{{ $carouselCSS.Data.Integrity }}" media="screen" rel="preload" crossorigin>

{{ $carouselJS := resources.Get "js/shortcodes/carousel.js" | fingerprint }}
<script id="carousel-js-{{ .Ordinal }}" type="text/javascript" src="{{ $carouselJS.RelPermalink }}" integrity="{{ $carouselJS.Data.Integrity }}" defer></script>

{{ .Scratch.Set "height" (.Get "height") }}
{{ .Scratch.Set "unit" (.Get "unit") }}
{{ .Scratch.Set "ordinal" .Ordinal }}
{{ .Scratch.Set "items" (.Get "items") }}

{{ $images := split (.Get "images") "," }}

<div id="carousel{{ .Ordinal }}" class="carousel" duration="{{ .Get "duration" }}">
    <ul>
        {{ range $index, $slide := $images }}
        {{ $slideNum := add $index 1 }}
        <li id="c{{ $.Scratch.Get "ordinal" }}_slide{{ $slideNum }}"
            style="max-width: calc(100%/{{ $.Scratch.Get "items" }}); padding-bottom: {{ $.Scratch.Get "height" }}{{ $.Scratch.Get "unit" }};">
            <div class="slide-image">
                <img src="{{ $slide }}" alt="">
            </div>
            <div class="slide-caption"></div>
        </li>
        {{ end }}
    </ul>
    <ol>
        {{ range $index, $slide := $images }}
        {{ $slideNum := add $index 1 }}
        <li><a href="#c{{ $.Scratch.Get "ordinal" }}_slide{{ $slideNum }}"></a></li>
        {{ end }}
    </ol>
    <div class="prev">&lsaquo;</div>
    <div class="next">&rsaquo;</div>
</div>
