{{ $chartID := .Get 0 }}
{{ $chartType := .Get 1 }}
{{ $chartData := .Get 2 | safeJS }}
{{ $chartOptions := .Get 3 | safeJS }}

<canvas id="{{ $chartID }}"></canvas>

{{ $chartJS := resources.Get "js/shortcodes/chart.umd.js" | minify | fingerprint }}
<script type="text/javascript" src="{{ $chartJS.RelPermalink }}" integrity="{{ $chartJS.Data.Integrity }}"
  defer></script>

<script async>
  document.addEventListener("DOMContentLoaded", function() {
    var ctx = document.getElementById("{{ $chartID }}").getContext("2d");
    new Chart(ctx, {
      type: "{{ $chartType }}",
      data: {{ $chartData }},
      options: {{ $chartOptions }}
    });
  });
</script>
