<div class="mermaid">
    {{ .Inner }}
</div>

<style>
    .mermaid {
        max-width: 100%;
        margin-bottom: 1.5rem;
    }
</style>

{{ $mermaidJS := resources.Get "js/shortcodes/mermaid.min.js" | minify | fingerprint }}
<script type="text/javascript" src="{{ $mermaidJS.RelPermalink }}" integrity="{{ $mermaidJS.Data.Integrity }}"
    defer></script>
<script async>
    document.addEventListener('DOMContentLoaded', function () {
        mermaid.initialize({
            startOnLoad: true,
            theme: 'default',
            fontFamily: 'Arial, sans-serif',
            flowchart: { curve: 'linear' },
            sequence: { actorMargin: 50 },
            gantt: { axisFormat: '%Y-%m-%d' },
        });
    });
</script>

