{{ $id := .Get "id" }}
{{ $url := .Get "url" }}
{{ $format := .Get "format" }}
{{ $imgWidth := .Get "imgWidth" }}
{{ $imgHeight := .Get "imgHeight" }}

<style>
    #{{ $id }} {
        width: 100%;
        height: 400px;
        max-width: 800px;
        margin: 0 auto;
    }

    @media screen and (max-width: 767px) {
        #{{ $id }} {
            height: 300px;
        }
    }
</style>

<div id="{{ $id }}"></div>
<script src="//openseadragon.github.io/openseadragon/openseadragon.min.js"></script>
<script async>
    var tileSource = {
        Image: {
            xmlns: "http://schemas.microsoft.com/deepzoom/2008",
            Url: "{{ $url }}",
            Format: "{{ $format }}",
            TileSize: "512",
            Size: {
                Width: "{{ $imgWidth }}",
                Height: "{{ $imgHeight }}"
            }
        }
    };

    var viewer = OpenSeadragon({
        id: "{{ $id }}",
        prefixUrl: "//openseadragon.github.io/openseadragon/images/",
        tileSources: tileSource
    });
</script>
