{{ $src := .Get "src" }}
{{ $alt := .Get "alt" | default "" }}
{{ $width := .Get "width" | default "auto" }}
{{ $height := .Get "height" | default "auto" }}
{{ $loading := .Get "loading" | default "lazy" }}

<figure>
    {{ partial "picture.html" (dict 
        "src" $src
        "alt" $alt
        "width" $width
        "height" $height
        "loading" $loading
    ) }}
    {{ with .Get "caption" }}<figcaption>{{ . }}</figcaption>{{ end }}
</figure> 