{{ $src := .Get "src" }}
{{ $caption := .Get "caption" | default "" }}
{{ $alt := .Get "alt" | default $caption }}
{{ $thumbnail := .Get "thumbnail" | default $src }}

<div class="gallery-item" data-src="{{ $src }}" data-caption="{{ $caption }}">
  <img src="{{ $thumbnail }}" alt="{{ $alt }}" loading="lazy">
  {{ with $caption }}
  <div class="gallery-item-caption">{{ . }}</div>
  {{ end }}
</div> 