{{ $galleryCSS := resources.Get "css/gallery.css" | minify | fingerprint }}
{{ $galleryJS := resources.Get "js/gallery.js" | minify | fingerprint }}

<link href="{{ $galleryCSS.RelPermalink }}" rel="stylesheet" integrity="{{ $galleryCSS.Data.Integrity }}" media="screen" rel="preload" crossorigin>
<script defer src="{{ $galleryJS.RelPermalink }}" integrity="{{ $galleryJS.Data.Integrity }}"></script>


{{ $columns := .Get "columns" | default "3" }}
{{ $spacing := .Get "spacing" | default "10" }}
{{ $class := .Get "class" | default "" }}

<div class="gallery-wrapper {{ $class }}">
  <div class="gallery-grid" data-columns="{{ $columns }}" data-spacing="{{ $spacing }}">
    {{ .Inner }}
  </div>
</div>

<div class="gallery-modal">
  <span class="gallery-close">&times;</span>
  <div class="gallery-modal-content">
    <img class="gallery-modal-image" src="" alt="">
    <div class="gallery-caption"></div>
    <a class="gallery-prev">&#10094;</a>
    <a class="gallery-next">&#10095;</a>
  </div>
</div> 