<div class="gitlab-repo-card">
    <a href="https://gitlab.com/{{ .Get 0 }}/{{ .Get 1 }}">
        <img src="https://gitlab.com/{{ .Get 0 }}/{{ .Get 1 }}/badges/main/pipeline.svg" alt="{{ .Get 1 }} pipeline">
    </a>
</div>