{{ $postURL := .Get "url" }}
{{ $postID := index (split $postURL "/") 4 }}
<blockquote class="instagram-media" data-instgrm-permalink="https://www.instagram.com/p/{{ $postID }}/"></blockquote>
<script async src="https://www.instagram.com/embed.js"></script>

<style>
    .instagram-media {
        min-height: 60% !important;
        width: 60% !important;
        margin-bottom: 10rem;
    }
</style>