{{ $text := .Get 0 }}
{{ $style := .Get 1 | default "default" }}

{{ if ne $text "" }}
<div class="divided-line divided-line-{{ $style }}">
    <div class="line"></div>
    <span class="text">{{ $text }}</span>
    <div class="line"></div>
</div>
{{ else }}
<hr class="simple-line">
{{ end }}

<style>
    /* Base styles for lines */
    .divided-line {
        --line-color: var(--line-color-light, rgba(0, 0, 0, 0.12));
        --text-color: var(--text-color-light, #555);
        --bg-color: var(--bg-color-light, #fff);
        --shadow-color: var(--shadow-color-light, rgba(0, 0, 0, 0.08));
        
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        margin: 2rem 0;
        opacity: 0;
        transform: translateY(10px);
        animation: fadeInUp 0.5s ease forwards;
    }

    .divided-line .line {
        flex-grow: 1;
        height: 1px;
        background: var(--line-color);
        transition: all 0.3s ease;
    }

    .divided-line .text {
        padding: 0.5rem 1rem;
        font-size: 0.95rem;
        font-weight: 500;
        color: var(--text-color);
        background: var(--bg-color);
        border-radius: 20px;
        box-shadow: 0 2px 8px var(--shadow-color);
        transition: all 0.3s ease;
        white-space: nowrap;
    }

    /* Simple line style */
    .simple-line {
        border: none;
        height: 1px;
        background: var(--line-color);
        margin: 2rem 0;
        transition: all 0.3s ease;
        opacity: 0;
        animation: fadeIn 0.5s ease forwards;
    }

    /* Style variants */
    .divided-line-gradient .line {
        background: linear-gradient(90deg, transparent, var(--line-color) 15%, var(--line-color) 85%, transparent);
    }

    .divided-line-dots .line {
        background-image: repeating-linear-gradient(90deg, var(--line-color) 0px, var(--line-color) 4px, transparent 4px, transparent 8px);
    }

    .divided-line-dashed .line {
        background-image: repeating-linear-gradient(90deg, var(--line-color) 0px, var(--line-color) 8px, transparent 8px, transparent 16px);
    }

    .divided-line-wave .line {
        height: 2px;
        background: linear-gradient(45deg, transparent, var(--line-color) 25%, transparent 50%, var(--line-color) 75%, transparent);
        background-size: 15px 15px;
        animation: moveWave 20s linear infinite;
    }

    /* Animations */
    @keyframes fadeInUp {
        from {
            opacity: 0;
            transform: translateY(10px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    @keyframes moveWave {
        from {
            background-position: 0 0;
        }
        to {
            background-position: 100% 0;
        }
    }

    /* Dark mode support */
    @media (prefers-color-scheme: dark) {
        .divided-line {
            --line-color: var(--line-color-dark, rgba(255, 255, 255, 0.15));
            --text-color: var(--text-color-dark, #e1e1e1);
            --bg-color: var(--bg-color-dark, #2a2a2a);
            --shadow-color: var(--shadow-color-dark, rgba(0, 0, 0, 0.3));
        }

        .simple-line {
            background: var(--line-color-dark, rgba(255, 255, 255, 0.15));
        }
    }

    /* Mobile optimization */
    @media only screen and (max-width: 768px) {
        .divided-line {
            margin: 1.5rem 0;
            gap: 0.75rem;
        }

        .divided-line .text {
            padding: 0.4rem 0.8rem;
            font-size: 0.9rem;
        }

        .simple-line {
            margin: 1.5rem 0;
        }
    }

    /* Print optimization */
    @media print {
        .divided-line {
            --line-color: #000;
            --text-color: #000;
            --bg-color: #fff;
            --shadow-color: transparent;
            break-inside: avoid;
        }

        .divided-line .text {
            box-shadow: none;
        }

        .simple-line {
            background: #000;
            break-inside: avoid;
        }
    }
</style>