{{ $title := .Get "title" }}
{{ $url := .Get "url" }}
{{ $desc := .Get "desc" }}
{{ $img := .Get "img" }}

<a href="{{ $url }}" class="link-card" target="_blank" rel="noopener noreferrer">
    <div class="link-card-content">
        <h3 class="link-card-title">{{ $title }}</h3>
        <p class="link-card-description">{{ $desc }}</p>
        <span class="link-card-url">
            <i class='bx bx-link-external'></i>
            {{ $url }}
        </span>
    </div>
    {{ if $img }}
    <div class="link-card-image">
        {{ partial "picture.html" (dict 
            "src" $img
            "alt" $title
            "loading" "lazy"
            "decoding" "async"
            "width" "350"
            "height" "197"
            "aspectRatio" "16/9"
        ) }}
    </div>
    {{ end }}
</a>

<style>
    .link-card {
        display: flex;
        background-color: #222326;
        border: 1px solid #2a2b2e;
        border-radius: 12px;
        overflow: hidden;
        transition: all 0.2s ease;
        margin: 1.5rem 0;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        text-decoration: none;
        position: relative;
        gap: 1rem;
    }

    .link-card:hover {
        box-shadow: 0 4px 20px rgba(79, 70, 229, 0.2);
        text-decoration: none !important;
    }

    .link-card-content {
        flex: 1;
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        min-width: 0;
    }

    .link-card-title {
        margin: 0 !important;
        color: #4f46e5 !important;
        text-decoration: none;
        font-size: 1.25rem;
        font-weight: 600;
        line-height: 1.4;
        overflow-wrap: break-word;
    }

    .link-card-description {
        color: #9ca3af;
        font-size: 0.95rem;
        line-height: 1.6;
        margin: 0 !important;
        overflow-wrap: break-word;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .link-card-url {
        color: #6b7280;
        font-size: 0.85rem;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin-top: auto;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .link-card-url i {
        font-size: 1rem;
        color: #4f46e5;
        transition: transform 0.2s ease;
    }

    .link-card-image {
        max-width: 350px;
        min-width: 250px;
        position: relative;
        background-color: #1a1b1e;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
    }

    .link-card-image picture,
    .link-card-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        aspect-ratio: 16/9;
        transition: transform 0.3s ease;
        will-change: transform;
    }

    @media (max-width: 768px) {
        .link-card {
            flex-direction: column;
            gap: 0;
        }

        .link-card-image {
            width: 100%;
            min-width: unset;
            max-width: none;
            order: -1;
        }

        .link-card-image picture,
        .link-card-image img {
            aspect-ratio: 21/9;
        }

        .link-card-content {
            padding: 1.25rem;
        }

        .link-card-title {
            font-size: 1.1rem;
        }

        .link-card-description {
            font-size: 0.9rem;
        }

        .link-card-url {
            font-size: 0.8rem;
        }
    }

    @media (prefers-reduced-motion: reduce) {
        .link-card,
        .link-card-image img,
        .link-card-url i {
            transition: none;
        }
    }

    @media (hover: none) {
        .link-card:active {
            transform: translateY(-1px);
            border-color: #4f46e5;
        }

        .link-card:active .link-card-image img {
            transform: scale(1.02);
        }
    }
</style>