{{ $math := .Inner }}
<div class="latex-math">
    {{ $math | safeHTML }}
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/latest.js?config=TeX-MML-AM_CHTML" defer></script>

{{/*  {{ $mathjaxJS := resources.Get "js/shortcodes/mathjax.js" | minify | fingerprint }}
<script type="text/javascript" src="{{ $mathjaxJS.RelPermalink }}" integrity="{{ $mathjaxJS.Data.Integrity }}"
    defer></script>  */}}