{{ $noticeType := .Get 0 }}
{{ $content := .Inner }}

<div class="notice {{ $noticeType }}">
    <div class="icon">
        {{ if eq $noticeType "success" }}
        <i class='bx bxs-check-circle'></i>
        {{ else if eq $noticeType "info" }}
        <i class='bx bxs-info-circle'></i>
        {{ else if eq $noticeType "warning" }}
        <i class='bx bxs-error-circle'></i>
        {{ else if eq $noticeType "error" }}
        <i class='bx bxs-x-circle'></i>
        {{ end }}
    </div>
    <div class="content">
        {{ $content | markdownify }}
    </div>
</div>

<style>
    .notice {
        display: flex;
        padding: 10px;
        margin-bottom: 20px;
        border-radius: 4px;
    }

    .notice .icon {
        display: flex;
        align-items: center;
    }

    .notice .content {
        margin-left: 0.5rem;
    }

    .success {
        background-color: #dff0d8;
        color: #3c763d;
        border: 1px solid #d6e9c6;
    }

    .info {
        background-color: #d9edf7;
        color: #31708f;
        border: 1px solid #bce8f1;
    }

    .warning {
        background-color: #fcf8e3;
        color: #8a6d3b;
        border: 1px solid #faebcc;
    }

    .error {
        background-color: #f2dede;
        color: #a94442;
        border: 1px solid #ebccd1;
    }
</style>