{{ $pinURL := .Get "url" }}
{{ $pinID := index (split $pinURL "/") (sub (len (split $pinURL "/")) 2) }}

<script src="//assets.pinterest.com/js/pinit.js" defer></script>
<a data-pin-do="embedPin" data-pin-width="medium" href="https://www.pinterest.com/pin/{{ $pinID }}/"></a>
