{{ $progressValue := .Get 0 }}
{{ $progressType := .Get 1 }}
{{ $progressName := .Get 2 }}

<div class="progress-container">
    <div class="progress-header">
        <span class="progress-name">{{ $progressName }}</span>
        <span class="progress-percentage" data-value="{{ $progressValue }}">0%</span>
    </div>
    <div class="progress">
        <div class="progress-bar progress-{{ $progressType }}" role="progressbar" 
            aria-valuenow="{{ $progressValue }}" aria-valuemin="0" aria-valuemax="100" 
            data-value="{{ $progressValue }}" style="width: 0%">
            <div class="progress-glow"></div>
        </div>
    </div>
</div>

<style>
    .progress-container {
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: 100%;
        margin: 1rem 0;
        opacity: 0;
        transform: translateY(10px);
        animation: fadeInUp 0.5s ease forwards;
    }

    .progress-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2px;
    }

    .progress-name {
        font-size: 0.95rem;
        font-weight: 500;
        color: var(--text-color, #2c3e50);
    }

    .progress-percentage {
        font-size: 0.9rem;
        font-weight: 600;
        color: var(--text-color, #2c3e50);
        opacity: 0.9;
        transition: all 0.3s ease;
    }

    .progress {
        height: 8px;
        background-color: var(--progress-bg, rgba(0, 0, 0, 0.05));
        border-radius: 20px;
        overflow: hidden;
        position: relative;
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05);
    }

    .progress-bar {
        height: 100%;
        border-radius: 20px;
        transition: width 1s cubic-bezier(0.4, 0, 0.2, 1);
        position: relative;
        overflow: hidden;
    }

    .progress-glow {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(90deg, 
            transparent 0%, 
            rgba(255, 255, 255, 0.15) 50%, 
            transparent 100%);
        animation: glowingEffect 2s linear infinite;
    }

    /* Progress Bar Colors with Modern Gradients */
    .progress-theme {
        background: linear-gradient(90deg, #3498db, #2980b9);
    }

    .progress-red {
        background: linear-gradient(90deg, #e74c3c, #c0392b);
    }

    .progress-green {
        background: linear-gradient(90deg, #2ecc71, #27ae60);
    }

    .progress-blue {
        background: linear-gradient(90deg, #3498db, #2980b9);
    }

    .progress-orange {
        background: linear-gradient(90deg, #f39c12, #d35400);
    }

    /* Hover Effects */
    .progress-container:hover .progress-bar {
        filter: brightness(1.1);
    }

    .progress-container:hover .progress-percentage {
        transform: scale(1.05);
    }

    /* Animations */
    @keyframes fadeInUp {
        from {
            opacity: 0;
            transform: translateY(10px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes glowingEffect {
        0% {
            transform: translateX(-100%);
        }
        100% {
            transform: translateX(100%);
        }
    }

    /* Dark Mode Support */
    @media (prefers-color-scheme: dark) {
        .progress-name,
        .progress-percentage {
            color: var(--text-color-dark, #e1e1e1);
        }

        .progress {
            background-color: var(--progress-bg-dark, rgba(255, 255, 255, 0.1));
        }
    }

    /* Mobile Optimization */
    @media only screen and (max-width: 768px) {
        .progress-container {
            margin: 0.75rem 0;
        }

        .progress {
            height: 6px;
        }

        .progress-name {
            font-size: 0.9rem;
        }

        .progress-percentage {
            font-size: 0.85rem;
        }
    }
</style>

<script>
document.addEventListener('DOMContentLoaded', function() {
    const progressBars = document.querySelectorAll('.progress-bar');
    const percentages = document.querySelectorAll('.progress-percentage');

    // Intersection Observer for animation
    const observer = new IntersectionObserver((entries) => {
        entries.forEach(entry => {
            if (entry.isIntersecting) {
                const progressBar = entry.target;
                const container = progressBar.closest('.progress-container');
                const percentage = container.querySelector('.progress-percentage');
                const targetValue = parseInt(progressBar.dataset.value);
                
                // Animate progress bar
                progressBar.style.width = targetValue + '%';
                
                // Animate percentage counter
                let currentValue = 0;
                const duration = 1000; // 1 second
                const steps = 60;
                const increment = targetValue / steps;
                const stepDuration = duration / steps;

                const counter = setInterval(() => {
                    currentValue += increment;
                    if (currentValue >= targetValue) {
                        currentValue = targetValue;
                        clearInterval(counter);
                    }
                    percentage.textContent = Math.round(currentValue) + '%';
                }, stepDuration);

                // Unobserve after animation
                observer.unobserve(progressBar);
            }
        });
    }, {
        threshold: 0.1
    });

    // Observe all progress bars
    progressBars.forEach(bar => observer.observe(bar));
});
</script>