<blockquote class="custom-blockquote">
    <div class="quote-wrap">
        <p>{{ .Inner | markdownify }}</p>
        {{ if .Get "author" }}
        <span class="quote-author">~ {{ .Get "author" }}</span>
        {{ end }}
    </div>
    <button class="copy-btn" onclick="copyToClipboard(this)">
        <i class='bx bxs-copy'></i>
    </button>
    <span class="copy-message">Copied!</span>
</blockquote>

<style>
    .custom-blockquote {
        display: block;
        background-color: #222;
        color: #fff;
        padding: 1.5em 1em 0.5em;
        margin: 1em;
        position: relative;
        border-radius: 1em;
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    }

    .custom-blockquote .quote-wrap {
        position: relative;
        padding-left: 1em;
    }

    .custom-blockquote p {
        color: #fff;
        font-size: 1.1em;
        font-style: italic;
    }

    .custom-blockquote:before {
        content: '\201C';
        position: absolute;
        margin-top: 1.5rem;
        left: 50%;
        text-align: center;
        transform: translate(-50%, -50%);
        font: 8em/1em 'PT Sans', sans-serif;
        color: #ff8800;
    }

    .custom-blockquote .quote-author {
        display: block;
        text-align: right;
        color: #bbb;
        margin-top: 10px;
        font-style: normal;
    }

    .custom-blockquote .copy-btn {
        display: none;
    }

    .custom-blockquote:hover .copy-btn {
        display: flex;
        position: absolute;
        top: 0.5em;
        right: 0.5em;
        border: none;
        border-radius: 6px;
        padding: .5em;
        cursor: pointer;
        background-color: #343c3b;
        color: #fff;
        transition: background-color 0.3s ease;
    }

    .copy-btn:hover {
        background-color: #333;
    }

    .copy-message {
        position: absolute;
        top: 0.1em;
        right: 1.5em;
        color: white;
        padding: 0.5em 1em;
        border-radius: 5px;
        display: none;
    }
</style>

<script defer>
    function copyToClipboard(button) {
        var elementToCopy;
        var blockquote = button.parentNode;

        if (blockquote.tagName.toLowerCase() === "blockquote") {
            elementToCopy = blockquote.querySelector(".quote-wrap").innerText;
        } else {
            elementToCopy = blockquote.querySelector("p").innerText;
        }

        navigator.clipboard.writeText(elementToCopy)
            .then(function () {
                var copyMessage = blockquote.querySelector(".copy-message");
                copyMessage.style.display = "block";

                setTimeout(function () {
                    copyMessage.style.display = "none";
                }, 2000);
            })
            .catch(function (err) {
                console.error('Kopyalama başarısız oldu: ', err);
            });
    }
</script>