{{ $name := .Get "name" | default "Spoiler" }}
{{ $type := .Get "type" | default "default" }}
{{ $icon := .Get "icon" | default "▶" }}
{{ $content := .Inner }}

<div class="spoiler-container spoiler-{{ $type }}" data-state="closed">
    <button class="spoiler-toggle" aria-expanded="false" aria-controls="spoiler-content-{{ .Ordinal }}" onclick="toggleSpoiler(this)">
        <span class="spoiler-icon">{{ $icon }}</span>
        <span class="spoiler-title">{{ $name }}</span>
    </button>
    <div id="spoiler-content-{{ .Ordinal }}" class="spoiler-content" aria-hidden="true">
        {{ $content | markdownify }}
    </div>
</div>

<style>
    .spoiler-container {
        --spoiler-bg: var(--spoiler-bg-light, #f8f9fa);
        --spoiler-border: var(--spoiler-border-light, #e9ecef);
        --spoiler-text: var(--spoiler-text-light, #212529);
        --spoiler-hover: var(--spoiler-hover-light, #e9ecef);
        --spoiler-shadow: var(--spoiler-shadow-light, rgba(0, 0, 0, 0.1));
        
        margin: 1rem 0;
        border-radius: 8px;
        background: var(--spoiler-bg);
        border: 1px solid var(--spoiler-border);
        overflow: hidden;
        transition: all 0.3s ease;
    }

    .spoiler-toggle {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 0.75rem;
        padding: 1rem;
        background: none;
        border: none;
        color: var(--spoiler-text);
        cursor: pointer;
        font-size: 1rem;
        text-align: left;
        transition: all 0.3s ease;
    }

    .spoiler-toggle:hover {
        background: var(--spoiler-hover);
    }

    .spoiler-toggle:focus {
        outline: none;
        box-shadow: 0 0 0 2px var(--spoiler-border);
    }

    .spoiler-icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        transition: transform 0.3s ease;
        font-size: 0.8em;
    }

    [data-state="open"] .spoiler-icon {
        transform: rotate(90deg);
    }

    .spoiler-title {
        font-weight: 500;
        flex-grow: 1;
    }

    .spoiler-content {
        padding: 0;
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        transform: translateY(-10px);
        transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    }

    [data-state="open"] .spoiler-content {
        padding: 1rem;
        max-height: 2000px;
        opacity: 1;
        transform: translateY(0);
        border-top: 1px solid var(--spoiler-border);
    }

    /* Style Variants */
    .spoiler-minimal {
        border: none;
        background: transparent;
    }

    .spoiler-minimal .spoiler-toggle {
        padding: 0.75rem 0;
    }

    .spoiler-minimal .spoiler-content {
        padding-left: 0;
        padding-right: 0;
    }

    .spoiler-card {
        box-shadow: 0 2px 8px var(--spoiler-shadow);
    }

    .spoiler-outlined {
        background: transparent;
        border: 2px solid var(--spoiler-border);
    }

    /* Animation Variants */
    .spoiler-fade .spoiler-content {
        transition: opacity 0.3s ease, max-height 0.3s ease;
        transform: none;
    }

    .spoiler-slide .spoiler-content {
        transition: transform 0.3s ease, max-height 0.3s ease, opacity 0.2s ease;
    }

    /* Dark Mode Support */
    @media (prefers-color-scheme: dark) {
        .spoiler-container {
            --spoiler-bg: var(--spoiler-bg-dark, #2d2d2d);
            --spoiler-border: var(--spoiler-border-dark, #404040);
            --spoiler-text: var(--spoiler-text-dark, #e1e1e1);
            --spoiler-hover: var(--spoiler-hover-dark, #353535);
            --spoiler-shadow: var(--spoiler-shadow-dark, rgba(0, 0, 0, 0.3));
        }
    }

    /* Print Styles */
    @media print {
        .spoiler-container {
            border: 1px solid #ddd !important;
            break-inside: avoid;
        }

        .spoiler-content {
            max-height: none !important;
            opacity: 1 !important;
            transform: none !important;
            padding: 1rem !important;
        }

        .spoiler-toggle {
            display: none;
        }
    }

    /* Reduced Motion */
    @media (prefers-reduced-motion: reduce) {
        .spoiler-container,
        .spoiler-toggle,
        .spoiler-icon,
        .spoiler-content {
            transition: none !important;
        }
    }
</style>

<script>
// Simple global function to toggle spoilers
function toggleSpoiler(toggle) {
    const spoiler = toggle.closest('.spoiler-container');
    const content = spoiler.querySelector('.spoiler-content');
    const isOpen = spoiler.getAttribute('data-state') === 'open';
    
    // Update state
    spoiler.setAttribute('data-state', isOpen ? 'closed' : 'open');
    toggle.setAttribute('aria-expanded', isOpen ? 'false' : 'true');
    content.setAttribute('aria-hidden', isOpen ? 'true' : 'false');
}

// Add keyboard support
document.addEventListener('keydown', function(e) {
    if ((e.key === 'Enter' || e.key === ' ') && e.target.classList.contains('spoiler-toggle')) {
        e.preventDefault();
        toggleSpoiler(e.target);
    }
});
</script>