{{ $tabCSS := resources.Get "css/shortcodes/tab.css" }}
<link href="{{ $tabCSS.RelPermalink }}" rel="stylesheet" integrity="{{ $tabCSS.Data.Integrity }}" media="screen" rel="preload" crossorigin>

{{ $tabJS := resources.Get "js/shortcodes/tab.js" }}
<script type="text/javascript" src="{{ $tabJS.RelPermalink }}" integrity="{{ $tabJS.Data.Integrity }}" defer></script>

{{ with .Inner }}{{ end }}
{{ $groupId := default "default" (.Get 0) }}

<div class="tab" data-tab-group="{{ $groupId }}">
  <ul class="tab-nav" data-tab-nav>
    {{ range $idx, $tab := .Scratch.Get "tabs" }}
      <li
        class="tab-nav-item {{ cond (eq $idx 0) `active` `` }}"
        data-tab="{{ .name | urlize }}" tabindex="{{ cond (eq $idx 0) `0` `-1` }}">
        {{ .name }}
      </li>
    {{ end }}
  </ul>
  <div class="tab-content" data-tab-content>
    {{ range $idx, $tab := .Scratch.Get "tabs" }}
      <div
        class="tab-content-panel {{ cond (eq $idx 0) `active` `` }}"
        data-tab-panel="{{ .name | urlize }}">
        {{ .content  | markdownify }}
      </div>
    {{ end }}
  </div>
</div>
