{{ $alignment := .Get 0 }}
{{ $content := .Get 1 }}

<div class="text-{{ $alignment }}">
    {{ $content }}
</div>

<style>
    .text-left {
        text-align: left;
    }

    .text-center {
        text-align: center;
    }

    .text-right {
        text-align: right;
    }
</style>