{{ $videoURL := .Get 0 }}
{{ $width := .Get 1 }}
{{ $height := .Get 2 }}

<div class="video-container">
    <video src="{{ $videoURL }}" width="{{ $width }}" height="{{ $height }}" frameborder="0" allowfullscreen
        controls></video>
</div>

<style>
    .video-container {
        position: relative;
        max-width: 100%;
    }

    .video-container video {
        width: 100%;
        height: auto;
        display: block;
    }
</style>